#worlds-memberships-index {

  #add-member {
    @include columns(6);

    fieldset.username {
      position: relative;
      margin-bottom: $line * 2;
    }

    img.loading {
      position: absolute;
      top: $line * 3;
      left: -2 * $gutter;
    }
  }

  section.members {
    margin-bottom: $line * 8;

    .meta {
      @include columns(6);

      .actions {
        @include clearfix;

        .approve {
          @include button($green, white, $blue);
        }

        .ignore {
          @include button(darken(white, 20%), white, $blue);
        }

        .approve, .ignore {
          padding: $line $gutter;
          margin: 0;
          margin-bottom: $line;

          font-size: 12px; line-height: $line * 2;
        }
      }
    }

    ul {
      margin: 0 (-$pad);
      li {
        overflow: auto;
        margin: (2*$line) $pad;

        a.avatar {
          float: left;
          display: block;
          margin-right: $pad;

          img {
            display: block;
          }
        }

        .meta {
          float: left;
          line-height: 4*$line;

          .username {
            color: rgba(black, 0.8);
          }
        }
      }
    }
  }
}
