<header class="header-global">
  <div class="header-global-inner">
    <%= render partial: 'shared/header/brand' %>
    <%= render partial: 'shared/header/info' %>
    <nav class="heaver-nav">
      <%= render partial: 'shared/header/nav' %>
    </nav>
  </div>
</header>
