%header#shared-header-photos
  .container
    %h1
      = link_to photos_url do
        Minefold
        %span.photos Photos
        %em Beta!

    %ol#nav
      %li= link_to '&larr; Back to Minefold'.html_safe, root_url
