.worlds-list-horizontal {
  @include row;
  > .world-card {
    @include gridColumn;
  }
}


#worlds-index {

  .worlds {
    @include row;

    .world-card {
      @include gridColumn;
      margin-bottom: $line * 4;
    }
  }

  .pagination {
    clear: both;
    margin-bottom: $line * 12;
  }
}
