#worlds-invite {

  h1 {
    position: relative;

    .skip {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  
  .fb {
    float: left;
  }

  input.name {
    @include columns(4);
    font-family: $proxima;
    font-size: 16px;
    line-height: 28px;
  }

  .friend {
    border-bottom: solid 1px #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    img {
      height: 30px;
      width: 30px;
      float: left;
      padding-right: 10px;
    }
    .btn {
      position: absolute;
      top: 14px;
      right: 0;
      line-height: 4px;
    }
  }

  #fb-ui-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    left: 106px;
  }

  #invites {
    @include columns(4);
    float: left;
  }

  #friends {
    @include offset(2);
    @include columns(4);

    float: left;

  }
}