#worlds-show  {

  #map {
    background: darken(white, 5%);
//    height: $line * 100;
    height: $line * 60;
  }

  .world-map-view {
    height: 100%;

    .world-map-control-view {
      margin: ($line * 4) $gutter;
      a {
        display: block; float: left;
        padding: $line ($gutter / 2);

        background-color: white; color: #666;
        font-size: 12px; font-weight: 600; line-height: $line * 4;

        @include box-shadow(0 1px 2px rgba(black, 0.5));
        @include border-radius(2px);

        cursor: pointer;
      }

      a.exit-fullscreen { display: none; }

    }

  }

  .is-fullscreen .world-map-view {
    position: fixed !important;
    top: 0; left: 0; right: 0; bottom: 0;
    .world-map-control-view a.enter-fullscreen { display: none; }
    .world-map-control-view a.exit-fullscreen { display: block; }
  }

  .empty {
    margin-top: $line * 4;
    color: darken(white, 40%); text-shadow: 0 1px 0 white;
    img { display: block; float: left; margin-right: $gutter/2; margin-top: 3px;}
  }

  article.info {
    padding: 2*$pad;
  }

  .world-meta {
    padding: ($line * 2) ($gutter / 2);
    @include clearfix;
//    background: darken(white, 5%);
//    @include box-shadow(inset 0 1px 0 rgba(black, 0.1));
    margin-bottom: $line * 4;

    .world-meta-players {
      margin-left: -$gutter / 2;
      margin-bottom: -$line;
      list-style-type: none;
      @include clearfix;

      li {
        float: left;
        margin-left: $gutter / 2;

        margin-bottom: $line;
      }

      img {
        display: block;
        background: white;
      }
      
      .avatar.online {
        @include box-shadow(0px 0px 10px rgba(225, 225, 0, 1));
        border: solid 1px yellow;
      }
    }

  }

  .stats {
    li { margin-bottom: 0; line-height: $line * 6 - 3px; border-bottom: 1px solid darken(white, 5%); }
    .val { font-size: 16px; font-weight: 600; color: black; }
  }

  #world-comments {
    h1 {
      font-size: 14px; color: darken(white, 100%);
      border-bottom: 1px solid darken(white, 20%);
      margin-bottom: $line * 0;
      line-height: $line * 6 - 1px; font-weight: normal;
    }

    .comment {
      list-style-type: none;
      margin: ($line * 2) 0;
      @include clearfix;
      border-bottom: 1px solid darken(white, 10%);

      h2 {
        font-size: 14px;

        line-height: $line * 3;
        margin-bottom: $line;
        font-weight: 600;

        a {
          cursor: pointer;
        }

        img {
          float: left;
          width: 40px;
          margin-right: $gutter;

        }

        .badge-link {display:none;}
      }

      .comment-body, .comment-meta {
        margin-left: 40px + $gutter;
      }

      .comment-body {
        font-size: 14px;

        p {
          margin-bottom: $line * 2;
        }
        *:last-child {
          margin-bottom: 0;
        }
      }
      .comment-meta {
        font-size: 11px;

        a {
          color: darken(white, 40%);
          &:hover { color: darken(white, 60%); }
        }

      }
    }
  }


}

.welcome {
  font-size: 14px;
  padding: ($line * 8) 0;
  text-align: center;
  line-height: $line * 8;

  color: black;

  background-image: url(image-path('terrain.png'));
  @include box-shadow(inset 0 ($line * 0) ($line * 1) rgba(black, 0.2));

  text-shadow: 0 1px 0 white;

  .host {
    display: block;
    font-weight: 900;
    font-size: 24px;
    color: $blue;
    margin-bottom: $line * 4;
    font-family: monospace;
  }

  .gentle-nudge {
    font-size: 14px;
    color: darken(white, 40%);
  }

  .share {
    height: 40px;
    width: 240px;
    margin: 0 auto;
    .twitter-share-button {
      float: left;
      margin-right: $gutter;
    }
    .facebook-post-button {
      float: left;
      @include inline-block;
      height: 24px;
      border: 1px solid #CCC;
      @include border-radius(4px);
      @include linear-gradient(white, #DEDEDE);
      color: #333;
      text-shadow: 0 1px 0 rgba(white, 0.5);

      font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 26px;
      @include box-sizing(border-box);
      height: 28px;

      cursor: pointer;

      padding: 0 7px 0 7px;

    }
  }
}

