<% title 'Servers' %>
<% layout :servers %>

<div class="page">
  <div class="page-header center">
    <h1>Servers</h1>
  </div>

  <%= render(partial: 'servers/list', object: @created_servers) %>

  <div class="page-section">
    <%= link_to 'Create a new server', new_server_path, class: %w(btn btn-large btn-block btn-primary) %>
  </div>
</div>
