#home-dashboard {
  #page {
    @include span(5);
  }

  #after-page {
    @include span(3);
  }

  .welcome {
    margin: 0 0 (4*$line) 0;
    padding: 0 (2*$gutter);
    background: lighten($blue, 50%);
    position: relative;
    overflow: hidden;
    @include border-radius(2*$radius);
    line-height: 24px;

    .heart {
      position: absolute;
      bottom: 48px;
      right: 0;
      font: 30px/24px $helvetica;
      color: white;
      font-size: 288px;
    }

    * { position: relative; z-index: 1;}
    .heart { z-index: 0;}

    h2 {
      font: 900 18px/24px $helvetica;
      font-weight: 1000;
      text-transform: uppercase;
      color: darken($blue, 20%);
    }

    p {
      padding-bottom: 2*$line;
    }

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: darken($blue, 20%);
      }
    }
  }

  .create {
    margin: 0;
    margin-bottom: 8*$line;

      .button {
        display: inline;
        padding: $line (2*$gutter);
        color: white;
        margin-right: $gutter;
        margin-bottom: $line;
      }
  }

  #after-page {
    .create {
      .button {
        text-align: center;
        display: block;
        margin: 0;
        margin-bottom: 2*$line;
      }
    }
  }

  .worlds {
    h2 {
      margin-top: 0;
      margin-bottom: 2*$line;
    }

    p {
      color: #666;
    }

    li {
      border-bottom: 1px solid darken(white, 10%);

      a {
        color: $blue;
        display: block;
        line-height: 4*$line;
        padding: $line;
        text-decoration: none;
        padding: $line $gutter;
        padding-bottom: $line - 1px;

        .user {
          color: rgba(black, 0.4);
        }
        .slash {
          color: rgba(black, 0.2);
        }
      }

      &:hover {
        background: lighten($blue, 50%);
        border-bottom-color: lighten($blue, 40%);
        a {
          color: darken($blue, 10%);
        }
      }

      &:last-child {
        border-bottom: none;
        a {padding-bottom: $line;}
      }

      &.active {
        background: $green;
        border-bottom-color: darken($green, 10%);
        text-shadow: 0 (-1px) 0 rgba(black, 0.1);

        a {
          color: white;
          color: lighten($green, 40%);
        }
        .user {
          color: rgba(white, 0.6);
        }

        .slash {
          color: rgba(white, 0.4);
        }
        .playing {
          float: right;
          font-weight: 600;
          color: lighten($green, 40%);
          text-shadow: 0 (-1px) 0 rgba(black, 0.2);
        }
        &:hover {
          border-bottom-color: darken($green, 20%);
          background-color: darken($green, 10%);
        }
      }


      .players {
        display: inline;
        float: right;
        margin-left: $gutter;
        color: #CCC;
        font-size: 12px;
      }

    }
  }

}
