#home-dashboard {
  #page {
    @include span(8);
  }

  #after-page {
    @include span(4)
  }

  .welcome {
    margin: 0 0 (4*$line) 0;
    padding: 0 (2*$gutter);
    background: #FFC;
    position: relative;
    overflow: hidden;
    @include border-radius(2*$radius);

    .heart {
      position: absolute;
      bottom: 48px;
      right: 0;
      font: 30px/24px $helvetica;
      color: white;
      font-size: 288px;
    }

    * { position: relative; z-index: 1;}
    .heart { z-index: 0;}

    h2 {
      font: 900 18px/24px $helvetica;
      font-weight: 1000;
      text-transform: uppercase;
      color: darken($blue, 20%);
    }

    p {
      padding-bottom: $line;
    }

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: darken($blue, 20%);
      }
    }
  }

  .create {
    margin: 0;
    margin-bottom: 8*$line;

      .button {
        display: inline;
        padding: $line (2*$gutter);
        color: white;
        margin-right: $gutter;
      }
  }

  .dshbrd {
    margin: 0 (-$gutter);
    margin-bottom: 2 * $line;
    overflow: auto;
//    border-bottom: 1px solid darken(white, 10%);
  }

  .worlds {
    @include span(4);
    float: left;
    h2 {
      margin-top: 0;
      margin-bottom: 2*$line;
    }

    p {
      color: #666;
    }

    li {
      a {
        color: $blue;
        display: block;
        line-height: 4*$line;
        padding: $line;
        text-decoration: none;

//        border-bottom: 1px solid darken(white, 5%);
        margin: 0 -($gutter/2);
        padding: $line ($gutter/2);

        .current {
          height: 8px;
          width: 8px;
          background: $green;
          @include border-radius(8px);
          float: left;
          margin: (24px - 8px)/2 0;
          margin-right: $gutter;
          margin-left: $gutter /2;
        }

        .user {
          color: #999;
        }
        .slash {
          color: #CCC;
        }

        &:hover {
          color: darken($blue, 20%);
          background: darken(white, 3%);
          .current {
            background-color: darken($green, 10%);
          }
        }
      }

      &:last-child a {
        border-bottom: none;
      }


      .players {
        display: inline;
        float: right;
        margin-left: $gutter;
        color: #CCC;
        font-size: 12px;
      }

    }
  }

}
