#home-index {

  #page {
    @include span(8);
    width: cols(8) + (2*$gutter);
    margin: 0;
  }

  header {
    padding-top: 8 * $line;
    padding-bottom: 0;

    h1 a, aside {
      line-height: 48px;
    }

    h1 a {
      padding: 0 $gutter 0 (60px + $gutter);
      font-size: 18px;
      background: url(image-path('logo-48.png')) 2px center no-repeat;
    }
  }

  #masthead {
    text-align: center;
    padding: 8*$line 0;

    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      margin: 0;
      float: none;
    }

    p {
      margin: 10px 0;
      padding: 6px 0;
      color: rgba(black, 0.5);
      font-weight: 500;
      line-height: 24px;
    }

    a.button {
      @include inline-block;
      margin: 0 auto;
      background-color: $green;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      padding: $line (2*$gutter);

      &:hover {
        background-color: darken($green, 10%);
      }
    }
  }


}

#plans, form#new_user {
  @include span(4);
  float: left;
}

#plans {
  margin-top: 18px;
  color: rgba(black, 0.6);

  p {
    margin: 0;
    margin-bottom: $line;
  }

  strong {
    color: #000;
  }

  table {
    width: 100%;
    text-align: center;
    margin: (2*$line) 0;
    padding: (4*$line) 0;
    background-color: darken(white, 5%);

    th {
      padding-top: $line;
      background: white;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      color: #000;
    }

    .price td {
      color: black;
    }

    .time {
    }
  }

  .highlight {
    background-color: #FFC;
    padding: 1px 2px;
  }

  .diamond {
    background-color: #0EBFE9;
    color: white;
    padding: 1px 2px;
  }


}

form#new_user {
  margin-bottom: 4*$line;
  input {
    width: 100%;
  }
}

#features {
  overflow: visible;
  margin-bottom: 4*$line;
  clear: both;

  strong {
    color: rgba(black, 0.9);
    padding: 1px 2px;
    background-color: #FFC;
  }

  li {
    @include span(4);
    float: left;
    h2 {
      font-weight: 600;
    }
    p {
      color: darken(white, 60%);
    }
  }
}
