#home-index {

  #page {
    @include span(8);
    width: cols(8) + (2*$gutter);
    margin: 0;
  }

  header {
    padding-top: 8 * $line;
    padding-bottom: 0;

    h1 a, aside {
      line-height: 48px;
    }

    h1 a {
      padding: 0 $gutter 0 (60px + $gutter);
      font-size: 18px;
      background: url(image-path('logo-48.png')) 2px center no-repeat;
    }
  }

  #masthead {
    .wrapper {
      padding: 0;
      width: cols(8) + (2*$gutter);
    }

    .left, .right {
      width: 10px + 60px + 10px;
    }


    .left, .center, .right {
      float: left;
    }

    img {
      margin: 10px;
      display: block;
      float: left;
      @include border-radius(3px);
    }

    .center {
      width: 6 * (10px + 60px + 10px) - 20px;
      background: white;
      height: 3 * (10px + 60px + 10px) - 20px;
      padding: 10px;
      text-align: center;
      line-height: 24px;
      @include border-radius(2 * $radius);
//      background: lighten($blue, 50%);

      h1 {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        margin: 0;
        padding: 24px 0 10px 0;
        float: none;
//        color: darken($blue, 30%);
      }

      .copy {
        margin: 10px 0;
        padding: 6px 0;
        color: rgba(black, 0.5);
        font-weight: 500;
        p {
          margin: 0;
        }
      }

      .signup {
        padding: 10px 0;
        strong {
          background: #FFC;
          color: #333;
          padding: 0 2px;
        }

        a, button {
          display: block;
          margin: 0 auto;
          @include linear-gradient(rgba(white, 0.05), rgba(black, 0.05));

          background-color: $blue;

          width: cols(4);
          font: 600 18px/36px $helvetica;
          color: white;
          border: none;
          @include border-radius($radius);
          text-shadow: 0 1px 0 darken($blue, 20%);
          padding: 0;
          text-decoration: none;
          margin-bottom: $line;

          &:hover {
            background-color: darken($blue, 10%);
          }
        }

        form {
          font-size: 12px;
          margin: 0;
          padding: 0;
          margin-top: -20px;

          p {
            margin-bottom: 3*$line;
            line-height: 20px;
            color: #999;
          }

          input {
            width: cols(3);
            padding: ($line - $border) ($gutter / 2);
            border: $border solid darken(white, 10%);
            @include border-radius($radius);
            font: 400 14px/18px $helvetica;
            outline: none;
            margin: 0;
            margin-right: $gutter;

            &:hover {
              border-color: darken(white, 20%);
            }
            &:focus {
              border-color: $blue;
            }
          }
          button {
            cursor: pointer;
            width: cols(2);
            line-height: 18px;
            @include inline-block;
            font-size: 14px;
            padding: $line $gutter;
          }
        }
      }
    }
  }


}

#plans, form#new_user {
  @include span(4);
  float: left;
}

#plans {


  .plan {
    overflow: hidden;
    padding: $line $gutter;
    margin-bottom: 2*$line;
    @include border-radius($radius);

    h3 {
      float: left;
      margin: $line 0;


      font-size: 21px;
      line-height: 24px;
      font-weight: 600;
    }

    .price {
      float: right;
      background: white;
      padding: 0 $gutter;
      margin: $line 0;
      @include border-radius($radius);

      .dollar {
        font-size: 10px;
        color: darken(white, 40%);
      }

      .amount {
        font-size: 16px;
        font-weight: 600;
      }

      .slash {
        color: darken(white, 20%);
      }

      .period {
        font-size: 12px;
        color: darken(white, 40%);
      }

    }

    .features {
      float: left;
      margin: 0;
    }


  }

  .plan.pro {
    background: lighten($blue, 40%);

    h3 {
      color: darken($blue, 30%);
    }

    .features {
      color: darken($blue, 10%);
    }
  }

  .plan.free {
    background: darken(white, 5%);

    .features {
      color: darken(white, 60%);
    }
  }

}

form#new_user {
  input {
    width: 100%;
  }
}

#features {
  overflow: visible;
  margin-bottom: 4*$line;
  clear: both;

  li {
    @include span(4);
    float: left;
    h2 {
      font-weight: 600;
    }
    p {
      color: darken(white, 60%);
    }
  }
}
