#home-index {

  #page {
    @include span(8);
    width: cols(8) + (2*$gutter);
    margin: 0;
  }

  header {
    padding-top: 8 * $line;
    padding-bottom: 0;

    h1 a, aside {
      line-height: 48px;
    }

    h1 a {
      padding: 0 $gutter 0 (60px + $gutter);
      font-size: 18px;
      background: url(image-path('logo-48.png')) 2px center no-repeat;
    }
  }

  #masthead {
    text-align: center;
    padding: (8*$line) 0;
    text-shadow: 0 1px 0 white;

    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      margin: 0;
      float: none;
    }

    p {
      margin-bottom: 4*$line;
      color: rgba(black, 0.5);
      font-weight: 500;
      line-height: 24px;
    }

    a.button {
      background-color: $green;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      padding: $line (2*$gutter);

      &:hover {
        background-color: darken($green, 10%);
      }
    }
  }

  #plans {
    margin-bottom: 8*$line;
    .hardcore {
      background-color: lighten($blue, 50%);
      color: darken($blue, 10%);
    }

    th.hardcore {
      color: darken($blue, 40%);
      border-color: lighten($blue, 40%);
      @include border-radius(6px 6px 0 0);
    }

    .price .hardcore {
      color: darken($blue, 20%);
    }

    .worlds .hardcore {
      @include border-radius(0 0 6px 6px);
    }
  }
}


#features {
  strong {
    color: rgba(black, 0.9);
    padding: 1px 2px;
    background-color: #FFC;
  }

  li {
    @include span(4);
    float: left;
    h2 {
      font-weight: 600;
    }
    p {
      color: darken(white, 60%);
    }
  }
}
