@import 'shared/vars';

#home-index {
  #banner {
    h2 {
      padding: 2 * $baseline;
      font-size: 40px;
      line-height: 72px;
      text-align: center;
      text-shadow: 0 1px 0 white;
      font-family: 'Nunito';
    }

    p {
      width: 6 * ($gutter + $col + $gutter) - (2 * $gutter);
      margin: 0 auto;
      text-align: center;
      margin-bottom: 2 * $baseline;
      color: #999;
    }

    form {
      color: darken($blue, 10%);
      text-align: center;
      margin-bottom: 4 * $baseline;
      div {
        margin-bottom: 2 * $baseline;
      }

      .email input {
        width: 3 * ($gutter + $col + $gutter) - (2 * $gutter);
        text-align: center;

        &::-webkit-input-placeholder, &::-moz-input-placeholder {
          text-align: center;
        }
      }
    }
  }

  footer.global {
    text-align: center;
  }
}
