#home-index {

  header {
    padding: (8 * $line) 0 (4 * $line - 1px);

    h1 a, aside {
      line-height: 24px;
    }

    h1 a {
      background: url(image-path('logo-48.png')) center left no-repeat;
      font-size: 18px;
      line-height: 24px;
      margin: -(2* $line) 0;
      padding: (2 * $line) $gutter (2*$line) (55px + $gutter);
    }
  }
}
