#home_public {

  #minecraft-username, #email {
    float: left;
  }

  #minecraft-username {
    margin-left: 12px;

    input {
      width: 120px - (6px * 2);
    }
  }

  #email {
    input {
      width: 240px - (6px * 2);
    }
  }

  button {
    margin-top: 12px + 12px + 6px;
    margin-left: 12px;
    width: 80px;

    &:active {
      margin-top: 12px + 12px + 6px + 1px;
    }
  }

}
