@import 'shared/vars';

#home_teaser #content-body {
  margin: 0 ($col + $gutter + $col + $gutter + $gutter);

  h2 {
    font: 200 30px/48px $paytone;
    margin: 24px 0 (24px + $baseline);
    text-align: center;
    color: darken($blue, 20%);
  }

  p {
    font: 14px/24px $helvetica;
  }

  #features {
    background: url('/shadow.png') top center no-repeat;
    padding-top: 13px + 24px;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    margin-top: -1px;


    .feature {
      float: left;
      width: 5*$col;
      margin-bottom: 24px;

      &:nth-child(2n) {
        margin-left: 40px;
      }

      h3 {
        line-height: 32px + (2 * $baseline);
        font-weight: normal;
        font-size: 18px;
        color: $blue;
      }

      img {
        float: left;
        margin-right: $gutter;
        padding: $baseline;
        background: lighten(black, 90%);
        border-radius: 32px + $baseline;
      }

      p {
        color: #999;
        margin-left: 32 + (2 * $baseline) + $gutter;
        font-size: 15px;
      }
    }

  }

  form {
    margin: 24px auto;
    overflow: auto;
    text-align: center;
    width: 8 * ($col + $gutter + $gutter);
  }

  h3 {
    color: darken($blue, 20%);
    font: 600 16px/48px $helvetica;
    text-shadow: 0 1px 0 rgba(#FFF, 0.1);
  }

  label {
    color: darken($blue, 15%);
    text-shadow: 0 1px 0 rgba(#FFF, 0.1);
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
    text-align: left;

    & span {
      color: #999;
      font-weight: normal;
      font-size: 12px;
    }
  }

  input {
    border-radius: 2px;
    border: 2px solid $blue;
    outline: none;
    font: 16px/24px $helvetica;
    padding: $baseline ($gutter - 2px);

    &:focus {
      border: 2px solid darken($blue, 20%);
    }
  }

  .email, .username, button {
    float: left;
  }

  .username, button {
    margin-left: 10px;
  }

  button {
    margin-top: 24px + 6px + 2px;
    padding: $baseline $gutter;
    font: 14px/24px $helvetica;
    border: 2px solid $red;
    background: $red;
    border-radius: 2px;
    color: white; //darken($blue, 30%);
    font-weight: bold;
    cursor: pointer;
    outline: none;

    width: 2 * $col;

    &:hover, &:focus {
      border-color: darken($red, 20%);
    }
  }

  .email input {
    width: (3 * $col) + (2 * $gutter);
  }

  .username input {
    width: (3 * $col) + (2 * $gutter);
  }
}
