= form_for @user, :url => new_session_path do |f|
  %p
    = f.email_field :email, placeholder: 'email@address.com'

  %p
    = f.password_field :password, placeholder: 'password'

  %p
    %button Sign in
