%ol#session
  %li.username= user.username
  %li
    = link_to credits_path, class: 'credits' do
      = number_with_delimiter user.hours
      cr
  %li= link_to 'Sign Out', session_path, method: :delete, class: 'signout'