- if world.creator.minecraft_player
  %a.world-card.world-card-mini{href: player_world_path(world.creator.minecraft_player, world)}

    %strong.fullname>
      = world.creator.username
      \/
      %strong= world.name

    = render partial: 'worlds/meta', locals: {world: world}
