- if world.creator.minecraft_player
  .world-card
    %a{href: player_world_path(world.creator.minecraft_player, world)}
      = image_tag world.cover_photo.small.url, width: 260, height: 195, alt: world.fullname

    .caption
      %h4= world.name
      .creator= link_to world.creator.username, player_path(world.creator.minecraft_player)

    = render partial: 'worlds/meta', locals: {world: world}
