- if card.creator.minecraft_player
  %li.span3.thumbnail
    %a{href: player_world_path(card.creator.minecraft_player, card)}
      = image_tag card.cover_photo.small.url, width: 260, height: 195, alt: card.fullname

    .caption
      %h5= card.name
      by #{link_to card.creator.username, player_path(card.creator.minecraft_player)}
