.world-meta
  .game.pull-right
    Minecraft

  .stat.pull-left
    %i.icon-user
    = world.player_ids.count

  .stat.pull-left
    %i.icon-time
    = credits_to_minutes(world.minutes_played)

  .stat.pull-left
    %i.icon-eye-open
    = number_with_delimiter world.pageviews
