<div id="chat_{{id}}" class="chat item">
  {{#user}}
    <div class="avatar">
      <img src="{{gravatar_url}}" />
    </div>
  {{/user}}
  <div class="body">{{{body}}}</div>
  <div class="meta">
    {{#user}}
      <span class="user">@{{username}}</span>
    {{/user}}
    <time>{{created_at}}</time>
  </div>
  <div class="media">
    {{#media}}
      <a href="{{url}}"><img class="thumbnail" src="{{thumbnail_url}}"/></a>
    {{/media}}
  </div>
</div>
