<div id="chat_{{id}}" class="chat item">
  {{#user}}
    <div class="avatar">
      <img src="{{avatar_head_24_url}}" width="24" height="24" />
    </div>
  {{/user}}
  <div class="body">{{{body}}}</div>
  <div class="meta">
    {{#user}}
      <span class="user">@{{username}}</span>
    {{/user}}
    <time>{{created_at}}</time>
  </div>
</div>
