- title "#{world.name} info"
= render partial: 'header'

%article
  %ul.memberships
    - world.memberships.each do |membership|
      %li
        = link_to membership.user do
          = avatar_tag(membership.user, 30)

  %hr

  %section.description
    %p Bacon ipsum dolor sit amet filet mignon boudin capicola turkey jowl pork loin corned beef biltong fatback, meatloaf pork. Jerky pig corned beef ham. Ham jerky bresaola swine. Short ribs andouille flank sirloin pork belly, filet mignon brisket ball tip jerky capicola kielbasa hamburger.

    %p Bresaola meatball shank turducken salami kielbasa. Ground round ham hock drumstick pig pork chop pork belly. T-bone beef ribs tail bresaola.

