- title "#{world.name} map" do
  %h1= world.name

= render partial: 'header'

- if world.mapped?
  %article
    :javascript
      var map = new Map();
      $('#page article').append(map.el)
      map.render()

- else
  %center
    %h1 Marvin is still mapping this world!
    %p He apologises and whispers that he's folding as fast as his little hands can go. Perhaps you can help him out by playing here for a couple of minutes?

    = image_tag 'marvin.png'
