- title_and_masthead 'Create a new world'

#page
  %aside
    %p.note Do you have a world already? You can upload it and start playing instantly.

    = render partial: 'upload'

  = form_for world do |f|
    = f.hidden_field :world_upload_id
    = render partial: 'form', object: f
