- title 'Create a new world'

%aside
  %p Do you have a world already? You can upload a <code>.zip</code> file of it and play it instantly.

%article
  = form_for world do |f|
    = render partial: 'form', object: f
