= flash[:errors].to_json if flash[:errors]

%header.new-world
  %h1 
    %strong Create 
    a new world
  = form_for @world do |f|
    = f.text_field :name, :placeholder => 'Name'

    %p
      = f.submit 'Create'

%header.import-world
  %h1
    %a{:href => new_world_import_path }
      %strong Import 
      a world

    