= render partial: 'worlds/header'

- if not world.map?
  .empty
    %p
      = image_tag 'spinner.gif'
      Waiting for the map to render.


- else
  :javascript
    $(document).ready(function(){
      var world = new Mf.World(#{render('worlds/base', object: world, formats: [:json])})
          workspace = new Mf.WorldRouter({world: world});

      Backbone.history.start({pushState: true, root: world.url()});
    });
