%header
  %h1= @world.name

- if user && user.special?
  .info
    %p
      Connect to
      %strong= @world.host
      in Minecraft.

#stream
  - @world.wall_items.each do |post|
    - if post.is_a? ChatMessage
      .item[post]
        .author
          %span.username #{post.username}:
        .msg= post.message
