%header
  %h1 The Shaft

- content_for :aside do
  %img{width: 240, height: 240, src: '/shadow.png'}

  %h2 Info

  %h2 Admins

#stream
  - 100.times do |i|
    .entry
      .author chrislloyd
      .detail
        So I told them I was Mike D. It was like "Gee, I don't know, he might be".
