#photos-show {
  #masthead { padding: ($line * 3) 0; }

  .file {
    overflow: hidden;
    img { display: block; }
  }

  aside {
    line-height: $line * 4;

    section {
      padding: ($line * 2) 0;
      border-bottom: 1px solid darken(white, 5%);
      padding-bottom: ($line * 2) - 1px;

      &:first-child { padding-top: 0; }
      &:last-child { border-bottom: none; }
    }

    .creator {
      @include clearfix;
      border-bottom: 1px solid darken(white, 5%); padding-bottom: $line * 2 - 1px;
      .avatar {
        float: left; margin-right: $gutter / 2;
        img { display: block; }
      }
    }

    .album {
      @include row;
      .photo { @include makeColumn(1); }
      .photo img { display: block; }
      .photo.current {
        padding: 1px ; border: 1px solid darken(white, 100%);
        margin: -2px; margin-left: $gutter - 2px;
      }
      .photo.empty {
        width: ($col - $gutter); min-height: ($col / 2); padding: ($line * 3) ($gutter / 2); background-color: darken(white, 5%);
        font-size: 11px; line-height: $line * 3; text-align: center;
      }
    }

    .created-at {
      color: darken(white, 40%);
      font-size: 12px; line-height: $line * 4;
    }
  }
}