#orders-new #page {
  width: cols(8);

  .hint {
    color: #666;
  }
}


#stripe {
  background-color: lighten($blue, 50%);
  padding: (2*$line) $gutter $line $gutter;
  width: cols(5);
  margin-bottom: 2*$line;
  overflow: auto;

  .card-types {
    font-size: 11px;
    line-height: 18px;

    span.unknown {
      color: rgba(black, 0.4);
    }

    span.active {
      color: darken($blue,10%);
      font-weight: 600;
      background-color: #FFC;
      padding: 1px 2px;
    }
  }

  section.card-number input {
    width: 100%;
  }

  section.card-cvc, section.card-expiration {
    float: left;
    margin-right: 2*$gutter;
  }

  #secured-by {
    float: right;
    font-size: 11px;
    line-height: 18px;
    color: rgba(black, 0.4);
    display: block;
    text-align: right;
    margin-top: 2*$line;

    img {
      display: block;
      border: none;
      opacity: 0.2;
    }
  }
}

form#new_order {

  overflow: auto;

  .errors {
    color: $red;
    margin-bottom: $line;
  }


}

p.security {
  margin-top: 4*$line;

  font-size: 11px;
  line-height: 18px;
  color: rgba(black, 0.4);
}

