[submodule "vendor/assets/jquery.cookie"]
	path = vendor/assets/jquery.cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "vendor/assets/store.js"]
	path = vendor/assets/store.js
	url = https://github.com/marcuswestin/store.js.git
[submodule "vendor/ZeroClipboard"]
	path = vendor/ZeroClipboard
	url = https://github.com/jonrohan/ZeroClipboard.git
