[submodule "vendor/assets/jquery.cookie"]
	path = vendor/assets/jquery.cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "vendor/assets/jquery-simple-slider"]
	path = vendor/assets/jquery-simple-slider
	url = https://github.com/loopj/jquery-simple-slider.git
