- title  'Create your account'
- layout :devise

.page
  .page-header

  .row
    .span2

    .span5
      .well.letter
        %p
          %strong Minefold is shutting down.
          We want to thank the thousands of people who had fun on Minefold servers. We’d also like to thank all the people who have supported us along the way. We’re sorry that we didn’t live up to your expectations and hope you understand.

        %p You can read more about this on our blog: #{link_to 'http://blog.minefold.com/'}

        %p Sincerely,

        = image_tag 'sig.png', class: 'sig'

