- content_for :image do
  = image_tag 'user_mailer/credit_reminder.png', width: 40, height: 40

You have <strong>half an hour</strong> left on Minefold. It's time for you to upgrade to <strong>Minefold Pro</strong>. For only <strong>$5 a month</strong> and you can play for as long as you like.
%br
%br
= link_to 'Upgrade to Pro', pro_account_url, class: 'btn'
