- content_for :image do
  = image_tag @op.minecraft_player.avatar.medium.url, width: 40, height: 40

<strong>#{@op.minecraft_player.username}</strong> added you to <strong>#{link_to @world.name, player_world_url(@world.creator.minecraft_player, @world)}</strong>.

- content_for :buttons do
  %table.minefold-minecraft-host{cellpadding: 0, cellspacing: 0}
    %tbody
      %tr.h40
        %td{colspan: 2}
      %tr
        %td.game{colspan: 2}
          %strong Minecraft
          server address
      %tr
        %td.host
          %input{type: 'text', value: (@world.host * 3)}
        %td.help.w20
          %a{href: '#'} ?
