- content_for :image do
  = image_tag 'user_mailer/credit_reminder.png', width: 40, height: 40

%p
  You only have <strong>30 minutes</strong> left to play on Minefold. To keep playing you need to
  %a{href: pro_account_url} upgrade to a Pro account!
