%p Hi #{@user.username}!

%p Thanks for signing up for Minefold. We are positively thrilled to have aboard and can't wait to see what you build.

%strong Have fun and show us what you build!

- if @user.free?
  %p We've given you #{pluralize User::FREE_HOURS, 'hour', 'hours'} free to help you get started.

%p Email us at #{mail_to 'team@minefold.com'} when you have something awesome to show off!
