@import 'shared';

#high-voltage-pages-show {
  .address {
    overflow: auto;

    .location {
      width: cols(2);
      float: left;
      margin-right: $gutter;
    }
    #map_canvas {
      float: left;
      width: cols(4);
      height: 5 * 24px;
      margin-left: $gutter;
    }

  }
}