#pages-home {
  #masthead {
    margin-bottom: $line * 8;

    h1 {
      font-weight: 900;
      line-height: $line * 8;
    }

    h2 {
      padding-bottom: $line * 8;
      font-size: 24px;
    }

    a.btn {
      @include btn($green, white);
      @include makeColumn(3);

      clear: both;

      padding: ($line * 3) $gutter;
      font-size: 16px; line-height: $line * 4;

      .free {
        font-style: italic;
        font-size: 12px; line-height: $line * 4;
      }
    }
  }

  .feature {
    @include makeColumn(3);
  }
}

