#pages-home {

  #masthead {
    text-align: center;
    padding: (4*$line) 0;

    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      margin: (4*$line) 0;
      float: none;
    }

    .btn {
      @include btn(lighten($blue, 10%), white);
      width: cols(4) - (2*$gutter);
      margin: (8*$line) auto (12*$line);

      font-size: 16px;
      @include antialiasing;

      .free {
        font-size: 12px;
        color: lighten($blue, 40%);
      }
    }
  }

  #avatars {
    clear: both;
    overflow: auto;
    margin: 0 (-$gutter);
    margin-top: 4*$line;

    img {
      display: block;
      float: left;
      margin: 0 $gutter;
      @include border-radius($radius);
    }
  }

  #features {
    overflow: auto;
    margin: (4*$line) (4*$gutter);

    strong {
      color: darken($yellow, 40%);
      padding: 1px 2px;
      background-color: lighten($yellow, 40%);
    }

    li {
      display: block;
      float: left;
      width: cols(4) - (2*$gutter);
      margin-bottom: $line;
      margin: 0 (2*$gutter);

      p {
        text-align: justify;
      }

    }
  }

}
