#high-voltage-pages-show {

  #before-page nav {
    a {
      color: darken($blue, 10%);
      text-decoration: none;
      display: block;

      &:hover {
        color: $blue;
      }
    }

    ol {
      list-style-type: none;
      ol {
      margin-top: $line;
          font-size: 11px;

        a {
          color: #999;
          &:hover { color: #666;}
        }
      }
    }

    &.about-page .about a,
    &.help-page .help a,
    &.contact-page .contact a,
    &.privacy-page .privacy a,
    &.tos-page .tos a {
      font-weight: bold;
    }
  }

  #page {
//    margin-bottom:  * $line;

    h2 {
      font-weight: 600;
      margin-bottom: 2 * $line;
    }

    dl dt { margin-top: 1em; font-weight: bold; font-size: 16px;}

    .note {
      background: #FFC;
      padding: $line $gutter;
      margin: 0 (-$gutter) $line (-$gutter);
    }

    a {
      color: $blue;
      text-decoration: none;
      &:hover {
        color: darken($blue, 10%);
      }
    }
  }

  p.byline {
    font-style: italic;
    font-weight: 600;
    color: #999;
  }

  .founder {
    margin-bottom: 4*$line;

    p {
      margin-left: 48px + $gutter;
    }

    .contact {
      font-size: 12px;
      a {
        margin-right: $gutter;
      }
    }

    img {
      float: left;
      @include border-radius($radius);
      margin-right: $gutter;
    }
  }

  .address {
    overflow: auto;

    .location {
      width: cols(2);
      float: left;
      margin-right: $gutter;
    }
    #map_canvas {
      float: left;
      width: cols(4);
      height: 5 * 24px;
      margin-left: $gutter;
    }

  }


}