#plans {
  overflow: auto;
  margin-bottom: 2*$line;

  .plan {
    overflow: auto;
    padding: $line $gutter;
    margin-bottom: 2*$line;
    @include border-radius($radius);

    .price {
      float: left;
      border: 1px solid rgba(black, 0.1);
      @include border-radius($radius);
      line-height: 24px;
      padding: ($line - $border) ($gutter - $border);
      margin-right: $gutter;
      overflow: auto;
      text-shadow: 0 1px 0 rgba(white, 0.6);
      background: white;
      height: 36px;

      .dollar-sign {
        color: rgba(black, 0.4);
        line-height: 2*$line;
        display: block;
        float: left;
        margin-top: $line;
        margin-right: $line/2;
      }
      .amount {
        font-size: 36px;
        line-height: 18px - (2*$border);
        padding: $line 0;
        font-weight: 800;
        @include inline-block;
      }
      .period {
        color: rgba(black, 0.4);
        font-weight: 600;
      }
    }

    .details {
      float: left;
      color: rgba(black, 0.6);
      line-height: 24px;

      h2 {
        margin: 0;
        color: black;
        line-height: 24px;
        padding: 0;
        font-weight: 600;
      }
      p {
        margin-bottom: 0;
      }
    }

    a.button {
      float: right;
      color: white;
      margin: (1.5*$line) 0;
    }

    &.free {
      background: lighten(#FFC, 5%);
      a.button {
        background-color: darken($green, 0%);
        text-shadow: 0 1px 0 darken($green, 20%);
        &:hover {
          background-color: darken($green, 20%);
          text-shadow: 0 1px 0 darken($green, 30%);
        }
      }

    }

    &.small, &.medium, &.large {
      background: lighten($blue, 45%);
      .price {
        border-color: darken(lighten($blue, 45%), 10%);
      }
    }

    &.pro {
      background: lighten($red, 30%);

      .price {
        border-color: lighten($red, 20%);
      }

      a.button {
        background-color: darken($red, 10%);
        text-shadow: 0 1px 0 darken($red, 30%);
        &:hover {
          background-color: darken(darken($red, 10%), 10%);
        }
      }
    }

  }
}
