#pages-pricing {

  #masthead h1 small {
    color: darken(white, 20%);
    font-weight: 200;
    font-size: 16px;
  }

  #features {
    @include row;
    margin-bottom: $line * 4;

    p {
      @include gridColumn;
      color: darken(white, 20%);

      .pro {
        line-height: $line * 3;
        padding: 2px 4px;
      }
    }

    ul {

      li {
        @include gridColumn;

        &:before {
          content: "\2713";
          color: $green;
          margin-right: $gutter / 2;
        }
      }
    }
  }

  #products {
    @include row;
    margin-bottom: $line * 8;

    .product {
      @include makeColumn(4);
      @include box-sizing(border-box);
      padding: $line $gutter;
      border: 5px solid darken(white, 5%);
      text-align: center;

      h1 {
        color: black;
        margin-bottom: 0;
      }

      .tagline {
        color: darken(white, 40%);

        .pro {
          line-height: $line * 3;
          padding: 2px 4px;
        }
      }

      .price {
        font-weight: 600;
        font-size: 24px; line-height: $line * 8;

        .dollar {
          font-size: 12px; line-height: $line * 1;
          margin-bottom: $line * 4;
        }
      }

      &.three-months, &.twelve-months {
        margin-top: $line * 8;
      }

      &.six-months {
        padding-top: $line * 4;
        padding-bottom: $line * 4;
        border-color: $green;

        h1 {
          font-size: 28px;
        }

        .price {
          font-size: 28px;
          line-height: $line * 10;
        }

        .savings {
          margin-top: $line * 2; // padding: $line 0;
          strong {
            color: darken($green, 10%);
            font-weight: 600;
          }
        }
      }
    }
  }


  .btn.buy, .btn.sign-up {
    @include columns(4);
    @include center-block;
    @include btn($blue, white, $green);
    text-align: center;
    margin-bottom: $line * 8;
  }


  aside {

    dt {
      color: black;
      font-weight: 600;
    }

    .note {
      font-size: 12px;
      line-height: $line * 4;
    }
  }

  #testimonials {
    @include row;

    .testimonial {
      @include makeColumn($ncols - 3);
      margin-bottom: $line * 2;

      q {
        color: black;
        font-size: 16px; line-height: $line * 6;
      }

      cite {
        display: block;
        font-size: 12px; line-height: $line * 4;
        margin: $line 0;
        margin-bottom: $line;

        img {
          display: block;
          margin: 0;
          float: left;
          margin-right: $gutter / 2;
        }
      }
    }
  }
}
