#products {
  border-bottom: 1px solid darken(white, 10%);
  margin: 0 (-$gutter);
  padding: (2*$line) ($col / 2 + $gutter);

  ol {
    overflow: auto;
    @include border-radius($radius);
    width: cols(9);

    li {
      float: left;
      text-align: center;
      width: cols(3);
      padding: (2*$line) 0;
      @include box-sizing(border-box);

      border-left: 1px solid darken(white, 10%);

      &:first-child {
        border-left: none;
      }

      .time {
        font-size: 28px;
        font-weight: 900;
        line-height: 24px;
        color: $blue;

        margin-bottom: 4*$line;
      }

      .price {
        font-size: 18px;
        color: lighten($blue, 20%);

        .rate {
          color: darken(white, 20%);
          font-size: 13px;
        }
      }
    }
  }

  .extras {
    text-align: center;
    margin-bottom: 4*$line;
  }

  .btn {
    width: cols(3);
    margin: 0 auto;
    margin-bottom: 2*$line;

    text-align: center;
  }

}

#pages-pricing #page {
  aside {
    padding-top: 2*$line;

    h2 {
      margin-top: 2*$line;
      line-height: 24px;
    }

    dl {
      font-size: 13px;
    }
    .note {
      font-size: 13px;
      line-height: 18px;
    }
  }

  #testimonials {
    margin: (4*$line) 0;

    .testimonial {
      margin-bottom: 2*$line;

      q {
        background-color: darken(white, 5%);
        padding: ($line/2) ($gutter/2);
        @include inline-block;
        overflow: auto;

        color: rgba(black, 0.8);

        @include border-radius($radius);
      }

      cite {
        display: block;
        font-size: 12px;
        line-height: 24px;
        margin: $line $gutter;
        margin-bottom: 0;

        img {
          display: block;
          margin: 0;
          @include border-radius($radius);
        }

      }

      &:nth-child(odd) {
        img {
          float: left;
          margin-right: $gutter;
        }
      }

      &:nth-child(even) {
        text-align: right;

        img {
          float: right;
          margin-left: $gutter;
        }
      }
    }

  }

}
