#pages-store {

  #features {
    @include row;
    margin-bottom: $line * 4;

    p {
      @include gridColumn;
      color: darken(white, 20%);

      .pro {
        line-height: $line * 3;
        padding: 2px 4px;
      }
    }

    ul {

      li {
        @include gridColumn;

        &:before {
          content: "\2713";
          color: $green;
          margin-right: $gutter / 2;
        }
      }
    }
  }

  #products {
    @include row;

    .product {
      @include makeColumn(4);
      @include box-sizing(border-box);
      padding: $line $gutter;
      border: 5px solid darken(white, 5%);
      text-align: center;

      h1 {
        color: black;
        margin-bottom: 0;
      }

      .tagline {
        color: darken(white, 40%);

        .pro {
          line-height: $line * 3;
          padding: 2px 4px;
        }
      }

      .price {
        font-weight: 600;
        font-size: 24px; line-height: $line * 8;

        .dollar {
          font-size: 12px; line-height: $line * 1;
          margin-bottom: $line * 4;
        }
      }

      &.three-months, &.twelve-months {
        margin-top: $line * 8;
      }

      &.six-months {
        padding-top: $line * 4;
        padding-bottom: $line * 4;
        border-color: $green;

        h1 {
          font-size: 28px;
        }

        .price {
          font-size: 28px;
          line-height: $line * 10;
        }

        .savings {
          margin-top: $line * 2; // padding: $line 0;
          strong {
            color: darken($green, 10%);
            font-weight: 600;
          }
        }
      }

      &:hover {
        border-color: $blue;
      }
    }
  }
}

//#products {
//  border-bottom: 1px solid darken(white, 10%);
//  margin: 0 ;
//  padding: (2*$line) ($col / 2 + $gutter);
//
//  ol {
//    overflow: auto;
//    @include border-radius($radius);
//
//    li {
//      text-align: center;
//      width: cols(3);
//      padding: (2*$line) 0;
//      @include box-sizing(border-box);
//
//      border-left: 1px solid darken(white, 10%);
//
//      &:first-child {
//        border-left: none;
//      }
//
//      .time {
//        font-size: 28px;
//        font-weight: 900;
//        line-height: 4*$line;
//        color: $blue;
//
//        margin-bottom: 4*$line;
//      }
//
//      .price {
//        font-size: 18px;
//        color: lighten($blue, 20%);
//
//        .rate {
//          color: darken(white, 20%);
//          font-size: 13px;
//        }
//      }
//    }
//  }
//
//  .extras {
//    text-align: center;
//    margin-bottom: 4*$line;
//  }
//
//  .btn {
//    width: cols(3);
//    margin: 0 auto;
//    margin-bottom: 2*$line;
//
//    text-align: center;
//  }
//
//}
//
//#pages-pricing #page {
//  aside {
//    padding-top: 2*$line;
//
//    h2 {
//      margin-top: 2*$line;
//      line-height: 4*$line;
//    }
//
//    dl {
//      font-size: 13px;
//    }
//    .note {
//      font-size: 13px;
//      line-height: 3*$line;
//    }
//  }
//
//  #testimonials {
//    margin: (4*$line) 0;
//
//    .testimonial {
//      margin-bottom: 2*$line;
//
//      q {
//        background-color: darken(white, 5%);
//        padding: ($line/2) ($gutter/2);
//        @include inline-block;
//        overflow: auto;
//
//        color: rgba(black, 0.8);
//
//        @include border-radius($radius);
//      }
//
//      cite {
//        display: block;
//        font-size: 12px;
//        line-height: 4*$line;
//        margin: $line $gutter;
//        margin-bottom: 0;
//
//        img {
//          display: block;
//          margin: 0;
//          @include border-radius($radius);
//        }
//      }
//
//      &:nth-child(odd) {
//        img {
//          float: left;
//          margin-right: $gutter;
//        }
//      }
//
//      &:nth-child(even) {
//        text-align: right;
//
//        img {
//          float: right;
//          margin-left: $gutter;
//        }
//      }
//    }
//
//  }
//
//}
