@import 'shared';

#worlds-show #masthead,
#worlds-map #masthead,
#worlds-edit #masthead,
#worlds-photos #masthead {
  background: darken(white, 5%) url(image-path('world-watermark.png')) right 24px no-repeat;

  .wrapper {
    position: relative;
  }

  aside {
    position: absolute;
    top: 0;
    right: 0;
    margin: (2*$line) $gutter;
    text-align: right;

    .meta {
      float: right;
      .connection-info {
        float: left;
        margin: 0;
        margin-left: $gutter;
        background: white;
        line-height: 24px;
        padding: 0 ($gutter / 2);
        @include border-radius($radius);
        color: #666;
        font-size: 12px;
        margin-bottom: $line;

        strong {
          color: black;
        }
      }
      .help a {
        font-size: 11px;
        color: #999;
        text-decoration: none;

        &:hover {
          color: #333;
        }
      }

      input[type=submit] {
        border: none;
        border-bottom-color: darken(white, 15%);
        background: $blue;
        color: white;
        padding: ($line) 2*$gutter;
        font: 600 12px/18px $helvetica;
        @include border-radius($radius);
        cursor: pointer;
        margin: 0;
        margin-top: 0;
        &:hover {
          background: darken($blue, 10%);
        }
      }

    }
  }

  ol#subnav {
    li {
      display: block;
      float: left;
      color: #CCC;
      cursor: pointer;
      margin-right: 1px;
    }
    a {
      display: block;
      padding: $line ($gutter);
      color: black;
      text-decoration: none;
      line-height: 18px;

      &:hover {
        background: white;
      }
    }
  }

}

#worlds-show #masthead .activity,
#worlds-map #masthead .map,
#worlds-photos #masthead .photos,
#worlds-edit #masthead .edit {
  a {
    background: white;
  }
}
