@import 'shared/vars';

.worlds #page {

  header {
    h1 {
      font-size: 24px;
      line-height: 48px;
      color: #333;
      float: left;
      text-shadow: 0 1px 0 white;
    }
  }

  #nav {
    margin: 0 (-$pad);
    margin-bottom: 4 * $baseline - $border;
    padding: 0 (2 * $gutter);
    overflow: auto;
    border-bottom: $border solid darken($blue, 20%);

    aside {
      margin: $baseline 0;
      float: right;
      input {
        font-size: 12px;
        padding: ($baseline / 2) $gutter;
      }
      p {
        margin-top: $baseline;
      }
    }

    ul {
      li {
        float: left;
        margin-right: 1px;

        a {
          display: block;
          line-height: 24px;
          font-weight: 600;
          padding: $baseline $gutter;
          color: darken($blue, 20%);
          text-decoration: none;
          text-shadow: 0 1px 0 white;
          @include border-radius($radius $radius 0 0);

          &:hover {
            background: $green;
            color: white;
            text-shadow: 0 1px 0 darken($green, 20%);
          }

          &.disabled {
            color: darken(darken(white, 5%), 10%);
            cursor: normal;
            &:hover {
              background: darken(darken(white, 5%), 5%);
              color: darken(darken(darken(white, 5%), 10%), 5%);
              text-shadow: 0 1px 0 white;
            }
          }
        }
      }
    }

  }
}

#worlds-show   #nav ul li.activity,
#worlds-map    #nav ul li.map,
#worlds-photos #nav ul li.photos,
#worlds-edit   #nav ul li.edit {
  a {
    background: darken($blue, 20%);
    color: #FFF;
    text-shadow: none;
    &:hover {
      background: darken($blue, 10%);
      text-shadow: 0 1px 0 darken($blue, 20%);
    }
  }
}
