.worlds-controller .masthead {
  padding: ($line * 4) 0;

  .world {
    .slash { color: darken(white, 10%); margin: 0 0.2em; }
    .name { font-weight: 900;}
  }
  h2 {
    font-size: 12px;
    font-family: $lucida-grande;
    line-height: $line * 4;
    color: darken(white, 40%);
  }

  ol {
    @include clearfix;

    li {
      float: right; margin-left: $gutter;
    }
  }

  form input[type=submit], a.btn {
    @include button($blue, white, darken($blue, 20%));
    padding: $line ($gutter); line-height: $line * 4;
    margin: ($line) 0;
  }
}
