#worlds-edit {

  body {
    width: cols(9);
  }

  .mode, .difficulty, .gameplay {
    width: cols(3) - (2*$pad);
    float: left;
    border-bottom: none;
  }

  form.delete {
    input { @include btn($red, white); margin-bottom: 2*$line; line-height: 1*$line; font-size: 12px; }
  }
}
