@import 'shared/vars';

#worlds-edit #page {
  position: normal;
  overflow: visible;

  .hint {
    color: #CCC;
    font-size: 12px;
  }

  section {
    margin-bottom: 2 * $baseline;
    overflow: auto;

    h3, fieldset {
      float: left;
    }

    h3 {
      width: 120px;
    }

    &.game-options {
      label {
        display: inline;
      }
      fieldset div {
        margin-bottom: $baseline;
      }
    }

    &.players {
      overflow: auto;
      div {
      }
      select {
        width: 4 * ($gutter + $col + $gutter) - (2 * $gutter);
      }
      .chzn-container {
        position: absolute;
      }
    }
  }

  .submit {
    margin-top: 3 * $baseline;
  }

}