@import 'shared';

#worlds-edit #page {
  .whitelisted-players, .autocomplete-results {
    margin: 0;
    margin-bottom: $line;
    li, a {
      @include border-radius($radius);
      padding: $line ($gutter / 2) ($line - 1) ($gutter / 2);
      border-bottom: 1px solid darken(white, 10%);
      display: block;

      img {
        display: block;
        float: left;
        margin-top: $line / 2;
        margin-right: $gutter;
        @include border-radius($radius);
      }

      &.owner {
        background: darken(white, 4%);
        color: darken(white, 40%);
      }

      .remove {
        float: right;
        color: $red;
        font-size: 12px;
        margin-top: -$line;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }

    }
  }

  .autocomplete {
    margin: 0;
    width: 100%;
    font-size: 14px;
    line-ight: 18px;
    padding: $line ($gutter /2);
    margin-bottom: $line;
  }

  .autocomplete-results {
    list-style: none;
    a {
      cursor: pointer;
    }
    a:hover {
      background: darken(white, 5%);
    }
  }

}
