#masthead nav {
  .settings {
    margin-left: 2*$gutter;
  }

  .invites {
    float: right;
    font-size: 12px;
    background: $yellow;
    a {
      color: desaturate(darken($yellow, 40%), 50%);
      &:hover {
        background-color: $yellow;
        color: desaturate(darken($yellow, 40%), 70%);
      }
    }

  }
}

#worlds-show .activity,
#worlds-map .map,
#players-index .players,
#worlds-edit .settings {
  @include active-masthead-menu;
}

