#masthead {

  &.attached {
    position: fixed;
    top: 8*$line;
    width: $width;
    @include box-sizing(border-box);
    z-index: 99;
    overflow: auto;
    padding: 0 $pad;

    border-top: 1px solid darken(white, 10%);

    background-color: white;
    @include border-radius(0 0 $radius $radius);
    @include box-shadow(0 1px 0 rgba(black, 0.05));

    .attribution {
      width: cols($ncols / 2) - $pad;
      float: left;

      p {
        color: darken(white, 40%);
        font-size: 12px; line-height: 2*$line;
        margin-bottom: 4*$line;
      }
    }
  }

  ol.actions {
    float: right;
    width: cols($ncols / 2);

    margin: (2*$line) 0;
    margin-right: -$pad;

    li {
      float: right;
      margin-right: $gutter;

      form input[type=submit], &.settings a {
        @include btn(#3184d8, white);
        padding: $line $gutter;
        margin: $line 0;
      }

      &.settings a img {
        display: block;
      }
    }
  }

  ul.stats {
    li {
      float: right;
      font-size: 12px; line-height: 2*$line;
      margin-left: $gutter;

      .val {
        color: rgba(black, 0.8);
      }

      .label {
        color: rgba(black, 0.5);
      }
    }
  }
}
