#masthead {

  &.attached {
    position: fixed;
    top: 10*$line;
    width: $width;
    @include box-sizing(border-box);
    z-index: 99;

    border-top: 1px solid darken(white, 10%);
    padding-top: (2*$line - 1px);

    background-color: white;
    @include border-radius(0 0 $radius $radius);
    @include box-shadow(0 1px 0 rgba(black, 0.05));

    h1 {
      width: cols($ncols / 2) - $pad;
      float: left;
    }

    & + #page {
      margin-top: 20*$line - 1px;
    }
  }

  .desc {
    margin-bottom: 2*$line;
    line-height: 4*$line;
    color: rgba(black, 0.6);

    p {
      margin-bottom: 2*$line;
    }
  }

  ol.actions {
    float: right;
    width: cols($ncols / 2);

    margin: 0;
    margin-right: -$pad;

    li {
      float: right;
      margin-right: $gutter;

      form input[type=submit], &.settings a {
        @include btn(#3184d8, white);
        padding: $line $gutter;
        margin: $line 0;
      }

      &.settings a img {
        display: block;
      }
    }
  }

  nav {
    clear: both;

    ol {
      background: darken(white, 5%);
      overflow: auto;
      margin: (2*$line) (-$pad) (-2*$line) (-$pad);
      @include border-radius(0 0 $radius $radius);

      border-top: 1px solid darken(white, 10%);

      li {
        float: left;
        font-weight: 900;
        font-size: 12px; line-height: 4*$line;

        a {
          display: block;
          padding: $line (2*$gutter);

          color: darken($blue, 0%);
          text-decoration: none;

          &:hover {
            background-color: rgba(black, 0.05);
          }
        }

        &.stat {
          float: right;
          padding: $line $gutter;

          .val {
            color: rgba(black, 0.8);
            font-weight: 400;
            font-size: 13px; line-height: 2*$line;
            font-style: normal;
          }

          .label {
            color: darken(white, 50%);
            font-weight: 400;
            font-size: 13px; line-height: 2*$line;
          }
        }

        a, &.stat {
          padding-top: $line - 1px;
        }
      }
    }
  }
}
