#worlds-info {
  #page {
    width: cols($ncols - 3);
  }

  ul.memberships {
    overflow: auto;
    margin-left: -($gutter / 2);
    margin-bottom: 4*$line - ($gutter / 2);

    li {
      float: left;
      margin-left: $gutter / 2;
      margin-bottom: $gutter / 2;

      img {
        display: block;
      }
    }
  }
}
