#worlds-photo-sets-index #masthead .photos {
  @include active-masthead-menu-item;
}

#photo-sets {
  margin: 0 (-$gutter);
  li {
    float: left;
    width: cols(2);
    margin: 0 $gutter;
    margin-bottom: 2*$line;
    
    border: 1px solid darken(white, 5%);
    border-top-color: darken(white, 10%);
    padding: 1px;
    
    text-align: center;
    
    @include border-radius($radius);
    @include box-sizing(border-box);
    
  }

}
