@import 'shared/vars';

#worlds-show #content {

  #content-body {
    // TODO: Find a way of abstracting this equation
    width: ($cols - 4) * ($col + (2 * $gutter)) - (2 * $gutter);
    float: left;
  }

  header {
    h1 {
      font-size: 30px;
      line-height: 48px;
      color: #333;
    }
  }

  .info {
    padding: $baseline $gutter;
    background: darken(white, 4%);
    border-radius: $radius;
    margin: $baseline (-$gutter) (2 * $baseline) (-$gutter);
    display: block;
  }

  #share {
    overflow: auto;
    padding: (2 * $baseline) 0 (4 * $baseline) 0;
    background: #FFF;

    .avatar {
      float: left;
      margin-right: $gutter;

      img {
        border-radius: $radius;
      }
    }

    textarea {
      width: (8 * $col) + (14 * $gutter) - (2 * $gutter) - 48px - $gutter;
      padding: ($baseline - 2px) ($gutter - 2px);
      border: 2px solid darken(white, 10%);
      border-radius: $radius;
      outline: none;
      margin: 0;

      resize: vertical;

      font: 14px/18px $helvetica;

      &:focus {
        border-color: $blue;
      }
    }

    button {
      margin: 0;
      margin-left: 48px + $gutter;

      background: $blue;
      border: 2px solid $blue;
      border-radius: $radius;
      color: white;
      font: 14px/24px $helvetica;
      padding: 0 $gutter;

      cursor: pointer;
      &:hover, &:focus {
        border-color: darken($blue, 20%);
      }

      &:disabled {
        background: darken(white, 10%);
        border-color: darken(white, 10%);
        &:hover, &:focus {
          border-color: darken(white, 15%);
        }
      }

    }

  }

  #stream {
    margin-bottom: 2 * $baseline;

    margin-bottom: 120px;

    .item {
      margin-bottom: 2 * $baseline;
    }

    .chat {
      overflow: auto;

      .avatar {
        float: left;
        margin-right: $gutter;
        height: 48px;
        overflow: hidden;
        img {
          border-radius: $radius;
        }
      }
      .user {
        font-weight: 600;
      }
      .msg {
        padding-left: 48px + $gutter;
      }
    }
  }
}

footer {
  display: none;
}
