#worlds-show  {

  #backside {
    position: fixed;
    right: 0; bottom: 0; left: 0;

    background: darken(white, 5%);

    .map {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(white, 0.6);
      display: none;
    }
  }

  .empty {
    margin-top: $line * 4;
    color: darken(white, 40%); text-shadow: 0 1px 0 white;
    img { display: block; float: left; margin-right: $gutter/2; margin-top: 3px;}
  }

  article.info {
    padding: 2*$pad;
  }

  footer {
    display: none;
  }

}
