@import 'shared';

#stream {

  form, .item {
    .avatar img {
      border-radius: $radius;
      width: 24px;
      height: 24px;
      background: darken(white, 4%);
    }
    .user {
      .username {
        color: #999;
      }
    }
  }

  form {
    position: relative;
    margin-bottom: 4 * $line;

    // TODO Duplication
    .avatar {
      float: left;
      margin-right: $gutter;
    }

    textarea {
      @include box-sizing(border-box);
      width: 100%;
      resize: vertical;
      // TODO: Magic
      width: gwidth(6) - (4*$line + $gutter);
    }

    .submit {
      margin-left: 4*$line + $gutter;
      overflow: auto;

      button, .advice {
        float: left;
      }

      .advice {
        @include transition(opacity, 0.15s, ease-in-out);
        font-size: 11px;
        color: darken(white, 20%);
        margin-left: $gutter;
        opacity: 1;
        line-height: 24px;

        &.hidden {
          opacity: 0;
        }
      }
    }
  }

  .item {
    &.chat {
      padding: ($line - 1px) 0 $line 0;
      border-top: 1px solid darken(white, 4%);
      @include transition(opacity, 0.3s, ease-in-out);
      opacity: 1;

      .avatar {
        float: left;
        overflow: hidden;
        img {
          border-radius: $radius;
          background: darken(white, 5%);
          height: 4 * $line;
          width: 4 * $line;
        }
      }

      .body, .media, .meta {
        margin-left: 4*$line + $gutter;
        // TODO: Magic
        width: gwidth(6) - (4*$line + $gutter + $gutter + $gutter + $gutter);
      }

      .media {
        .thumbnail {
          height: 10 * $line;
          margin-right: $gutter;
        }
      }

      .meta {
        font-size: 12px;
        color: #CCC;
        line-height: 24px;
        .user {
          color: darken(#CCC, 10%);
        }
      }

      &.loading {
        opacity: 0.5;
      }
    }
  }
}
