@import 'shared/vars';

#worlds-show #page, #worlds-map #page {

  header {
    h1 {
      font-size: 24px;
      line-height: 48px;
      color: #333;
      float: left;
    }

    aside {
      font-size: 14px;
      float: right;
      margin: (1.5 * $baseline) 0;
      p {
        line-height: (5 * $baseline);
      }
    }
  }

  #nav {
    background: darken(white, 5%);
    margin: 0 (-$pad);
    margin-bottom: 4 * $baseline;
    padding: 0 ($gutter);
    overflow: auto;

    li {
      float: left;

      a {
        display: block;
        line-height: 24px;
        font-weight: 600;
        padding: $baseline $gutter;
        color: darken($blue, 20%);
        text-decoration: none;
        text-shadow: 0 1px 0 white;

        &:hover {
          background: lighten($blue, 40%);
        }

        &.disabled {
          color: darken(darken(white, 5%), 10%);
          cursor: normal;
          &:hover {
            background: darken(darken(white, 5%), 5%);
            color: darken(darken(darken(white, 5%), 10%), 5%);
          }
        }
      }
    }

  }

  #stream {
    margin-bottom: 2 * $baseline;
    width: 8 * ($gutter + $col + $gutter) - (2 * $gutter) - (2 * $pad);
    padding: 0 $pad;

    aside {
      float: right;
      width: 4 * ($gutter + $col + $gutter) - (2 * $gutter) - (2 * $pad);
      margin-right: -(4 * ($gutter + $col + $gutter) + (2 * $gutter));
      padding: 0 $pad;

      h2 {
        font-size: 14px;
        line-height: 24px;
        border-bottom: $border solid darken(white, 10%);
        margin-bottom: $baseline - $border;
      }

      a {
        @include box-sizing(border-box);
        line-height: 24px;
        padding: 0 $gutter;
        width: 100%;
        display: block;
        overflow: auto;
        text-decoration: none;
        color: darken($blue, 10%);

        &:hover {
          background: $blue;
          color: white;
        }

        .avatar {
          float: left;
          margin: 0;
          background: white;
          img {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    form, .item {
      margin-bottom: 2 * $baseline;
      .avatar {
        img {
          border-radius: $radius;
          background: white;
        }
      }
      .user {
        .username {
          color: #999;
        }
      }
    }

    form {
      position: relative;
      .avatar {
        position: absolute;
        top: 0px;
        img {
          margin: -$border;
          border: $border solid white;
          @include border-radius(4 * $radius);
        }
      }

      .user {
        margin-bottom: $baseline;
        margin-left: 36px + $gutter;
      }

      textarea {
        @include box-sizing(border-box);
        background-color: transparent;
        width: 8 * ($gutter + $col + $gutter) - (2 * $pad) - (36px + $gutter);
        margin: 0 (-$gutter);
        margin-left: 36px + $gutter;
        resize: vertical;
      }

      .submit-advice {
        float: right;
        font-size: 11px;
        color: darken(white, 20%);

        @include transition(opacity, 0.15s, ease-in-out);

        &.hidden {
          opacity: 0;
        }
      }
    }

    .item {
      .timestamp {
        color: #CCC;
      }
      &.chat {
        overflow: auto;

        .avatar {
          float: left;
          margin-right: $gutter;
          height: 36px;
          width: 36px;
          overflow: hidden;
          img {
            border-radius: $radius;
          }
        }
        .body {
          margin-left: 36px + $gutter;
        }
        
        .media {
          margin-left: 36px + $gutter;
          .thumbnail { height: 50px; }
        }
        
      }
    }
  }
}