@import 'shared/vars';

#worlds-show #page {

  #stream {
    margin-bottom: 2 * $baseline;
    width: 7 * ($gutter + $col + $gutter) - (2 * $gutter) - (2 * $pad);

    aside {
      float: right;
      width: 4 * ($gutter + $col + $gutter) - (2 * $gutter);
      margin-right: -(4 * ($gutter + $col + $gutter) + (2 * $gutter));
      padding: 0 $pad;

      h2 {
        font-size: 14px;
        line-height: 24px;
        border-bottom: $border solid darken(white, 10%);
        margin-bottom: $baseline - $border;
      }

      a {
        @include box-sizing(border-box);
        line-height: 24px;
        padding: 0 $gutter;
        width: 100%;
        display: block;
        overflow: auto;
        text-decoration: none;
        color: darken($blue, 10%);

        &:hover {
          background: $blue;
          color: white;
        }

        .avatar {
          float: left;
          margin: 0;
          background: white;
          img {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    form, .item {
      .avatar {
        img {
          border-radius: $radius;
          background: white;
        }
      }
      .user {
        .username {
          color: #999;
        }
      }
    }

    form {
      position: relative;
      margin-bottom: 3 * $baseline;
      .avatar {
        position: absolute;
        top: 0px;
        img {
          margin: -$border;
          border: $border solid white;
          @include border-radius(4 * $radius);
        }
      }

      .user {
        margin-bottom: $baseline;
        margin-left: 36px + $gutter;
      }

      textarea {
        @include box-sizing(border-box);
        background-color: transparent;
        width: 7 * ($gutter + $col + $gutter) - (2 * $pad) - (36px + $pad + $gutter);
        margin: 0 (-$gutter);
        margin-left: 36px + $gutter;
        resize: vertical;
      }

      .submit-advice {
        float: right;
        font-size: 11px;
        color: darken(white, 20%);

        @include transition(opacity, 0.15s, ease-in-out);

        &.hidden {
          opacity: 0;
        }
      }
    }

    .item {
      .timestamp {
        color: #CCC;
      }
      &.chat {
        overflow: auto;

        padding-bottom: $baseline - 1px;
        border-bottom: 1px solid darken(white, 4%);
        margin-bottom: $baseline;

        .avatar {
          float: left;
          margin-right: $gutter;
          height: 36px;
          width: 36px;
          overflow: hidden;
          img {
            border-radius: $radius;
          }
        }

        .timestamp {
          float: right;
          font-size: 12px;
          margin-top: -18px;
        }

        .body {
          margin-left: 36px + $gutter;
        }


        .media {
          margin-top: $baseline;
          padding-left: 36px + $gutter;
          .thumbnail {
            height: 10 * $baseline;
            margin-right: $gutter;
          }
        }

      }
    }
  }
}