#worlds-uploads-new {
  
  .instructions {
    list-style-type: decimal;
    
    li {
      margin-left: 4*$gutter;
    }
  }
  
  aside {
    #world_upload_path {
      @include btn(lighten($blue, 10%), white);
      width: 100%;
    }
  }
  
}