//.thumb-grid

#dashboard-index #page {
  article, aside { @include columns(6); }

  .worlds ol li { margin-bottom: $line * 2; }
  .photos ol { margin-left: -$gutter; }
  .photos ol li { float: left; margin-left: $gutter; margin-bottom: $line * 4; }
  .photos ol li img { display: block; }
}
