<% active ||= 'home' %>

<nav class="page-nav">
  <ul>
    <li class="<%= (active == 'home') ? 'active' : '' %>">
      <a href="<%= server_path(server) %>">
        <span data-icon="&#xF162;"></span>
        Info
      </a>
    </li>

    <% if can?(:edit, server) %>
      <li class="<%= (active == 'admin') ? 'active' : '' %>">
        <a href="<%= edit_server_path(server) %>">
          <span data-icon="&#xF06B;"></span>
          Settings
        </a>
      </li>
    <% end %>

    <li class="pull-right">
      <% if true # server.persistent? and server.world %>
        <a class="btn" href="<% server_path(server, format: 'zip') %>">
          <span data-icon="&#xF0EA;"></span>
          Download ZIP
        </a>
      <% end %>

      <% if can?(:edit, server) %>
        <a class="btn btn-success">Start Server</a>
      <% end %>
    </li>

  </ul>
</nav>
