.page-header.page-header-server
  %p
    %span.game-name= server.funpack.game.name
    &middot;
    %span.funpack-name= server.funpack.name

  %h1
    = server.name

  - if server.up?
    %h2{style: 'color:#2a4'}= server.address
  - else
    %h2{style: 'color:#CCC'} (Not running)
