- copy_cmd = os == :mac ? 'Cmd-C' : 'Ctrl-C'

%input.server-address.copy-paste(type="text" readonly data-trigger="click" data-toggle="popover" data-placement="bottom" data-content="Press #{copy_cmd} to copy then Ctrl-V to paste into #{server.funpack.name}" title="Copy and Paste"){value: server.address}

%a.connect.btn.btn-success.btn-small.pull-right Connect to this server

- content_for :tail do
  :javascript
    var serverAddressView = new ServerAddressView({
      el: $('#server-address-view-el'),
      model: app.server
    });
    serverAddressView.render();

    $('.player-list .avatar').tooltip({animation: false})
