/ Shoutout to Dave, this hack is going out you buddy.
- f = default_form_builder.new(:server, server, self, {}, Proc.new)

= f.fields_for :settings, OpenStruct.new(server.settings) do |s|
  = render partial: @funpack.game.settings_partial, locals: {f: s}
