#page {
  line-height: 24px;
  margin-top: 4*$line;
  overflow: auto;

  p, ul, ol, pre {
    margin-bottom: 2 * $line;
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: darken($blue, 10%);
    }
  }
}
