#page {
  line-height: 24px;
  padding: (4*$line) 0;
  overflow: auto;

  p, ul, ol, pre {
    margin-bottom: 2 * $line;
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: darken($blue, 10%);
    }
  }
}
