footer {
  clear: both;
  font: 13px/18px $helvetica;

  padding: (2 * $line) 0;

  ul {
    overflow: auto;
    li {
      float: left;
      a {
        color: $blue;
        text-decoration: none;
        margin-right: $gutter;
        &:hover {
          color: black;
        }
      }

      &.facebook, &.twitter {
        float: right;
      }

      &.facebook a {
        background: url(image-path('facebook.png')) left center no-repeat;
        padding-left: 12px + ($gutter/2);
      }

      &.twitter a {
        background: url(image-path('twitter.png')) left center no-repeat;
        padding-left: 12px + ($gutter/2);
      }

    }
  }

  .fineprint {
    clear: both;
    color: rgba(black, 0.2);

    a {
      color: rgba(black, 0.4);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
