header {
  overflow: auto;
  border-bottom: 1px solid darken(white, 10%);
  background: white;

  .wrapper {
    overflow: auto;
    padding-top: $line;
    padding-bottom: $line;
  }

  h1 a, aside {
    line-height: 24px;
  }

  h1 {
    overflow: visible;
    float: left;
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 18px;
    font-weight: 600;

    a {
      display: block;
      color: darken($blue, 10%);
      text-decoration: none;
      float: left;

      position: relative;

      margin: (-$line) 0;
      padding: $line ($gutter/2) $line (27px + $gutter);
      background: url(image-path('logo-24.png')) center left no-repeat;

      &:hover {
        color: black;
      }
    }

    .beta {
      display: block;
      color: darken(white, 40%);
      font-weight: 400;
      margin-left: 0.5em;
      font-size: 12px;

      position: absolute;
      line-height: 12px;
      font-size: 9px;
      bottom: 0;
      right: $gutter/2;
    }
  }

  aside {
    float: right;
    font-size: 12px;

    ol {
      overflow: auto;

      li, .pipe {
        float: left;
        margin-left: $gutter;
        color: #CCC;
      }

      a {
        color: $blue;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }

      .pro {
        color: darken($blue, 20%);
        @include border-radius($radius);
        font-weight: 600;
      }

      .time a {
        padding-left: 18px + ($gutter/2);
        font-weight: 400;
        background: url(image-path('clock.png')) left -1px no-repeat;
        @include border-radius(6px);
        color: lighten($blue, 10%);
        text-shadow: 0 1px 0 rgba(white, 0.4);
        font-weight: 500;
        &:hover {
          color: black;
        }
      }

      .profile img {
        display: block;
        border-radius: $radius;
      }
    }
  }
}
