.wrapper {
  width: cols(8);
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background: rgba($blue, 0.2);
  text-shadow: none;
}

html {
  font: 400 14px/18px $helvetica;
  min-width: $width;
  background: white;
}

@import 'header';
@import 'masthead';
@import 'subhead';
@import 'content';
@import 'footer';

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

.spaceball, .pipe {
  display: inline;

  &:before {
    @include inline-block;
  }
}

.spaceball:before {
  content: '\00B7';
  padding: 0 ($gutter /2);
}

.pipe:before {
  content: '|';
}

.spinner {
  background: url(image-path('spinner.gif')) center no-repeat;
  width: 16px;
  height: 16px;
}

h2 {
  margin: (3*$line) 0 $line;
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
}

code {
  font-family: monospace;
}

label {
  display: block;
}

input[type=text],
input[type=email],
input[type=textarea],
input[type=password] {
  @include box-sizing(border-box);
  font: 400 16px/18px $helvetica;
  padding: $line ($gutter / 2);
  margin: 0;
}

textarea {
  @include box-sizing(border-box);
  font: 400 14px/18px $helvetica;
  border: 1px solid rgba(black, 0.1);
  outline: none;
  margin: 0;
  padding: $line $gutter;
  @include border-radius($radius);

  &:hover {
    border-color: rgba(black, 0.2);
  }

  &:focus {
    border-color: $blue;
  }
}

input[type=checkbox] + label, input[type=radio] + label {
  display: inline;
}

button, input[type=submit], a.button {
  margin: 0;
  border: none;
  outline: none;
  @include linear-gradient(rgba(white, 0.1), rgba(black, 0.1));
  background-color: $blue;
  color: white;
  font: 500 12px/24px $helvetica;
  cursor: pointer;
  padding: ($line / 2) (2*$gutter);
  margin-bottom: $line;
  text-shadow: 0 1px 0 rgba(black, 0.4);
  text-decoration: none;

  @include border-radius($radius);

  &.muted {
    background-color: darken(white, 10%);
    color: darken(white, 60%);
    text-shadow: 0 1px 0 rgba(white, 0.4);
  }

  &:hover, &:focus {
    color: white;
    background-color: darken($blue, 10%);
    text-shadow: 0 1px 0 rgba(black, 0.4);
  }

  &:disabled {
    background-color: darken(white, 5%);
    text-shadow: 0 -1px 0 rgba(black, 0.2);
    cursor: default;
  }
}

form {
  .errors {
    p {
      margin: 0 !important;
    }
    ol {
      margin: 0 0 (2*$line) $gutter;
    }
  }

  section {
    margin-bottom: 2*$line;

    h3 {
      float: left;
    }

    fieldset {
      margin-left: cols(2);

      &.inline div {
        display: inline;
        margin-right: $gutter;
      }
    }

    &.disabled label {
      color: #999;
    }
  }

  .field_with_errors {
    color: $red;
  }

  .hint {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    margin-top: $line;
  }
}

iframe.youtube {
  margin: 24px auto;
  display: block;
}

.callout {
  background: #FFC;
  text-align: center;
  padding: $line $gutter;
  line-height: 18px;
  margin-bottom: 2*$line;
  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: darken($blue, 10%);
    }
  }

}
