.wrapper {
  @include span(8);
  margin-left: auto;
  margin-right: auto;
}

::selection {
  background: rgba($blue, 0.2);
  text-shadow: none;
}

html {
  font: 400 14px/18px $helvetica;
  min-width: $width;
  background: white;
}

@import 'header';
@import 'masthead';
@import 'subhead';
@import 'content';
@import 'footer';

strong {
  font-weight: 600;

  &.highlight {
    background-color: #FFC;
    padding: 1px 2px;
  }
}

em {
  font-style: italic;
}

.spaceball, .pipe {
  display: inline;

  &:before {
    @include inline-block;
  }
}

.spaceball:before {
  content: '\00B7';
  padding: 0 ($gutter /2);
}

.pipe:before {
  content: '|';
}

.spinner {
  background: url(image-path('spinner.gif')) center no-repeat;
  width: 16px;
  height: 16px;
}

h2, dt {
  margin: 0 0 (2*$line);
  line-height: 24px;
  font-size: 21px;
  font-weight: 400;
  color: darken($blue, 20%);
}

code {
  font-family: monospace;
}

label {
  display: block;
}

input[type=text],
input[type=email],
input[type=textarea],
input[type=password] {
  @include box-sizing(border-box);
  font: 400 16px/18px $helvetica;
  padding: $line ($gutter / 2);
  margin: 0;
}

textarea {
  @include box-sizing(border-box);
  font: 400 14px/18px $helvetica;
  border: 1px solid rgba(black, 0.1);
  outline: none;
  margin: 0;
  padding: $line $gutter;
  @include border-radius(0px);

  &:hover {
    border-color: rgba(black, 0.2);
  }

  &:focus {
    border-color: darken($blue, 10%);
    border-bottom-color: darken($blue, 20%);
  }
}

input[type=checkbox] + label, input[type=radio] + label {
  display: inline;
}

button, input[type=submit], a.button {
  margin: 0;
  border: none;
  text-align: center;
  padding: $line (4*$gutter);
  @include box-sizing(border-box);
  font-size: 16px;
  background-color: lighten($blue, 30%);

  text-shadow: 0 1px 0 rgba(white, 0.6);
  color: darken($blue, 10%);
  text-decoration: none;
  line-height: 18px;
  @include border-radius(48px);
  @include linear-gradient(rgba(white, 0.4), rgba(white, 0));

  border-top: 1px solid lighten($blue, 60%);
  border-bottom: 1px solid lighten($blue, 40%);

  box-shadow: 0 1px 1px rgba(black, 0.1);

  background-color: lighten($blue, 50%);
  font-weight: 600;
  font-family: $helvetica;

  cursor: pointer;

  &:focus {
    outline: none;
    background-color: lighten($blue, 45%);
    border-top-color: lighten($blue, 55%);
    border-bottom-color: lighten($blue, 35%);
  }

  &:hover {
    color: black;
    background-color: lighten($blue, 45%);
    border-top-color: lighten($blue, 55%);
    border-bottom-color: lighten($blue, 35%);
  }

  &:active {
    box-shadow: 0 1px 0 rgba(white, 0.8);
    background-color: lighten($blue, 40%);
    border-bottom-color: lighten($blue, 30%);
  }

  &:disabled {
    color: darken(white, 15%);
    background-color: darken(white, 5%);
    border-bottom-color: darken(white, 10%);
    box-shadow: 0 1px 1px rgba(black, 0.1);
    cursor: default;
  }
}

form {
  .errors {
    p {
      margin: 0 !important;
    }
    ol {
      margin: 0 0 (2*$line) $gutter;
    }
  }

  section {
    margin-bottom: 2*$line;

    h3 {
      float: left;
    }

    fieldset {
      margin-left: cols(2);

      &.inline div {
        display: inline;
        margin-right: $gutter;
      }
    }

    &.disabled label {
      color: #999;
    }
  }

  .field_with_errors {
    color: $red;
  }

  .hint {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    margin-top: $line;
  }
}

iframe.youtube {
  margin: 24px 0;
  display: block;
}

.callout {
  line-height: 18px;
  margin-bottom: 2*$line;
  color: darken(white, 60%);

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: darken($blue, 10%);
    }
  }
}

#before nav.subnav {
  overflow: auto;
  border-bottom: 1px solid darken(white, 5%);

  li {
    float: left;

    a {
      display: block;
      padding: $line $gutter;
      padding-bottom: $line - 1px;
      line-height: 24px;
      font-size: 12px;
      color: darken($blue, 10%);
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: black;
      }

      &.active {
        font-weight: bold;
      }
    }
  }

}

.flash {
  border-top: 1px solid white;
  border-bottom: 1px solid lighten($blue, 40%);
  background-color: lighten($blue, 52%);
  padding-top: 2*$line;
  color: desaturate(lighten($blue, 0%), 50%);
  .close {
    float: right;
  }
  p {
    margin-bottom: 2*$line;
  }

  &.alert {
    background-color: lighten($yellow, 10%);
    border-bottom-color: desaturate($yellow, 50%);
    color: $red;
  }
}
