#masthead {
  overflow: auto;
  background: url(image-path('cubes.png')) center top;

  .wrapper {
//    width: cols(8);
  }

  h1 {
    float: left;
    font-size: 24px;
    line-height: 48px;
    margin: (2 * $line) 0;

    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: lighten(black, 40%);
      }
    }
  }

  h2 {
    float: left;
    margin: (-2*$line) 0 (2*$line);
    padding-bottom: 2*$line;

    font-size: 18px;
    color: #999;

    line-height: 24px;
  }

  aside {
    float: right;
    margin-top: (2*$line);
    text-align: right;

    p {
      margin-top: 2*$line;
    }

    .hint {
      font-size: 12px;
      color: #999;
      a {
        color: #999;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }
    }

    button, input[type=submit], .button {
      display: block;
      margin: $line 0;
      text-align: center;
    }

  }
}
