@import 'bourbon';

// Fonts

$paytone:   'Paytone One', Helvetica, Arial, 'sans-serif';
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Grid

$width: 960px;

$baseline: 6px;

$gutter: 10px;
$pad:    20px;
$col:    $pad + 20px + $pad;
$cols:   12;

$radius: 3px;
$border: 2px;


// Colors

$bg:     #EDEDED;
$gray:   #8BC;
$blue:   #08D;
$yellow: #FE0;
$red:    #F63;
$green:  #BADA55;


// Mixins

@mixin debug {
  background: rgba(red, 0.2);
}

@mixin logo {
  font-weight: 700;
  font-family: $paytone;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-top: -1px;
}
