@import 'bourbon';

// Fonts

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$museo:     'museo-sans-rounded-1', 'museo-sans-rounded-2', Helvetica, Arial, sans-serif;

// Grid

$baseline: 6px;

$gutter: 10px;
$pad:    20px;
$col:    $pad + 20px + $pad;
$cols:   12;

$radius: 2px;
$border: 2px;

$width: 10 * ($gutter + $col + $gutter);


// Colors

$bg:     #EDEDED;
$gray:   #8BC;
$blue:   #08D;
$yellow: #fff399;
$red:    #F63;
$green:  #BADA55;


// Mixins

@mixin debug {
  background: rgba(red, 0.2);
}

@mixin logo {
  font-weight: 900;
  font-family: $museo;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: -1px;
}
