html {
  margin-top: 7*$line;
}

header {
  position: fixed;
  overflow: visible;
  border-bottom: 2px solid darken(white, 10%);
  z-index: 99;
  top: 0; left: 0; right: 0;

  min-width: $width;

  background-color: white;

  h1 {
    float: left;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 18px;

    a {
      color: $red;
      text-decoration: none;

      padding: (2*$line) $gutter;

      margin-left: -$gutter;
      margin-right: $gutter;

      display: block;

      &:hover {
        color: black;
      }
    }

    em {
      display: none;
    }
  }

  ol {
    overflow: visible;
    li {
      float: left;
    }

    a {
      display: block;
      padding: (2*$line) $gutter;

      color: $blue;
      text-decoration: none;
      line-height: 18px;
      font-size: 12px;
      font-weight: 600;
      @include antialiasing;

      border-color: darken(white, 5%);
      border-type: solid;
      border-left: 1px solid darken(white, 5%);

      &:hover {
        color: black;
        background: darken(white, 5%);
      }
    }

    .signin, .user, .time, .buy {
      float: right;
      position: relative;
    }

    .hours {
      padding: (2*$line) $gutter;
      line-height: 18px;

      font-size: 12px;
      font-weight: 600;
    }

    .user {
      img {
        display: block;
        border-radius: $radius;
      }

      &.active ol {
        display: block;
      }
    }

    ol {
      display: none;

      right: 0;
      top: 7*$line;
      width: cols(2) - (2*$gutter);
      position: absolute;

      @include border-radius(0 0 $radius $radius);

      z-index: 100;
      background-color: white;
      border: 1px solid darken(white, 15%);
      border-bottom-width: 2px;
      border-top: none;
      @include box-sizing(border-box);

      li {
        float: none;
      }

      a {
        border: none;
      }
    }

  }
}


#flash {
  width: $width;
  overflow: auto;

  .message {
    padding: $line $gutter;
    line-height: 24px;
    font-size: 13px;
    margin-top: $line;
    border-bottom: 1px solid rgba(black, 0.05);

    @include border-radius($radius);

    a.hide {
      float: right;
      font-size: 11px;
      color: rgba(black, 0.4);
      font-weight: 600;
      text-decoration: none;

      display: block;
      padding: $line (2*$gutter);
      margin: (-$line) (-$gutter);
      text-align: center;

      &:hover, &:focus {
        color: rgba(black, 0.8);
      }
    }
  }

  .notice, .success {
    color: black;
    background-color: lighten($yellow, 35%);
  }

  .alert, .error {
    font-weight: 600;
    color: $red;
    background-color: lighten($yellow, 30%);
  }
}


@mixin active-masthead-menu-item {
  a {
    color: black;
    background-color: white;
    font-weight: bold;
    z-index: 1;
    position: relative;
    border-color: darken(white, 10%);
    border-bottom: 1px solid white;
    margin-bottom: -1px;

    &:hover {
      background: white;
    }
  }
}

#masthead {
  padding: (4*$line) 0;

  h1 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 500;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
    color: rgba(black, 0.6);
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover, &:focus {
      color: black;
    }
  }

  nav {
    margin-top: 4*$line;
    margin-bottom: -4*$line;

    ol {
      clear: both;
      position: relative;
      margin-bottom: -1px;

      li {
        float: left;
        margin-right: 1px;
        padding: 0;

        a {
          display: block;
          padding: ($line/2) $gutter;

          line-height: 24px;
          background-color: rgba(white, 0.6);
          color: $blue;
          text-decoration: none;

          @include border-radius($radius $radius 0 0);
          border: 1px solid darken(white, 5%);
          border-bottom: none;

          &:hover {
            color: black;
            border-color: darken(white, 10%);
            background-color: darken(white, 5%);
          }
        }
      }

      .settings {
        float: right;
      }

    }
  }
}

#page {
  clear: both;
  width: $width + 2px;
  margin: 0 auto;
  padding: 0 $gutter;
  @include box-sizing(border-box);

  background-color: white;
  border: 1px solid rgba(black, 0.1);
  border-bottom-width: 2px;
/*  border-bottom-color: rgba(black, 0.15);*/
/*  @include box-shadow(0 1px 3px rgba(black, 0.1));*/
  @include border-radius($radius);
  overflow: auto;

  color: rgba(black, 0.6);
  line-height: 24px;


  article {
    float: left;
    width: cols($ncols - 3);
    @include box-sizing(border-box);
    padding: (2*$line) $gutter;
    margin-left: -$gutter;
  }

  aside {
    float: right;
    width: cols(3);
    @include box-sizing(border-box);
    padding: (2*$line) $gutter;
    margin-right: -$gutter;

    border-left: 1px solid darken(white, 5%);
  }

  h1 {
    font-size: 18px;
    color: lighten($blue, 10%);
    margin: (2*$line) 0;
    font-weight: 500;
  }

  h2 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: $line;
    color: lighten($blue, 10%);
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    color: black;
  }

  p, ul, ol, pre {
    margin-bottom: 2 * $line;
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }

  dl {
    dt {
      font-weight: 600;
      color: black;
    }

    dd {
      margin-bottom: 2*$line;
    }
  }

  .note {
    background: lighten($yellow, 35%);
    color: rgba(black, 0.8);
    margin: 0 (-$gutter) (2*$line) (-$gutter);
    padding: $line $gutter;
  }

  .btn {
    @include btn(lighten($blue, 10%), white);
  }

}


footer {
  clear: both;
  font: 13px/18px $helvetica;

  padding: (2*$line) $gutter;
  margin: 0 $gutter;

  ul {
    overflow: auto;
    li {
      float: left;
      a {
        color: $blue;
        text-decoration: none;
        margin-right: $gutter;
        display: block;
        &:hover {
          color: black;
        }
      }

      &.twitter {
        float: right;
        a {
          background: url(image-path('twitter.png')) left center no-repeat;
          padding-left: 26px + ($gutter/2);
          margin-right: 0;
        }
      }

    }
  }

  .fineprint {
    clear: both;
    color: rgba(black, 0.2);
    font-size: 11px;

    a {
      color: rgba(black, 0.4);
      text-decoration: none;
      &:hover {
        color: rgba(black, 0.6);
      }
    }
  }
}
