html {
  background: url(image-path('grain.png'));
}

body {
  margin-top: 8*$line;
  width: $width;
}

#backside {
  position: fixed;
  top: 8*$line; right: 0; bottom: 0; left: 0;
  z-index: -1;

  background: white;

  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.6);
    display: none;
  }
}

header {
  position: fixed;
  overflow: visible;
  z-index: 100;
  top: 0; left: 0; right: 0;
  padding: 0 $radius;

  background-color: $yellow;
  text-shadow: 0 1px 0 rgba(white, 0.6);

  @include box-shadow(0 1px 0 rgba(black, 0.2));

  .wrapper {
    width: $width;
    margin: 0 auto
  }

  h1 {
    float: left;
    font-size: 18px; line-height: 4*$line;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: $proxima;

    a {
      display: block;
      position: relative;
      padding: (2*$line) (2*$gutter);

      color: black;
      text-decoration: none;

      em {
        display: none;
      }
    }
  }

  ol {
    overflow: visible;
    li {
      float: left;
      font-size: 14px; line-height: 4*$line;
      font-weight: 900;
      color: rgba(black, 0.8);

      a {
        display: block;
        padding: (2*$line) (2*$gutter);

        color: rgba(black, 0.8);
        text-decoration: none;
        @include antialiasing;
      }

      a:hover, &.active > a {
        background-color: rgba(black, 0.05);
      }

      &.signin, &.signup, &.user, &.time, &.buy {
        float: right;
        position: relative;
      }

      &.time {
        padding: (2*$line) $gutter;
      }

      &.user {
        img {
          display: block;
          border-radius: $radius;
        }

        &.active ol {
            display: block;
        }
      }

      ol {
        display: none;

        right: 0;
        top: 8*$line;
        width: cols(2) - (2*$gutter);
        position: absolute;

        @include border-radius(0 0 $radius $radius);
        @include box-shadow(0 1px 0 rgba(black, 0.2));

        z-index: 101;
        background-color: $yellow;
        @include box-sizing(border-box);

        li {
          float: none;

          a {
            border: none;
            border-top: 1px solid rgba(black, 0.1);

            &:last-child:hover {
              @include border-radius(0 0 $radius $radius);
            }
          }
        }
      }
    }
  }
}


#flash {
  overflow: auto;

  .message {
    padding: $line $gutter;
    line-height: 4*$line;
    font-size: 13px;
    margin-top: $line;
    border-bottom: 1px solid rgba(black, 0.05);

    @include border-radius($radius);

    a.hide {
      float: right;
      font-size: 11px;
      color: rgba(black, 0.4);
      font-weight: 600;
      text-decoration: none;

      display: block;
      padding: $line (2*$gutter);
      margin: (-$line) (-$gutter);
      text-align: center;

      &:hover, &:focus {
        color: rgba(black, 0.8);
      }
    }
  }

  .notice, .success {
    color: black;
    background-color: lighten($yellow, 35%);
  }

  .alert, .error {
    font-weight: 600;
    color: $red;
    background-color: lighten($yellow, 30%);
  }
}

#masthead {
  padding: (2*$line) $pad;

  h1 {
    margin: (2*$line) 0;

    font-size: 28px;
    line-height: 8*$line;
    font-weight: 600;
    font-family: $proxima;
    text-shadow: 0 1px 0 rgba(white, 0.8);
  }

  h2 {
    font-size: 18px;
    line-height: 10*$line;
    color: rgba(black, 0.6);
  }

  p {
    margin-bottom: 4*$line;
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover, &:focus {
      color: black;
    }
  }
}

#page {
  clear: both;
  margin: 0 auto;

  background-color: white;

  @include box-shadow(0 0 1px rgba(black, 0.2));
  @include border-radius($radius);
  overflow: auto;

  color: rgba(black, 0.6);
  line-height: 5*$line;

  @include box-sizing(border-box);

  article {
    float: left;
    width: cols($ncols - 3);
    @include box-sizing(border-box);
    padding: (4*$line) $pad;
  }

  aside {
    float: right;
    width: cols(3);

    @include box-sizing(border-box);
    padding: (4*$line);
    margin: 0;
    border-left: 1px solid darken(white, 5%);
  }

  h1 {
    font-size: 24px; line-height: 8*$line;
    color: darken($blue, 20%);
    margin-bottom: 4*$line;
    font-weight: 500;
  }

  h2 {
    font-size: 19px;
    line-height: 6*$line;
    margin: (4*$line) 0;
    color: darken($blue, 10%);
  }

  h3 {
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin: $line 0;
  }

  p, ul, ol, pre {
    margin-bottom: 2 * $line;
  }

  a {
    color: $blue;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }

  hr {
    border-top: 1px solid rgba(black, 0.05);
  }

  figure {
    margin-bottom: 4*$line;

    img, #map {
      margin: 0 (-$pad);
      width: cols($ncols - 3);
    }

    figcaption {
      color: rgba(black, 0.4);
      font-size: 12px; line-height: 4*$line;
    }
  }

  dl {
    dt {
      font-weight: 600;
      color: black;
    }

    dd {
      margin-bottom: 2*$line;
    }
  }

  .note {
    background: #FFC;
    color: rgba(black, 0.8);
    margin: 0 (-$pad);
    margin-bottom: 2*$line;
    padding: $line $pad;

    &.small {
      font-size: 12px;
      line-height: 3*$line;
    }
  }

  .btn {
    @include btn($blue, white);
  }
}


footer {
  clear: both;
  font-size: 12px; line-height: 4*$line;

  padding: (2*$line) $pad;
  padding-bottom: 10*$line;

  ul {
    overflow: auto;
    li {
      float: left;
      a {
        color: $blue;
        font-weight: bold;
        text-decoration: none;
        margin-right: $gutter;
        display: block;
        text-shadow: 0 1px 0 rgba(white, 0.6);
        &:hover {
          color: black;
        }
      }

      &.twitter {
        float: right;
        a {
          background: url(image-path('twitter.png')) left center no-repeat;
          padding-left: 26px + ($gutter/2);
          margin-right: 0;
        }
      }

    }
  }

  .fineprint {
    color: rgba(black, 0.2);
    font-size: 11px;
    float: left;

    a {
      color: rgba(black, 0.4);
      text-decoration: none;
      &:hover {
        color: rgba(black, 0.6);
      }
    }
  }
}
