@mixin btn($bg, $text, $hover: black) {
  color: $text;
  background-color: $bg;

  display: block;
  padding: ($line * 2) $gutter;
  margin-top: 0; margin-bottom: 0;

  font: 600 15px $helvetica;
  line-height: $line * 4;
  text-decoration: none;
  text-align: left;

  border: none;

  cursor: pointer;

  &:hover, &.hover, &:focus, &.focus {
    color: $text;
    background-color: $hover;
    text-decoration: none;
    cursor: pointer;
  }

  &:disabled, &.disabled {
    background-color: darken(white, 5%);
    color: rgba(black, 0.1);

    @include box-shadow(none);
    text-shadow: none;

    cursor: default;
  }
}
