@mixin btn($bg, $text, $hover: black) {
  color: $text;
  background-color: $bg;

  display: block;
  padding: ($line * 2) $gutter;
  margin-top: 0; margin-bottom: 0;

  font: 600 15px $helvetica;
  line-height: $line * 4;
  text-decoration: none;
  text-align: left;

  border: none;

  cursor: pointer;

  .icon {
    background-color: darken($bg, 10%);
    display: block;
    float: left;

    padding: $line $gutter;
    margin: (-$line) $gutter (-$line) (-$gutter);

    @include border-radius($radius 0 0 $radius);

    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 24px;
  }

  &:hover, &:focus {
    color: $text;
    background-color: $hover;
    text-decoration: none;
    cursor: pointer;
  }

  &:disabled, &.disabled {
    background-color: darken(white, 5%);
    color: rgba(black, 0.1);

    @include box-shadow(none);
    text-shadow: none;

    cursor: default;

    .icon {
      background-color: darken(white, 10%);
      cursor: default;
    }
  }

}
