@mixin btn($bg, $text, $hover: black) {
  @include box-sizing(border-box);
  color: $text;
  background-color: $bg;

  display: block;
  padding: (($line * 2) - 1px) $gutter;
  margin-top: 0; margin-bottom: 0;

  font: 600 15px $helvetica;
  line-height: $line * 4;
  text-decoration: none;
  text-align: left;

  border: none;

  text-shadow: 0 -1px 0 rgba(black, 0.4);
  @include box-shadow(inset 0 -1px 0px rgba(black, 0.2), 0 1px 1px rgba(black, 0.1));
  @include border-radius(2px);

  cursor: pointer;

  text-shadow: 0 1px 0 rgba(black, 0.1);


  outline: none;

  span {
    color: lighten($blue, 20%); text-shadow: 0 -1px 0 rgba(black, 0.1);
  }


  &:hover, &.hover, &:focus, &.focus {
    color: $text;
    background-color: $hover;
    border-color: darken($hover, 10%);
    text-decoration: none;
    cursor: pointer;
  }

  &:active, &.active {
    @include linear-gradient(rgba(black, 0.2), rgba(white, 0.05));
    background-color: $hover;
  }

  &:disabled, &.disabled {
    background-color: darken(white, 5%);
    color: rgba(black, 0.1);

    border-color: darken(white, 10%);

    @include box-shadow(none);
    text-shadow: none;

    cursor: default;
  }
}
