@import 'shared/vars';

#content {
  margin-bottom: 2 * $baseline;

  background-color: -webkit-linear-gradient(top, white, #CCC);

  #page {
    position: relative;
  }

  a {
    cursor: pointer;
  }

  strong {
    font-weight: 700;
  }

  pre {
    margin-bottom: 2*$baseline;
  }

  code {
    font-family: monospace;
  }

  form {
    label {
      display: block;
    }

    input, textarea {
      padding: $baseline $gutter/2;

      padding: ($baseline - $border) ($gutter - $border);
      border: $border solid darken(white, 10%);
      @include border-radius($radius);
      outline: none;
      margin: 0;

      font: 14px/18px $helvetica;

      @include transition(border-color, 0.15s, ease-in-out);

      &.placeholder, &::-webkit-input-placeholder, &::-moz-input-placeholder {
        color: darken(white, 20%);
      }

      &:-webkit-autofill {
        color: darken($yellow, 10%);
        background: $yellow;
        border-color: darken($yellow, 20%);
//        text-shadow: 0 1px 0 white;
      }

      &:focus {
        border-color: $blue;
      }

      &[type=image] {
        border: none;
      }

    }

    button, input[type=submit] {
      margin: 0;
      padding: $baseline $gutter;

      @include border-radius($radius);

      background: $blue;
      border: none;
      color: white;
      font: 600 14px/18px $helvetica;
//      text-transform: uppercase;
      text-shadow: 0 1px 0 darken($blue, 10%);

      cursor: pointer;
      outline: none;

      &:hover, &:focus {
        background: darken($blue, 10%);
        text-shadow: 0 1px 0 darken($blue, 20%);
      }

      &:disabled {
        background: darken(white, 10%);
        &:hover, &:focus {
          background: darken(white, 15%);
        }
      }
    }
  }

  header {
    margin: 0;
    padding: (2 * $baseline) 0;
    font-size: 24px; line-height: 48px;
    overflow: auto;

    h1 {
      font-size: 24px;
      font-family: $museo;
    }
  }
}
