@import 'shared/vars';

footer.global {
  font: 12px/18px $helvetica;
  padding-bottom: 20 * $baseline;
  color: #CCC;
  text-shadow: 0 1px 0 white;

  nav {
    margin: (2 * $baseline) 0 $baseline;
    font-size: 14px;
    line-height: 30px;

    .pipe {
      margin: 0 $gutter;
    }
  }

  a {
    font-weight: bold;
    text-decoration: none;
    color: darken($blue, 10%);
    text-shadow: 0 1px 0 white;
    &:hover {
      color: $blue;
    }
  }

  p {
    margin-bottom: $gutter;
  }

  form.new_invite {
    float: right;
    margin-top: (2 * $baseline);

    p {
      margin: $baseline 0 0 $gutter;
    }

    input[type=submit] {
      margin-left: $gutter;
    }
  }
}
