footer {
  border-top: 1px solid rgba(black, 0.05);
  margin-bottom: $line * 20;

  font-size: 12px; line-height: $line * 4;

  ol {
    @include row;

    li {
      @include gridColumn;
      a {
        display: block;
        color: $blue;
        font-weight: 600;
        text-decoration: none;
        line-height: 6*$line;

        &:hover {
          color: darken($blue, 20%);
        }
      }

      &.fineprint a {
        color: darken(white, 20%);
        font-weight: 400;

        &:hover {
          color: darken(white, 40%);
        }
      }

      &.social {
        float: right;
      }
    }
  }

  .mixpanel {
    float: right; margin-top: $line * 4; opacity: 0.1;
  }
}
