label {
  display: block;
}

input[type=text],
input[type=email],
input[type=textarea],
input[type=password] {
  @include box-sizing(border-box);
  font: 400 16px/18px $helvetica;
  padding: $line ($gutter / 2);
  margin: 0;
}

input[type=checkbox] + label,
input[type=radio] + label {
  display: inline;
}

form {
  section {
    margin-bottom: 2*$line;
    clear: both;

    h3 {
      float: left;
    }

    fieldset {
      margin-left: cols(2);

      &.inline div {
        display: inline;
        margin-right: $gutter;
      }
    }

    &.disabled label {
      color: #999;
    }
  }

  .hint {
    font-size: 12px;
    color: #999;
    line-height: 18px;
    margin-top: 0;
    margin-bottom: 2*$line;
  }

  input[type=text], input[type=password], input[type=email] {
    border: 1px solid darken(white, 10%);
    outline: none;
    @include border-radius($radius);

    &:focus {
      border-color: $yellow;
      @include box-shadow(0 0 1px $yellow);
    }
  }

  input[type=submit] {
    @include btn(lighten($blue, 10%), white);
    padding: $line (2*$gutter);
  }

  .errors {
    padding: ($line/2) 0;
    margin-bottom: $line;

    color: $red;
    line-height: 18px;
  }

  .field_with_errors {
    label {
      color: black;
    }

    input {
      border-color: $red;
    }
  }

}