label {
  display: block;
}

/*input[type=text],
input[type=email],
input[type=textarea],
input[type=password] {
  @include box-sizing(border-box);
  font: 400 14px/18px $helvetica;
  padding: $line ($gutter / 2);
  margin: 0;
}
*/

input[type=checkbox] + label,
input[type=radio] + label {
  display: inline;
}

form {
  section {
    margin-bottom: 2*$line;
    clear: both;

/*    h3 {
      float: left;
    }*/

    fieldset {
      margin-left: cols(2);

      &.inline div {
        display: inline;
        margin-right: $gutter;
      }
    }

    &.disabled label {
      color: #999;
    }
  }

  .hint {
    font-size: 12px;
    color: #999;
    line-height: 3*$line;
    margin-top: 0;
    margin-bottom: 2*$line;
  }

  input[type=text], input[type=password], input[type=email], textarea {
    margin: 0;
    padding: (2*$line - 1px) ($gutter - 1px);
    font-size: 18px; line-height: 4*$line;
    @include box-sizing(border-box);
  }

  textarea {
    font-family: $helvetica;
    font-size: 14px;
  }

  input[type=submit] {
    @include btn($blue, white);
    padding: (2*$line) ($pad);
  }

  .errors {
    padding: ($line/2) 0;
    margin-bottom: $line;

    color: $red;
    line-height: 3*$line;
  }

  .field_with_errors {
    label {
      color: black;
    }

    input {
      border-color: $red;
    }
  }

  fieldset {
    padding: (4*$line) $pad;
    padding-bottom: 4*$line - 1px;
    border-bottom: 1px solid darken(white, 5%);

    h3 {
      color: black;
      font-weight: 600;
      line-height: 4*$line;
      margin-bottom: 2*$line;
    }

    &.submit {
      clear: both;
      background-color: darken(white, 5%);
      margin-top: -1px;
      border-top: 1px solid darken(white, 10%);
    }
  }

  input[type=text],
  input[type=email],
  input[type=password],
  textarea {
    width: 100%;
    margin: 0; margin-bottom: 2*$line;
  }


}
