.wrapper {
  @include wrapper(10)
}

html {
  font-weight: 400;
  font-size: 14px;
  line-height: 4*$line;
  font-family: $helvetica;
  min-width: $width + (2*$radius);
  background: white;
}

body {
  margin: 0 auto;
}

.accessibility {
  display: none;
  width: 0; height: 0;
  visibility: hidden;
  position: absolute;
}

hr {
  border: none;
  margin: 0; padding: 0;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

code {
  font-family: Inconsolata, monospace;
}
