.wrapper {
  @include wrapper(10)
}

html {
  font: 400 14px/18px $helvetica;
  min-width: $width;
  background: darken(white, 1%) url(image-path('bg.png'));
}

.accessibility {
  display: none;
  width: 0; height: 0;
  visibility: hidden;
  position: absolute;
}

hr {
  border: none;
  margin: 0; padding: 0;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

code {
  font-family: Inconsolata, monospace;
}
