.wrapper {
  @include wrapper(10)
}

html {
  font: 400 14px/18px $helvetica;
  min-width: $width;
  background: white;
}

.accessibility {
  display: none;
  width: 0; height: 0;
  visibility: hidden;
  position: absolute;
}

hr {
  border: none;
  margin: 0; padding: 0;
}

strong {
  font-weight: 600;
}
