header {
  @include clearfix;

  &, ol ol {
    background-color: $yellow;
  }

  // Makes the header line up with the rest of the text
  .container {
    width: $width + ($gutter * 2);
  }

  h1 a, ol li a, ol li.time, ol li.sweet {
    padding: ($line * 2) $gutter;
  }

  h1 {
    float: left;
    font-size: 18px; line-height: $line * 4;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: $proxima;

    a {
      display: block;
      position: relative;

      color: black;
      text-decoration: none;

      em {

          color: rgba(black, 0.4);
        font-size: 12px; line-height: $line * 2;
      }

      &:hover {
        color: white;
        background-color: $green;

        em {
          @include inline-block;
          color: rgba(white, 0.4);
        }
      }
    }
  }

  ol {
    overflow: visible;

    li {
      float: left;
      font-size: 14px; line-height: $line * 4;
      font-weight: 900;
      color: black;

      position: relative;

      a {
        display: block;
        color: black;
        text-decoration: none;
      }

      a:hover, &.active > a {
        background-color: rgba(black, 0.05);
        background-color: $blue;
        color: white;
      }

      // alignment hack, you're welcome
      a {
        font-size: 14px; line-height: ($line * 4) - 3;
        border-top: 3px solid transparent;
        &:hover, &.active > a {
          border-top: 3px solid $blue;
        }
      }


      &.signin, &.signup, &.user, &.time, &.upgrade, &.sweet {
        float: right;
        position: relative;
      }

      &.user {
        img {
          display: block;
          border-radius: $radius;
        }

        &.active ol {
            display: block;
        }
      }

      ol {
        @include columns(2);
        display: none;

        right: 0;
        position: absolute;

        z-index: 101;

        li {
          float: none;

          a {
            border: none;
          }
        }
      }
    }
  }
}
