header {
  @include clearfix;
  border-top: 0 solid darken($blue, 10%);

  &, ol ol {
    @include linear-gradient(rgba(black, 0.0) 60%, rgba(black, 0.1));
    background-color: $teal;
  }

  // Makes the header line up with the rest of the text
  .container {
    width: $width + ($gutter * 2);
  }

  ol li a, ol li.time, ol li.sweet {
    padding: ($line) ($gutter/2);
  }

  h1 {
    float: left;
    font-size: 24px; line-height: $line * 6;
    font-weight: 700;
    letter-spacing: -0.05em;
    font-family: $patagonia;

    a {
      display: block;
      position: relative;

      color: $yellow;
      text-decoration: none;

      text-shadow: 0 2px 0 rgba(black, 0.2);

      padding: ($line + 2px) $gutter ($line - 2px) $gutter;

      em {
        display: none;
        color: lighten($blue, 40%);
        font-size: 12px; line-height: $line * 2;
      }

      &:hover {
        color: $green;

        em {
          color: lighten($green, 40%);
        }
      }
    }
  }

  ol {
    overflow: visible;

    li {
      float: left;
      font-size: 14px; line-height: $line * 4;
      font-weight: 900;
      color: black;

      position: relative;

      margin: $line 0;

      a {
        display: block;

        color: white;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(black, 0.1);
      }

      a:hover, &.active > a {
        background-color: $green;

      }

      &.signin, &.signup, &.user, &.time, &.upgrade, &.sweet {
        float: right;
        position: relative;
      }

      .count {
        font-size: 11px;
        @include border-radius(2px);
        background-color: $red;
        color: white;
        padding: 0 3px;
        line-height: 18px;
        box-shadow: 0 1px 0 rgba(black, 0.4);
        @include inline-block;
      }

      &.user {
        img {
          display: block;
          border-radius: $radius;
        }

        &.active ol {
            display: block;
        }
      }

      ol {
        @include columns(2);
        display: none;
        background-color: $green;

        right: 0;
        position: absolute;

        z-index: 101;

        li {
          float: none;
          margin: 0;

          a {
            border: none;
            &:hover {
              background-color: rgba(white, 0.2);
            };
          }
        }
      }
    }
  }
}
