#masthead {
  padding: ($line * 8) 0;

  h1 {
    font-size: 24px; line-height: $line * 8;
    font-weight: 600; color: $teal;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: $line * 4;
    color: lighten($teal, 20%);
  }

  p {
    line-height: $line * 4;
  }

  a {
    color: $blue; text-decoration: none;
    &:hover, &:focus { color: darken($blue, 20%); }
  }
}
