.pro {
  @include inline-block; padding: 0 $radius;
  background-color: darken(white, 80%);
  color: white; font-weight: 900; font-size: 11px; line-height: $line * 3;
  text-transform: uppercase;
  @include border-radius($line);
  @include box-shadow(inset 0 1px 0 rgba(black, 0.1));
  text-shadow: 0 1px 0 rgba(black, 0.1);
}
a.pro { color: white !important; }
a.pro:hover { background-color: $red; }

.username + .pro { margin: 0 0.5em; }
