.pro {
  @include inline-block; padding: 0 $radius;
  background-color: darken(white, 20%);
  color: white; font-weight: 900; font-size: 11px; line-height: $line * 3;
  text-transform: uppercase;
}
a.pro { color: white !important; }
a.pro:hover { background-color: $red; }

.username + .pro { margin: 0 1em; }
