@import 'vars';

.credit-pack-picker {
  @include clearfix;
  
  .credit-pack {
    width: 25%;
    float: left;
    padding-top: lines(2);
    padding-bottom: lines(2);
    text-align: center;
    border-right: 1px solid rgba(black, 0.1);
    
    @include box-sizing(border-box);
    
    .credits {
      font-size: 24px;
    }
    
    .price {
      font-size: 18px;
      line-height: lines(6);
    }
    
    .rate {
      color: rgba(black, 0.6);
      font-size: 11px;
    }
    
    &:last-child {
      border-right: none;
    }
  }
}
