@charset 'UTF-8';

.l-devise {

  .invitation-message {
    margin-bottom: l(4);

    > .message {
      position: relative;

      font-size: 18px;
      line-height: l(2);

      color: $brand-blue;
      background-color: lighten($brand-blue, 58%);
      padding: l(1) $gw-gutter;

      @include box-sizing(border-box);

      > .sig {
        margin-bottom: 0;
      }

      &:before, &:after {
        color: $brand-blue;
        font-size: 48px;
        line-height: l(3);
        position: absolute;
      }

      &:before {
        content: "\201C";
        top: l(1);
        left: -0.25em;
      }

      &:after {
        content: "\201D";
        top: l(1);
        right: -0.25em;
      }
    }
  }
}
