html {
  background: white;
  font-weight: 400;
  font-size: 14px;
  line-height: $line * 4;
  font-family: $proxima;
  min-width: $width + ($gutter * 2);

  text-rendering: optimizeLegibility;
}

body > section {
  @include container;
}

.is-fullscreen {
  overflow: hidden;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

code {
  font-family: Monaco, monospace;
}

img {
  display: block;
}

.container {
  @include container;
}

.row {
  @include row;
}
