html {
  background: white;
  font-weight: 400;
  font-size: 14px;
  line-height: $line * 4;
  font-family: $helvetica;
  min-width: $width + ($gutter * 2);

  text-rendering: optimizeLegibility;
}

.container { @include container; }
.row { @include row; }
strong { font-weight: 600; }
em { font-style: italic; }
code { font-family: Monaco, monospace; }
.highlight { background-color: lighten($yellow, 40%); }
