@import 'vars';

#Intercom {
  display: inline-block;
  text-decoration: underline;
  padding: 0;
}

.l-help {
  
  h2 {
    font-size: 28px;
    color: lighten($purple, 0%);
  }
  
  h3 {
    font-size: 18px;
    line-height: 40px;
  }
  
  aside {
    
    .well {
      @include box-sizing(border-box);
      background-color: lighten($yellow, 30%);
      @include border-radius($radius);
      
      &.affix {
        top: 40px;
        min-height: 1px;
      }

      &.affix,
      &.affix-top {
        margin-left: 0;
      }
    }
    
    h4 {
      font-style: italic;
      margin-bottom: lines(4);
    }
    
    h3 {
      padding: lines(1) 0;
      line-height: lines(4);
      font-weight: normal;
      color: rgba(lighten($black, 0%), 0.4);
    }
  }
  
}
