@import 'vars';

.l-home {
  
  .container {
    width: grid-width(12);
  }
  
  #movie {
    width: 640px;
    height: 360px;
    margin: 0 auto;
    background-color: black;
    border: 1px solid rgba(black, 0.1);
    
    margin-bottom: lines(16);
  }
  
  
  section {
    padding-top: lines(4);
    padding-bottom: lines(16);
    
    h3 {
      font-family: $futura;
      margin: 0;
      line-height: lines(4);
      color: rgba(black, 0.2);
      font-size: 18px;
    }
  }
  
  .games-list {
    margin-left: - $gw-gutter;
    @include clearfix;
    
    .game {
      font-weight: 600;
      width: grid-width(2);
      float: left;
      @include box-sizing(border-box);
      background: $blue;
      padding: lines(4) $gw-gutter;
      min-height: grid-width(2);
      margin-left: $gw-gutter;
      color: white;
      
      h3 {
        display: block;
        font-size: 16px;
        color: white;
        line-height: lines(4);
      }
      
      p {
        color: rgba(black, 0.6);
        margin: 0;
      }
    }
    
    .game.coming-soon {
      opacity: 0.6;
    }
  }
  
  .feature-list {
    .feature {
      font-size: 16px;
      line-height: lines(5);
      font-weight: 500;
      
      h4 {
        font-size: 28px;
        font-family: $futura;
        font-weight: 600;
        font-style: italic;
        margin-bottom: lines(4);
        line-height: lines(8);
      }
    }
  }
}
