.l-home {

  .navbar {
    background-color: $brand-blue;
    .navbar-inner .brand a {
      color: white;
    }
  }

  .jumbotron,
  .funpack-library,
  .feature-list,
  .call-to-action,
  .press {
    margin-bottom: l(4);
  }

  .jumbotron {
    background-color: $brand-blue;

    h1 {
      color: white;
    }

    h2 {
      color: $brand-darkBlue;
    }
  }

  .announcement {
    display: block;
    background-color: desaturate($brand-green, 10%);
    padding: l() $gw-gutter;
    text-align: center;
    color: white;
    font-size: 16px;
  }

  .feature-list {
    margin-bottom: l(4);

    .feature {
      font-size: 16px;
      line-height: l(3);
      color: $brand-darken;
      margin-bottom: l(4);

      h3 {
        color: $brand-darkGray;
        font-size: 24px;
        font-weight: 400;
      }
    }
  }

  .call-to-action, .press {
    text-align: center;
    font-size: 18px;
  }

  footer .mixpanel-badge {
    display: block;
  }

}
