.l-home {

  .hero-unit,
  .game-list,
  .feature-list,
  .call-to-action,
  .press {
    margin-bottom: l(4);
  }

  .hero-unit {
    background-color: desaturate($blue, 20%);

    h1 {
      color: white;
    }

    h2 {
      color: darken($blue, 20%);
    }
  }

  .announcement {
    display: block;
    background-color: desaturate($green, 10%);
    padding: l() $gw-gutter;
    text-align: center;
    color: white;
    font-size: 16px;
  }

  .game-list {
    margin-left: - $gw-gutter;
    @include clearfix;

    .game {
      position: relative;
      float: left;
      width: grid-width(2);
      min-height: grid-width(2);

      @include box-sizing(border-box);
      background: $blue;
      padding: l(1) ($gw-gutter / 2);

      margin-left: $gw-gutter;
      font-weight: 600;
      color: white;

      overflow: hidden;

      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      h3 {
        position: relative;
        display: block;
        font-size: 18px;
        color: white;
        line-height: l(2);
        margin-bottom: 0;
      }

      p {
        position: relative;
        color: rgba(black, 0.6);
        font-size: 14px;
        margin: 0;
      }
    }

    .game.coming-soon {
      background-color: #CCC;
      img {
        opacity: 0.1;
      }
    }
  }

  .feature-list {
    margin-bottom: l(4);

    .feature {
      margin-bottom: l(4);
    }
  }

  .call-to-action, .press {
    text-align: center;
    font-size: 18px;
  }

  footer .mixpanel-badge {
    display: block;
  }

}
