@import 'vars';

// TODO Don't make this a layout…
.l-order {
  margin-top: -(700px / 2);
  
  .modal-header {
    border-bottom: none;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    height: 30px;
    
    h3 {
      font-size: 16px;
      display: none;
    }
  }
  
  .modal-body {
    padding: 0;
    max-height: 700px;
  }
  
  &.is-choosing .modal-header h3.choosing,
  &.is-checking-out .modal-header h3.checkout,
  &.is-completed .modal-header h3.thanks {
    display: block;
  }
    
  
}
