@import 'vars';

.l-page {
  color: rgba(black, 0.4);
  font-size: 18px;
  font-weight: 500;

  &, ol li, ul li {
    line-height: l(3);
  }

  h3 {
    color: black;
  }

  h4 {
    color: rgba(black, 0.6);
  }
}
