.l-plans {

  table.plans {
    margin-top: $gw-gutter;

    tbody {
      th {
        text-align: right;
      }
      td {
        text-align: center;
      }
    }
  }

  .salotron {
    background-color: $yellow;
    text-align: center;
    padding: $gw-gutter 0;
    margin-bottom: $gw-gutter;
  }

  .price {
    line-height: 40px;
  }

  .old-price {
    line-height: 30px;
  }

  td.price, td.old-price {
    .period {
      font-size: 16px;
    }
    font-family: $heading;
  }
  td.old-price {
    font-size: 18px;
    text-decoration: line-through;
  }
  td.price {
    font-size: 26px;
    font-weight: 600;
  }

  .price.bronze, .old-price.bronze {
    color: $green;
  }
  .price.silver, .old-price.silver {
    color: $blue;
  }
  .price.gold, .old-price.gold {
    color: $red;
  }

  .quote {
    text-align: center;
    font-size: 18px;
  }



  h3 {
    color: $blue;
    margin-bottom: l(2);
  }

  .testimonials {
    h2 {
      font-size: 24px;
      line-height: l(4);
      margin-top: 0;
      margin-bottom: l(4);
    }

    .testimonial {
      @include clearfix;
      margin-bottom: l(2);
      font-size: 16px;
      line-height: l(2);

      q {
        display: block;
      }

      cite, cite a {
        display: block;
        font-size: 14px;
        color: rgba(black, 0.4);
      }
    }
  }

  .q-and-a {
    color: rgba(black, 0.6);
    h4 {
      color: black;
      line-height: l(2);
      margin-bottom: l(1);
    }
  }
}

