.l-plans {

  .jumbotron {
    background-color: $brand-green;
    margin-bottom: 0px;

    h1 {
      color: white;
    }
  }
  
  table.plans {
    margin-top: $gw-gutter;
    
    tbody {
      th {
        text-align: right;
      }
      td {
        text-align: center;
      }
      td.old-price {
        line-height: 40px;
      }
      td.price {
        line-height: 56px;
      }
    }
  }
  
  .salotron {
    background-color: $brand-yellow;
    text-align: center;
    padding: $gw-gutter 0;
    margin-bottom: $gw-gutter;
  }
  
  .old-price {
    font-size: 26px;
    font-family: $geometric;
    line-height: l(4);
    padding: 0;
    text-decoration: line-through;
  }
  
  .price {
    font-size: 36px;
    font-family: $geometric;
    font-weight: 600;
    line-height: l(4);
    padding: 0;
  }
  
  .price.bronze, .old-price.bronze {
    color: $brand-green;
  }
  .price.silver, .old-price.silver {
    color: $brand-blue;
  }
  .price.gold, .old-price.gold {
    color: $red;
  }
  


  h3 {
    color: $brand-blue;
    margin-bottom: l(2);
  }

  .testimonials {
    h2 {
      font-size: 24px;
      line-height: l(4);
      margin-top: 0;
      margin-bottom: l(4);
    }

    .testimonial {
      @include clearfix;
      margin-bottom: l(2);
      font-size: 16px;
      line-height: l(2);

      q {
        display: block;
      }

      cite, cite a {
        display: block;
        font-size: 14px;
        color: rgba(black, 0.4);
      }
    }
  }

  .q-and-a {
    color: rgba(black, 0.6);
    h4 {
      color: black;
      line-height: l(2);
      margin-bottom: l(1);
    }
  }
}
