@import 'vars';

.l-referrals {

  .bonus-list {
    > .bonus {
      display: block;
      margin-bottom: l(2);

      & [data-icon] {
        display: block;
        vertical-align: bottom;
        background-color: rgba(black, 0.1);
        text-align: center;
        font-size: 60px;
        line-height: 60px;
        overflow: hidden;
        height: 60px;
        color: white;
      }

      > .description {
        > .name {
          font-size: 24px;
          line-height: l(3);
          font-family: $futura;
        }

        > p {
          font-size: 18px;
          line-height: l(2);
          color: rgba(black, 0.4);
          margin-bottom: 0;
        }
      }

      > .reward {
        & > .credits {
          font-size: 24px;
          line-height: l(3);
          font-family: $futura;
          font-weight: 600;
        }

        > .conditions {
          color: rgba(black, 0.4);
          font-size: 14px;
          line-height: l(2);
        }
      }

      &.bonus-mini {
        color: lighten($blue, 20%);
        margin-bottom: l(1);

        > .description > .name,
        > .reward > .credits {
          font-size: 18px;
          line-height: l(3);
        }
      }
    }
  }


}
