.l-referrals {
  @include app-width(8);

  .bonus-list {
    > .bonus {
      display: block;
      padding-top: l(1);
      padding-bottom: l(1);
      border-bottom: 1px solid rgba(black, 0.1);
      color: $brand-blue;

      .reward {
        > .conditions {
          color: rgba(black, 0.4);
          font-size: 14px;
          line-height: l(2);
        }
      }

      &.is-done * {
        opacity: 0.6;
        text-decoration: line-through;
      }
    }
  }
}
