.l-server {

  .container {
    width: grid-width(10);
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: desaturate(lighten($blue, 50%), 10%);
  }

  .title-bar {
    padding-top: l(1);
    padding-bottom: l(1);

    > .actions {
      float: right;
    }
    > .title > a {
      font-size: 24px;
      line-height: l(3);
      color: rgba(black, 0.4);
    }
  }

  .subnav {
    background-color: rgba(black, 0.05);

    .nav {
      margin-bottom: 0;
      a {
        display: block;
        padding: l(0);
        color: rgba(black, 0.8);
        font-size: 14px;
        line-height: l(4);
        font-weight: 600;

        @include anti-aliasing;

        &:hover {
          color: black;
          background-color: rgba(white, 1);
        }
      }

      > .active > a {
        color: black;
        background-color: white;
        border-top: 2px solid rgba(black, 0.4);
        margin-top: -2px;
      }
    }
  }

  .server-meta {
    font-size: 14px;
    line-height: l(2);
    margin-bottom: l(2);
    border: 2px solid rgba(black, 0.05);
    border-top: none;

    .tidbits {
      @include clearfix;
      margin-left: -2px;
      margin-right: -2px - 2px;

      .tidbit {
        padding: l(.5) ($gw-gutter / 2);
        float: left;

        &:first-child {
          border-left: 0;
        }

        .key {
          color: rgba(black, 0.4);
          margin-right: 0.25em;
        }
        .val {
          font-weight: 600;
        }

        &.state {
          &.is-shared {
            color: $blue;
          }
          &.is-starting, &.is-up {
            color: $green;
          }
          &.is-stopped {
            color: $red;
          }
        }
      }
    }

    .player-list {
      @include clearfix;
      padding-top: l(.5);
      padding-right: ($gw-gutter / 2) - (2 * 2px);
      padding-left: 0;
      border-top: 2px solid rgba(black, 0.05);

      .player {
        margin-left: l(0.5);
        margin-bottom: l(.5);
        float: left;
      }
    }

  }

  .server-controls {
    .server-controls-ttl-display {
      font-size: 14px;
      color: rgba(black, 0.4);
    }
  }

  .world-map-view {

    > .map {
      height: grid-width(10);
      width: grid-width(10);

      label { width: auto; display:inline; }
      img { max-width: none; }
    }

    > .map-meta, > .coming-soon {
      color: lighten(black, 60%);
      text-align: center;
    }

    > .map-meta {
      padding: l() ($gw-gutter / 2);
    }

    > .coming-soon {
      padding: l(3) $gw-gutter;
      font-size: 18px;
      line-height: l(3);
    }
  }
}
