@import 'vars';

.l-server {

  .container {
    width: grid-width(10);
  }

  #app {
    margin-top: l(2);
  }

  .user-profile {
    > .avatar {
      margin-bottom: l(1);

      img {
        display: block;
      }
    }

    > .identity {
      margin-bottom: l(1);

      > h2 {
        font-size: 18px;
        line-height: l(2);
      }

      > h3 {
        font-size: 16px;
        color: rgba(black, 0.4);
        line-height: l(2);
      }
    }

    > .info {
      border-top: 2px solid rgba(black, 0.05);
      padding: l(1) 0;

      font-size: 12px;
    }
  }


  .server-meta {
    margin-bottom: l(1);
    border: 2px solid rgba(black, 0.05);
    border-top: none;

    padding-top: l(1);
    padding-bottom: l(1);

    .key {
      padding-left: $gw-gutter / 2; padding-right: $gw-gutter / 2;
      font-weight: 600;
      @include box-sizing(border-box);
    }
  }


  .server-controls {
    margin-top: - l(2);
    padding-top: l(2);
    padding-bottom: l(2);
    background-color: darken(white, 2%);

    h4 {
      line-height: l(5);
      margin: 0;
      padding-left: $gw-gutter;
      font-size: 14px;
    }

    .extension-info .buy-credits {
      display: none;
    }

    &.is-too-expensive {
      .extension-info {
        color: $red;
      }

      .buy-credits {
        display: block;
      }
    }
  }


  .world-map-view {
    > .map {
      height: grid-width(8) / (16/9);
      width: grid-width(8);
    }

    > .map-meta, > .coming-soon {
      color: lighten(black, 60%);
      text-align: center;
    }

    > .map-meta {
      padding: l() ($gw-gutter / 2);
    }

    > .coming-soon {
      padding: l(3) $gw-gutter;
      font-size: 18px;
      line-height: l(3);
    }
  }
}
