.l-servers {
  @include app-width(12);

  .page-header {
    padding-top: 0;
    padding-bottom: 0;

    h1 {
      font-size: 28px;
      font-family: $helvetica;
      a {
        color: black;
      }
    }
  }

  .user-profile {
    > .avatar {
      margin-bottom: l(1);

      img {
        display: block;
      }
    }

    > .identity {
      margin-bottom: l(1);

      > h2 {
        font-size: 18px;
        line-height: l(2);
      }

      > h3 {
        font-size: 16px;
        color: rgba(black, 0.4);
        line-height: l(2);
      }
    }

    > .info {
      border-top: 2px solid rgba(black, 0.05);
      padding: l(1) 0;

      font-size: 12px;
    }
  }

  .world-map-view {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    > .map {
      height: 100%;
      width: 100%;

      label { width: auto; display:inline; }
      img { max-width: none; }
    }

    > .map-meta, > .coming-soon {
      color: lighten(black, 60%);
      text-align: center;
    }

    > .map-meta {
      padding: l() ($gw-gutter / 2);
    }

    > .coming-soon {
      padding: l(3) $gw-gutter;
      font-size: 18px;
      line-height: l(3);
    }
  }
}

// This is a pretty special case. The maps just look so much better full screen.
.l-map {

  #app > .container {
//    position: relative;
//    z-index: 1;
  }

//  footer {
//    position: fixed;
//    bottom: 0;
//    width: 100%;
//    z-index: 2;
//  }

}

