@import 'vars';

.l-server {
  
  .page-header {
    margin-bottom: 0;
    overflow: auto;
    padding-bottom: 0;
    padding-left: 10px; padding-right: 10px;

    padding-top: lines(1);
    padding-bottom: lines(1);

    border-bottom: 2px solid lighten($black, 20%);

    h1 {
      margin: 0;
      display: block;
      @include pull-left;
      color: black;
    }
  }

}
