@import 'vars';

.l-support {

  h3 {
    margin-bottom: l(8);
  }

  .support-icon {
    color:white;
    background-color: $red;

    text-align:center;
    width:60px; height: 60px;

    line-height: 60px;
    font-size: 36px;

    vertical-align: middle;

    &:before {
      -webkit-font-smoothing: none;
    }
  }
}
