.system {
  background: darken(white, 5%);

  html {
    min-width: 400px;
  }

  .container, body > section {
    @include columns(6);
  }

  body > .noop {
    margin: ($line * 2) 0;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(white, 0.8);
    color: rgba(black, 0.2); font-size: 18px; font-style: italic;
    text-align: center;
  }
}
