.hint{hidden}
  %p
    You need a <em>paid</em> Minecraft account to play. You can buy one for €19.95 from #{link_to 'http://minecraft.net/store', 'http://minecraft.net/store', target: '_blank'}.

:javascript
  var minecraftUsernameView = new MF.MinecraftUsernameView({
    el: $('form input#user_username')
  });