%header
  %h1
    %strong Hi #{user.username}.
    These are the most active worlds.

%ul#worlds
  - @worlds.each do |world|
    %li
      = link_to '', world
      .info
        = world.name

  %li.new
    = link_to new_world_path do
      +