- title 'Your Account', current_user.username

= form_for current_user, method: :put do |f|
  %section
    = f.label :username
    = f.text_field :username

  %section
    = f.submit 'Update account'
