- track 'visited new user page'
- title  'Create your account'
- masthead do
  %h1 Sign up for an account
  %p
    or #{link_to 'sign in to an existing account', new_user_session_path}.

= form_for user do |f|
  %section
    = link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: 'btn'

  %section.divider – or –
  = render partial: 'form', object: f
