- track 'visited new user page'
- title  'Create your account'
- masthead do
  %ol.verification-steps
    %li.step
      Sign up

    %li.step.is-pending
      Verify

    %li.step.is-pending
      Play!

%section
  = link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: ['btn', 'fb']

.conditional or…

%section
  = form_for user do |f|
    = render partial: 'form', object: f
