- title user.username
- masthead do
  .avatar
    = image_tag user.avatar.large.url
  %h1.username= user.username
  Member since #{user.created_at.strftime("%-d %b, %Y")}

- user.created_worlds.each do |world|
  %p= link_to strong_world_fullname(world), world