- track_pageview verify_screenshot: true
- title 'Verify your Minecraft account'

.row
  .span6.offset3
    .page-header
      %h1 Mojang account verification

    %center.verification-status.is-waiting
      .status
      %p.notice Waiting for Minecraft account verification

    %section.verification-instructions
      %p We need to link your Minecraft account. If you don't have one you have to <a href="http://www.minecraft.net/">purchase an account</a>.
      %p To verify your account, open Minecraft and choose Multiplayer > Direct Connect and paste:

      %pre
        %code.host= current_user.verification_host

      = image_tag "verify.png"

- content_for :tail do
  :javascript
    var onVerify = function(data) {
      $('.verification-instructions').slideUp();

      $('.verification-status')
        .removeClass('is-waiting')
        .addClass('is-verified');

      setTimeout(function(){
        window.location = '/';
      }, 3000)
    };

    $(document).ready(function() {
      var channelName = #{current_user.private_channel_key.to_json};
      var channel = app.pusher.subscribe(channelName);
      channel.bind('verified', onVerify);
    });
