- title 'Verify your Minecraft account'
- masthead do
  %ol.verification-steps
    %li.step.is-done
      Sign up

    %li.step
      Verify

    %li.step.is-pending
      Play!

.verification-status.is-waiting
  %p.instructions Before you can play on Minefold we need to verify your Minecraft account. Just directly connect to this server in the game:

  .host= current_user.verification_host
  .spinner Waiting for you to connect…
  .success
    Verified player
    %em.username chrislloyd

- js do
  :javascript
    $(document).ready(function() {

      mf.userChannel = mf.pusher.subscribe(#{current_user.private_channel_key.to_json});

      mf.userChannel.bind('verified', function(data) {
        $('.verification-status')
          .removeClass('is-waiting')
          .addClass('is-verified')
          .find('.username')
            .text(data.username);

        window.location = '/';
      });
    });

