- title 'Verify your Minecraft account'
- masthead do
  %ol.verification-steps
    %li.step.is-done
      .number 1
      .desc Sign up

    %li.step
      .number 2
      .desc Verify Account

    %li.step.is-pending
      .number 3
      .desc Start playing

%p You you need to verify your Minecraft username by connecting to

%pre
  %code xkcd.verify.minefold.com.

%p
  Waiting…
