- title 'Verify your Minecraft account'
- masthead do
  %ol.verification-steps
    %li.step.is-done
      Sign up

    %li.step
      Verify

    %li.step.is-pending
      Play!

%section.verification-status.is-waiting
  .status
  %p.notice Waiting for Minecraft account verification

.noop

%section.verification-instructions

  %p Before you can continue, we need to verify your Minecraft account. If you are playing already please type the command:

  %pre
    %code.cmd /verify #{current_user.verification_token}

  %p Otherwise open Minecraft and connect to:

  %pre
    %code.host= current_user.verification_host

- js do
  :javascript
    var onVerify = function(data) {
      $('.verification-instructions').slideUp();

      $('.verification-status')
        .removeClass('is-waiting')
        .addClass('is-verified');

      window.location = '/';
    };

    $(document).ready(function() {
      mf.userChannel = mf.pusher.subscribe(#{current_user.private_channel_key.to_json});
      mf.userChannel.bind('verified', onVerify);
    });

