form {
}

#{$all-text-inputs},
textarea {
  // Bootstrap reset
  @include transition(none);

  box-shadow: none;
  border-radius: $radius;
  border-color: rgba(black, 0.2);
  border-width: 2px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 20px;
  color: black;

  &.input-large {
    padding: 18px 8px;
    font-size: 24px;
    line-height: 40px;
  }

  &.input-block-level {
    display: block;
    width: 100%;
  }
}

#{$all-text-inputs-focus},
textarea:focus {
  border-color: lighten($blue, 20%);
  box-shadow: none;
}

label {
  font-size: 16px;
}

.form-actions {
  border-top: none;
  background-color: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}
