[data-icon] {
  @include inline-block;
  font-family: $icon;
  font-size: 16px;
  line-height: 1;

  &:before {
    content:attr(data-icon);
  }

  &.large {
    font-size: 32px;
  }

  &.huge {
    font-size: 64px;
  }
}

[data-icon].natural,
span[data-icon] {
  font-size:inherit;
}
