%nav
  / =link_to 'Referrals', referrals_path
  / %span.pipe
  /   |
  %a{href: '//minefold.tumblr.com'} Blog
  %span.pipe
    |
  %a{href: '//twitter.com/#!/minefold'} @minefold
  %span.pipe
    |
  %a{href: 'mailto:support@minefold.com'} Support

%p
  Designed in Sydney, Australia. &copy; #{Time.now.year} Minefold.

