%nav
  = link_to 'About / FAQ', '/about'
  %span.pipe
    |
  =link_to 'Referrals', referrals_path
  %span.pipe
    |
  =link_to 'Blog', '//minefold.tumblr.com'
  %span.pipe
    |
  = link_to '@minefold', '//twitter.com/minefold'
  %span.pipe
    |
  = link_to 'Help', '/help'

%p.fineprint
  Designed in Sydney, Australia. &copy; #{Time.now.year} Minefold.
  %a{href: '/privacy'} Privacy
  %a{href: '/terms'} Terms

