%nav
  = link_to 'About / FAQ', page_path(:about)
  %span.pipe
    |
  =link_to 'Referrals', referrals_path
  %span.pipe
    |
  =link_to 'Blog', '//minefold.tumblr.com'
  %span.pipe
    |
  = link_to '@minefold', '//twitter.com/minefold'
  %span.pipe
    |
  = link_to 'Help', page_path(:help)

%p.fineprint
  Designed in Sydney, Australia. &copy; #{Time.now.year} Minefold.
  %a{href: page_path(:privacy)} Privacy
  %a{href: page_path(:terms)} Terms

