%nav
  -# link_to 'About/FAQ', '/about'
  %a{href: '//minefold.tumblr.com'} Blog
  |
  %a{href: '//twitter.com/#!/minefold'} @minefold

%p
  Designed in Sydney, Australia. &copy; #{Time.now.year} Minefold.
