%nav
  = link_to 'About / FAQ', page_path(:about)
  %span.pipe
    |
  =link_to 'Referrals', referrals_path
  %span.pipe
    |
  =link_to 'Blog', '//minefold.tumblr.com'
  %span.pipe
    |
  = link_to '@minefold', '//twitter.com/minefold'
  %span.pipe
    |
  = link_to 'Help', page_path('help')

%p
  Designed in Sydney, Australia. &copy; #{Time.now.year} Minefold.

