:javascript
  var mpq = [];
  mpq.push(["init", #{ENV['MIXPANEL_TOKEN'].to_json}]);
  (function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";
  b.async=true;b.src="//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];
  a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push(
  [f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links",
  "track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<
  d.length;c++){mpq[d[c]]=e(d[c])}})();

- unless Rails.env.production?
  :javascript
    mpq.set_config({debug: true});


- # WARNING: Could potentially break page caching.
- if signed_in?
  :javascript
    mpq.identify(#{current_user.mpid.to_json});
    mpq.name_tag(#{current_user.email.to_s.to_json});

- else
  - js do
    :javascript
      var mpid = $.cookie('mpid');
      if(!(mpid != null)) {
        mpid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
          v.toString(16);
        });

        $.cookie('mpid', mpid, {expires: 365});
        mpq.identify(mpid);
      }

- if params[:ref]
  :javascript
    mpq.register_once({ref: #{params[:ref].to_json}}, "all", "False", 365);
