:javascript
  (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";
  a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+
  '//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];
  b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;
  "undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g=['disable','track','track_pageview',
  'track_links','track_forms','register','register_once','unregister','identify',
  'name_tag','set_config'];
  for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(
  Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c}
  )(document,[]);
  mixpanel.init(#{ENV['MIXPANEL_TOKEN'].to_json});

- # WARNING: Could potentially break page caching.
- if signed_in?
  :javascript
    mixpanel.identify(#{current_user.mpid.to_json});
    mixpanel.name_tag(#{current_user.email.to_s.to_json});
- else
  :javascript
    var mpid = null,
        pairs = document.cookie.split('; ');

    for (var i = 0, pair; pair = pairs[i] && pairs[i].split('='); i++) {
        if (decodeURIComponent(pair[0]) === 'mpid') {
          mpid = decodeURIComponent(pair[1] || '');
        }
    }

    if(!(mpid != null) || (mpid !== '')) {
      mixpanel.identify(mpid);
    }

- if params[:ref]
  :javascript
    mixpanel.register_once({ref: #{params[:ref].to_json}}, "all", "False", 365);
