- masthead do
  %h1 Play Minecraft with your friends

  %p
    We've made multiplayer Minecraft fast and easy.

  = link_to 'Sign up now, it\'s free', new_user_path, class: 'button'

#plans
  %table
    %thead
      %tr.name
        %th.casual Casual
        %th.hardcore Hardcore
        %th.pro Pro
    %tbody
      %tr.price
        %td.casual $3.95 / mo
        %td.hardcore $7.95 / mo
        %td.pro $11.95 / mo
      %tr.hours
        %td.casual 40 hrs / mo
        %td.hardcore 80 hrs / mo
        %td.pro 160 hours
      %tr.worlds
        %td.casual 5 worlds
        %td.hardcore 10 worlds
        %td.pro 40 worlds
  
  %p You can also play for <strong class="highlight">#{pluralize User::FREE_HOURS, 'hour', 'hours'} free</strong> per month in one world.
  

%ol#features
  %li.feature
    %h2 Zen Simplicity
    %p We do it all for you. <strong>No more servers</strong>, RAM, Java, SSH or any of that mumbojumbo. Just sign up and play, grasshopper.

  %li.feature
    %h2 Show off
    %p We give you <strong>high quality maps</strong> of your worlds so you can quickly show your bros that rad 'coaster you've been working on.

  %li.feature
    %h2 Infinite worlds
    %p Unlike other Minecraft hosts, we let you create <strong>as many worlds as you like</strong>. Start a new one for every day of the week!

  %li.feature
    %h2 Realtime in-game chat
    %p See when your friends are playing online and chat with them straight from the site. You don't have to open Minecraft to shout <strong>“OMG”</strong>.

  %li.feature
    %h2 Make love, not grief
    %p Keep pesky griefers out by only inviting <strong>people you trust</strong> to play with you.

  %li.feature
    %h2 Peace of mind
    %p All your work is <strong>continiously backed up</strong> in multiple datacenters. Your builds are secure.

