- content_for :masthead do
  %h1 Play Minecraft with friends!

  %p
    Minefold is an online community for friends who play Minecraft.
    %br
    We make it super simple to play together: no more nerdy stuff.

  = form_tag 'http://minefold.createsend.com/t/r/s/qjhfu', method: :post do
    %div
      %h3
        Pop your email down and we'll email you when we launch:

      = email_field_tag 'cm-qjhfu-qjhfu', nil, placeholder: 'email@example.com', id: 'qjhfu-qjhfu'

      %button
        = ['Algebraic!', 'Rhombus!', 'Mathematical!'].shuffle.first
