#spinner
#banner
  %h2 Play Minecraft with friends!

  %p
    Minefold is an online community for friends who play Minecraft. We make it super simple to play together: no nerdy stuff.

  = form_tag 'http://minefold.createsend.com/t/r/s/qjhfu', method: :post do
    %div
      %h3
        Pop your email down and we'll email you when we launch:

    .email
      = email_field_tag 'cm-qjhfu-qjhfu', nil, placeholder: 'email@example.com', id: 'qjhfu-qjhfu'

    .submit
      %button
        = ['Algebraic!', 'Rhombus!', 'Mathematical!'].shuffle.first

  #top-shadow
  #bottom-shadow
  #field

:javascript
  img = new Image()
  img.src = "/assets/creeper-0.png";

  $('#field').append($(img));

  setTimeout(function(){
    console.log('triggering scale');
    $(img).css('-webkit-transform', 'scale(120%)');
  }, 2000)
