#banner
  %h2 Play Minecraft with friends!

  = form_tag 'http://minefold.createsend.com/t/r/s/qjhfu', method: :post do
    %div
      %h3
        Pop your email down and we'll email you when we launch:

    .email
      = email_field_tag 'cm-qjhfu-qjhfu', nil, placeholder: 'email@example.com', id: 'qjhfu-qjhfu'

    .submit
      %button
        = ['Algebraic!', 'Rhombus!', 'Mathematical!'].shuffle.first
