%form{action: 'http://minefold.createsend.com/t/r/s/qjhfu', method: 'post'}
  %h2 Busy Craftin’
  %p  Somthing special is smelting. Jot down your deets to be the first to access the beta when it's ready.

  %p#email
    %label{for: 'qjhfu-qjhfu'} Email address
    %input#qjhfu-qjhfu{type: 'text', name: 'cm-qjhfu-qjhfu'}

  %p#minecraft-username
    %label{for: 'username'} Minecraft username
    %input#username{type: 'text', name: 'cm-f-bidutk'}

  %button Sweet!
