%h2 Play Minecraft with friends.

#features
  .feature
    %img{src: '/start.png', width: 32, height: 32}
    %h3 Start playing instantly
    %p Minefold is the fastest and easier way to play multiplayer Minecraft.

  .feature
    %img{src: '/sharing.png', width: 32, height: 32}
    %h3 Share anything
    %p Show off your build to the internets or just your friends. Minefold makes gloating grief-free.


  .feature
    %img{src: '/players.png', width: 32, height: 32}
    %h3 Unlimited players
    %p Minecraft supports up to 255 simultaneous players and so does Minefold. Get ready for some big builds!

  .feature
    %img{src: '/star-wars.png', width: 32, height: 32}
    %h3 Unlimited Worlds
    %p Create as many worlds as you like. If you don't like the terrain you were given just create another.




%form{action: 'http://minefold.createsend.com/t/r/s/qjhfu', method: 'post'}
  %h3 Sign up now for exclusive beta access!

  %p.email
    %label{for: 'qjhfu-qjhfu'} Email address
    %input#qjhfu-qjhfu{type: 'text', name: 'cm-qjhfu-qjhfu', size: 20}

  %p.username
    %label{for: 'username'} Minecraft username
    %input#username{type: 'text', name: 'cm-f-bidutk'}

  %button Sign up
