%h2 Play Minecraft with your friends.
/ %p  Unlimited worlds.

%form{action: 'http://minefold.createsend.com/t/r/s/qjhfu', method: 'post'}

  %h3 Sign up now for exclusive beta access

  %p.email
    %label{for: 'qjhfu-qjhfu'} Email address
    %input#qjhfu-qjhfu{type: 'text', name: 'cm-qjhfu-qjhfu', size: 20}

  %p.username
    %label{for: 'username'} Minecraft username
    %input#username{type: 'text', name: 'cm-f-bidutk'}

  %button Sign up
