%h2 Play Minecraft with friends.

#features
  .feature
    %img{src: '/instant.png', width: 32, height: 32}
    %h3 Start playing instantly
    %p Don't sweat the nerdy stuff: we'll take care of everything. Just a few clicks and you can start playing.

  .feature
    %img{src: '/sharing.png', width: 32, height: 32}
    %h3 Share anything
    %p Show off your build to the internets or just your friends. We make sure your pride and joy is grief-free.


  .feature
    %img{src: '/players.png', width: 32, height: 32}
    %h3 Unlimited players
    %p Have up to 254 of your friends crafting along side you. Start planning a monster build!

  .feature
    %img{src: '/worlds.png', width: 32, height: 32}
    %h3 Unlimited Worlds
    %p Create as many worlds as you like. If you don't like the terrain you were given just create another. For free.


%form{action: 'http://minefold.createsend.com/t/r/s/qjhfu', method: 'post'}
  %h3 Subscribe now for exclusive beta access

  %p.email
    %label{for: 'qjhfu-qjhfu'} Email address
    %input#qjhfu-qjhfu{type: 'text', name: 'cm-qjhfu-qjhfu', size: 20}

  %p.username
    %label{for: 'username'}
      Minecraft username
      %span (Optional)

    %input#username{type: 'text', name: 'cm-f-bidutk'}

  %button Subscribe
