#photos-index {
  .signature { color: darken(white, 20%); }

  aside { @include columns(6); }
  aside img { display: block; }
  .download input[type=submit] { @include btn($blue, white, darken($blue, 20%)); margin: 0;}
  .download small { color: #CCC; font-size: 12px; line-height: $line * 3; }

  .recent-photos {
    margin-top: $line * 12;

    ul {
      @include clearfix;
      margin-bottom: $line * 8;
      margin-left: -10px;

      li {
        float: left;
        margin-left: 10px;
      }
    }
  }
}
