#photos-lightroom {

  form.edit_user {
    .photo {
      @include row;
      margin-bottom: $line * 8;

      .file { @include makeColumn(6) }
      .metadata { @include makeColumn(6); }

      .file {
        position: relative;
        img {
          display: block;
        }

        a {
          position: absolute; top: 0; width: 50%; bottom: 0; overflow: hidden;
          text-indent: 9999px; text-shadow: 0 2px 0 rgba(black, 0.6); text-transform: uppercase;
          color: white; text-align: center; font-weight: 600; font-size: 24px;
        }
        a.publish { background: url(image-path('icons/tick-big.png')) no-repeat center; }
        a.publish.active { background-color: rgba($green, 0.5); }
        a.publish:hover { background-color: $green; }

        a.trash { background: url(image-path('icons/trash-big.png')) no-repeat center; }
        a.trash.active { background-color: rgba($red, 0.5); }
        a.trash:hover { background-color: $red; }

        a.trash { left: 50%; }
      }

      .metadata {
      }
    }
  }
}