#photos-show {
  #masthead {
    padding: 0;
  }

  .photo {
    @include row;
    margin-top: $line * 6;
    margin-bottom: $line * 2;

    .body {
      @include makeColumn(9);
      overflow: hidden;
      img {
        display: block;
      }
    }

    aside {
      @include makeColumn(3);

      .user {
        @include clearfix;
        padding-bottom: $line * 2 - 1px;
        border-bottom: 1px solid darken(white, 5%);
        margin-bottom: $line * 2;
        .avatar {
          float: left;
          img {
            display: block;
          }
        }

        .username {
          float: left;
          margin-left: $gutter / 2;
          line-height: 20px;
        }
      }

      .time-and-place {
        color: darken(white, 40%);
        font-size: 12px; line-height: $line * 4;
      }
    }
  }

  #page {

    h1 {
      margin: 0; margin-bottom: $line * 6;
      color: black;
      font-weight: 400;
      font-size: 18px; line-height: $line * 6;
    }

  }
}