- title 'Redeem Gift Certificate'
- layout :gifts

.row
  .span3.offset3
    .page_header
      %h1 Redeem Gift Certificate

    = form_tag redeem_gifts_path, method: :post do
      .control-group
        .control-label
          Your 12 character gift token
        .controls
          = text_field_tag :token

      = submit_tag 'Redeem gift', class: %w(btn btn-primary)
