//#accounts-billing #page nav {
//  width: 100%;
//}

//#accounts-billing #page nav ol {
//  overflow: auto;
//  margin-top: -4*$line;
//  margin-bottom: (4*$line) - 1px;
//
//  border-bottom: 1px solid darken(white, 5%);
//
//  li {
//    float: left;
//    padding: 0 $gutter;
//    a {
//      display: block;
//
//      line-height: 24px;
//      font-size: 12px;
//      color: darken($blue, 10%);
//      &:hover {
//        color: $blue;
//      }
//    }
//
//    &.selected a {
//      font-weight: 600;
//    }
//  }
//}

#card {
  overflow: auto;

  img {
    float: left;
    display: block;

    margin: ($line/2) 0;
    margin-right: $gutter;
  }
  p {
    float: left;
  }

  a {
    float: right;
    padding: $line $gutter;
    border: 1px solid darken(white, 5%);
    @include border-radius(6px);
    &:hover {
      border-color: #CCC;
    }
  }
}
