@import 'shared/vars';

#accounts-dashboard #page {

  .beta-notice {
    margin: (2 * $baseline) 0 (4 * $baseline) 0;
    text-align: center;
    padding: (2 * $baseline) 0;

    h2, .heart {
      color: $red;
      text-shadow: 0 1px 0 darken($red, 20%);
    }

    .heart {
      font: 30px/24px $helvetica;
      margin-bottom: 2 * $baseline;
    }

    h2 {
      font: 900 18px/48px $paytone;
      font-weight: 1000;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 18px;
      color: #999;
    }

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: darken($blue, 20%);
      }
    }
  }

  #worlds {
    margin: 0 (-$gutter);

    ul {
      overflow: auto;
      margin: (2 * $baseline) 0;
    }

    li {
      float: left;
      margin: 0 $gutter (2 * $baseline) $gutter;
      background: white;
      @include border-radius($radius);
      text-align: center;

      &.active a {
        border-color: $green;
      }

      a {
        display: block;
        width: $col + (2 * $gutter) + $col;
        padding: (2 * $baseline) 0;
        line-height: 4 * $baseline;
        text-shadow: 0 1px 0 darken($blue, 10%);
        border-radius: $radius;
        color: white;
        font-weight: 600;

        background: $blue;
        text-decoration: none;

        .players {
          color: lighten($blue, 20%);
          font-size: 12px;
          font-weight: normal;
          text-shadow: 0 -1px 0 darken($blue, 10%);
        }

        &:hover {
          border-color: $blue;
          background-color: lighten($blue, 10%);
          .players {
            color: lighten($blue, 30%);
            text-shadow: 0 -1px 0 $blue;
          }
        }
      }

      &.new a {
        background: #FFF;
        color: lighten($blue, 20%);
        text-decoration: none;
        padding: (4 * $baseline - (2 * $border)) 0;
        text-shadow: none;
        &:hover {
          color: $blue;
        };
      }

    }

  }
}
