#worlds {
  margin-top: -$line;
  margin-bottom: -3*$line;
  li {
    overflow: auto;
    padding: $line $gutter;
    border-bottom: 1px solid darken(white, 5%);
    margin: 0 (-$gutter);

    img {
      float: left;
      margin-right: $gutter;
    }

    .info {
      float: left;
      p {
        margin-bottom: 0;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: darken(white, 2%);
    }

  }
}
