#worlds {
  margin-top: -2*$line;
  margin-bottom: -4*$line;

  li {
    position: relative;
    overflow: hidden;
    padding: $line $pad;
    border-bottom: 1px solid darken(white, 5%);
    margin: 0 (-$pad);

    a {
      display: block;
      font-family: $helvetica;
      line-height: 4*$line;
    }

    p {
      margin-bottom: 0;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: darken(white, 2%);
    }
  }
}

