@import 'shared/vars';

#accounts-dashboard #page {

  .beta-notice {
    margin: (2 * $baseline) 0 (4 * $baseline) 0;
    text-align: center;
    padding: (2 * $baseline) 0;

    h2, .heart {
      color: $red;
      text-shadow: 0 1px 0 darken($red, 20%);
    }

    .heart {
      font: 30px/24px $helvetica;
      margin-bottom: 2 * $baseline;
    }

    h2 {
      font: 900 18px/48px $paytone;
      font-weight: 1000;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 18px;
      color: #999;
    }

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: darken($blue, 20%);
      }
    }
  }

  header aside {
    float: right;
  }

  .worlds {
    margin: 0 (-$gutter);

    ul {
      overflow: auto;
      margin: (2 * $baseline) 0;
    }

    li {
      float: left;
      margin: 0 $gutter (2 * $baseline) $gutter;
      background: white;
      @include border-radius($radius);
      text-align: center;

      a {
        display: block;
        width: $col + (2 * $gutter) + $col - (2 * $border);
        padding: 2 * ($baseline - $border) 0;
        line-height: 4 * $baseline;
        border-radius: $radius;
        color: $blue;
        font-weight: 600;

        border: 1px solid darken(white, 5%);
        text-decoration: none;

        .players {
          color: darken(white, 20%);
          font-size: 12px;
          font-weight: normal;
        }

        &:hover {
          color: darken($blue, 10%);
          border-color: $blue;

          .players {
            color: darken(white, 30%);
          }
        }
      }

      &.new a {
        padding: (4 * $baseline - (2 * $border)) 0;
      }

      &.active a {
        border-color: $green;
        &:hover {
          border-color: darken($green, 20%);
        }
      }

    }

  }
}
