@import 'shared/vars';

#accounts-edit #page {

  header {
    h1 {
      font-size: 24px;
      line-height: 48px;
      color: #333;
      float: left;
    }
  }

  form {
    padding: (2 * $line) $pad;

    label {
      margin-bottom: $line;
    }

    section {
      margin-bottom: 2 * $line;
    }
  }
}
