// TODO: Extract this
#masthead nav {
  ol {
    overflow: auto;
    clear: both;

    li {
      float: left;
      margin-right: $gutter/2;
      padding: 0;

      a {
        display: block;
        padding: $line $gutter;

        line-height: 24px;
        background-color: rgba(white, 0.5);
        color: black;
        text-decoration: none;

        &:hover {
          color: darken($blue, 20%);
          background: rgba(lighten($blue, 50%), 0.5);
        }
      }
    }
  }
}

@mixin active-masthead-menu {
  a {
    background-color: white;
    font-weight: bold;

    &:hover {
      background-color: white;
    }
  }
}

#accounts-show #masthead nav .overview,
#accounts-time #masthead nav .time {
  @include active-masthead-menu;
}
