#plan {
  overflow: auto;
  border-bottom: 1px solid darken(white, 5%);
  padding-top: 4*$line;
  padding-bottom: 4*$line;

  section {
    float: left;
    margin: 0 $gutter;
    @include edgeless;
    width: cols(2) - (2*$gutter);

    font-size: 12px;
    line-height: 18px;
    color: #666;
    dt.numbers {
      font-size: 16px;
      color: black;
      font-weight: 600;
    }
    dd {
      margin-top: $line;
      background: lighten($green, 30%);
      span {
        background: $green;
        display: block;
        text-indent: 100%;
        overflow: hidden;
        line-height: 10px;
      }
    }
  }

  .description {
    font-size: 12px;
    color: #666;
    width: cols(4) - (2*$gutter);

    strong {
      display: block;
      color: #000;
      font-size: 18px;
      margin-bottom: $line;
    }
  }

}