#plan {
  overflow: auto;
  border-bottom: 1px solid darken(white, 5%);
  padding-top: 4*$line;
  padding-bottom: 4*$line;

  section {
    float: left;
    margin: 0 $gutter;
    @include edgeless;

    font-size: 12px;
    line-height: 18px;
    color: #666;

    strong {
      display: block;
      color: #000;
      font-size: 18px;
      margin-bottom: $line;
    }
  }
}