#accounts-pro {
  #masthead .pro {
    padding: 0 ($gutter / 2);
  }

  ol.time-packs {
    @include row;

    li {
      a {
        @include makeColumn($ncols / 3);
        @include box-sizing(border-box);
        padding: ($line * 2 - 5px) ($gutter - 5px);
        border-width: 5px;
        border-style: solid;

        color: black;

        cursor: pointer;

        .time {
          font-size: 24px; line-height: $line * 10;
        }

        .price, .rate {
          color: rgba(black, 0.8);
        }

        .price {
          font-weight: 600;
        }

        h2 {
          margin-bottom: $line * 2;
        }

        border-color: darken(white, 5%);
      }

      a:hover, &.active a {
        border-color: $blue;
      }

      a:hover, &.active a, &.active a:hover {
        color: white;
      }
    }
  }

  form {
    .errors p {
      margin-bottom: 0;
    }

    fieldset.card {
      @include makeColumn(4);

      .card-number {
        .hint img {
          display: block;
        }
      }

      .card-cvc {
        @include columns(2);
      }

      .card-expiry {
        @include row;

        label {
          margin-left: $gutter;
        }

        input {
          @include makeColumn(1.5);
        }

        .slash {
          @include gridColumn;
          width: $gutter;
          text-align: center;
          font-size: 18px; line-height: $line * 10;
        }
      }

    }

    aside {
      @include makeColumn(4);

      .pro {
        padding: 0 ($gutter / 4);
      }

      .security {
        font-size: 12px;
      }
    }
  }
}
