.home .masthead {
  padding-top: $line * 12; padding-bottom: $line * 12;
  text-align: center;

  h1 > .tm {
    color: #CCC;
    font-weight: 200; font-size: 18px;
    position: relative; top: $line * -3;
  }

  h2 {
    font-size: 24px; padding-bottom: $line * 12;
  }

  .btn {
    @include button($blue, white, darken(blue, 20%));
    @include box-sizing(border-box);
    @include columns(6);
    display: block; margin: 0 auto ($line*2) auto;
    padding: ($line * 2) ($gutter * 2);
    font-size: 18px; line-height: $line * 6;

    text-align: center;

    span {
      display: block;
      font-style: italic; font-size: 12px; line-height: $line * 4;
    }
  }

  .nofb {
    font-size: 11px; font-family: $lucida-grande;
  }
}

.product-features {
  @include row;
  text-align: center;
  margin-bottom: $line * 24;


  .feature { @include makeColumn(4); margin-bottom: $line * 12; }


  .feature > .fig { min-height: 210px; }
  // TODO Fix the 50px hack
  .feature > .fig .img { margin: 0 50px; }
  .feature > .fig .caption { text-align: center; line-height: $line * 4; }


  .feature.pricing > .fig {
    float: left; width: 50%;
  }

  .feature.pricing > .fig .img {
    // TODO Fix the 25px hack
    margin: ($line * 10) 25px ($line * 2) 25px;
  }
}
