.modal#buy-credits-modal.l-order.is-choosing{tabindex: -1}
  .modal-header
    %button.close{type: 'button', data: {dismiss: 'modal'}} ×
    %h3.choosing Choose a credit pack
    %h3.checkout Checkout
    %h3.thanks Fank you!
      
  .modal-body
      
  .modal-footer{hidden}
    %button.btn{data: {dismiss: 'modal'}, disabled: true} Cancel
    %button.btn.btn-primary{disabled: true} Pay
