%header
  %h1
    %strong Hiigh five!
    You can now play for
    %strong= pluralize current_user.credits, 'minute', 'minutes'
    \.

= button_to current_user.world
  Back to #{current_user.world.name}