%aside
  %ol
    %li.about= link_to 'About Minefold', about_page_path
    %li.help= link_to 'Help & FAQ', help_page_path
    -# %li.press= link_to 'Press', press_page_path
    -# %li.jobs= link_to 'Jobs', jobs_page_path
