- content_for :masthead do
  %h1 About

- content_for :before do
  %nav.about-page
    = render partial: 'pages/nav'

%p Minefold was founded in mid 2011 by Chris Lloyd and Dave Newman, two software developers with a love of games. 

%p Chris has always seen himself as a slashie. That's Designer / Developer, not the other way around. Chris is passionate about clean design, minimalism and hipster music.

%p Dave has never been able to grow a beard. Despite this failing he loves to immerse himself in various programming languages and work on tricky back-end scaling problems.

