- title  'About Minefold'
- layout :page

.page-header
  %h1 About Minefold
  %h2 We make it easier to play games with your friends.


%h2 Vision

.row
  .span8
    %p Games are fun! We want to make playing them with your friends just as fun. It's difficult and nerdy to maintain a multiplayer server and get your friends into it. We're making this as easy as possible. In fact, we don't want you to even to have to know what a "server" is! Whether you've formed a clan at school or want to spend time with your daughter or re-connect with a travelling friend, we can help you.

    %p In December 2011, Minefold moved from Sydney to Mountain View to join the <a href="http://ycombinator.com">Y Combinator</a> Winter 2012 batch.


%h2 Team

.row
  .span4
    %h3 Chris Lloyd
    %p With degrees in Art History and Computer Science, Chris has always seen himself as a slashie. That's designer/developer, not the other way around. He's worked for companies in Chicago, Norway, Australia & Singapore making things that people love. Chris is passionate about clean design, minimalism and hipster music. He'd share a band with you but you wouldn't have heard of them yet.

  .span4
    %h3 David Newman
    %p Dave is the closest thing you'll find to the “rockstar programmer” cliché. After founding a successful IT consultancy, he started writing hit iPad games and jumping out of planes. These days when he's taking time out from learning new languages or working on difficult scaling problems, he can be found topless in Ding Dong Dang singing karaoke like the careless whisper of a good friend.
