- title  'About Minefold'
- layout :page

.page-header
  %h1 About Minefold


%h2 Vision

%p Games are fun! We want to make playing them with your friends just as fun. It's difficult and nerdy to maintain a multiplayer server and get your friends into it. We're making this as easy as possible. In fact, we don't want you to even to have to know what a "server" is! Whether you've formed a clan at school or want to spend time with your daughter or re-connect with a travelling friend, we can help you.

%p In December 2011, Minefold moved from Sydney to Mountain View to join the <a href="http://ycombinator.com">Y Combinator</a> Winter 2012 batch.
