- content_for :masthead do
  %h1 Contact

- content_for :before do
  %nav.contact-page
    = render partial: 'pages/nav'

%p
  Send us an email at
  %a(href="mailto:team@minefold.com") team@minefold.com

%p
  Follow us on 
  %a(href="http://twitter.com/minefold") twitter
  
%p
  Hit us up on
  %a(href="http://www.facebook.com/pages/Minefold/212665678793611") facebook
  
%p
  Read about our adventures on 
  %a(href="http://blog.minefold.com") the blog!
  
