- title 'Get free time'

.row
  .span6.offset3
    .page-header
      %h1 Get Free Time

      %p
        You currently have #{credits_to_minutes(current_user.credits)} left to play on Minefold.

    .objective
      .hours.pull-right +5 hours

      %h3 Like Minefold on Facebook
      %p Click this Like button and share Minefold with your friends

      <div class="fb-like" data-href="https://facebook.com/minefold" data-send="true" data-layout="button_count" data-width="460" data-show-faces="true"></div>