- title 'Get more credits'

- provide :hero_unit do
  %h1 Get more credits
  %p You currently have #{current_user.credits} Minefold credits.

.row
  .span1
  .span6
    %h2 Buy credit for your account
    %p By a pack of credit and have it instantly available.
  .span1
    7,500 credits
    %small or more

.row
  .span1
  .span6
    %h2 Refer friends to Minefold
    %p Spread the love to your friends, family and coworkers
  .span1
    7,680 credits
    %small 240 credits per friend

.row
  .span1
  .span6
    %h2 Linking with Facebook
    %p By a pack of credit and have it instantly available.
  .span1
    400 credits
    %small or more

.row
  .span1
  .span6
    %h2 Linking with Minecraft
    %p By a pack of credit and have it instantly available.
  .span1
    7,500 credits
    %small or more

.row
  .span1
  .span6
    %h2 Refer
