- content_for :masthead do
  %h1 Help

- content_for :before do
  %nav.help-page
    = render partial: 'pages/nav'


%p 
  If you are having problems not covered here, email
  %a(href="mailto:support@minefold.com") support@minefold.com

%dl#faq
  %dt How do I play in a world I've joined?
  %dd 
    First make sure you have purchased and downloaded a copy of 
    %a(href="http://www.minecraft.net/") minecraft.
    To connect to the world you have joined on the website, run minecraft, select multiplayer and add the server with the address on the world page. The server address will look something like "pluto.minefold.com"

  %dt Blocks keep on reappearing!
  %dd Make sure you aren't digging too close to where your player spawns. Minecraft makes sure this area doesn't get tampered with

  %dt Big chunks of the world are missing!
  %dd Chunk errors happen sometimes, you can try waiting it out or disconnecting and reconnecting. You can also kill your player by pressing T and typing /kill. For obvious reasons this is probably a last resort...

