- title 'Simple Minecraft servers'
- layout :home
- track 'visited homepage'

.hero-unit.hero-unit-home
  %h1 Simple Minecraft servers
  %h2 Available instantly, free to play for 10 hours a month.

  %a.btn.btn-large.btn-primary{href: user_omniauth_authorize_path(:facebook)}
    Sign up for free now

  %p
    or
    = link_to 'sign up without Facebook', new_user_path

.row
  .span4
    %h2 A fresh perspective
    %p Every world you create (or upload) gets a beautiful, interactive map that helps you find your bearings.

  .span4
    %h2 Pay individually
    %p Instead of one person bearing the cost of a server, Minefold lets everybody join individually. Play for 10 hours a month <em>FREE</em> or upgrade to Minefold <span class="pro">Pro</span> for <em>unlimited</em> hours.

  .span4
    %h2 Show off
    %p Minefold is the easiest way to display and share your builds. Anybody can explore your world's map and then “clone” it to have an instantly playable copy.
