- title 'Simple game servers'
- layout :home
:javascript
  analytics.track('Viewed homepage');

= landing_page :home

.jumbotron
  %h1 Simple game servers
  %h2 Available instantly. Free to start.

.container
  .row
    .span4.offset4
      .well.letter
        %p
          %strong Minefold is shutting down.
          We want to thank the thousands of people who had fun on Minefold servers. We’d also like to thank all the people who have supported us along the way. We’re sorry that we didn’t live up to your expectations and hope you understand.

        %p
          You can read more about this on our blog:
          %a(href="http://blog.minefold.com/" target="_blank") http://blog.minefold.com/

        %p Sincerely,

        = image_tag 'sig.png', class: 'sig'
