- title 'Simple game servers'
- layout :home
:javascript
  analytics.track('Viewed homepage');

= landing_page :home

%br
%br
%br

.container
  .row
    .span6.offset3
      .well.letter
        %p
          %strong Minefold is shutting down.
          We want to thank the thousands of people who had fun on Minefold servers. We’d also like to thank all the people who have supported us along the way. We’re sorry that we didn’t live up to your expectations and hope you understand.

        %p
          You can read more about what is happening
          %a(href="http://blog.minefold.com/post/62013928578" target="_blank") on our blog.

        %p Sincerely,

        = image_tag 'sig.png', class: 'sig'

%br
%br
