- title_and_masthead  'Jobs'
= render partial: 'pages/nav'

%article
  %p Mixpanel's mission is to help the world learn from their data. Our service solves the dichotomy between real-time data analysis and scaling to the internet. Our daily challenges include scaling, data integrity, supporting large companies, API integration, availability, and data visualization. We're seeking extremely talented individuals who are interested in building sufficiently advanced technology and can be unbelievably real-time.

  %p Minefold is a young company in sunny Sydney, Australia. Come help us change the world.
