- content_for :masthead do
  %h1 Jobs

- content_for :before do
  %nav.jobs-page
    = render partial: 'pages/nav'

%p Minefold is a young company in sunny Sydney, Australia. Come help us change the world.
