- title  'Jobs'
- layout :page

.page-header
  %h1 Jobs

%article
  %p We're always looking for talented people to help us build something people love. If you're interested, please email #{mail_to 'jobs@minefold.com'}.
