- title 'Plans & Pricing'.html_safe do
  %h1 Plans &amp; Pricing
  %h2 Join today and you can start playing on Minefold instantly.

- subhead do
  #plans
    .plan.pro
      .price
        %span.dollar-sign $
        %span.amount 12
        %span.period / mo
      .details
        %h2
          Pro
          %span.beta &mdash; Beta only price!
        %p
          Play for <strong>infinity hours</strong> in <strong>unlimited</strong> worlds.

      = link_to 'Create a pro account', '/signup/pro', class: 'button'


    .plan.free
      .price
        %span.dollar-sign $
        %span.amount 0
        %span.period / mo
      .details
        %h2 Free
        %p
          Play for <strong>12 hours free</strong> in <strong>unlimited</strong> worlds.

      = link_to 'Create a free account', '/signup/free', class: 'button'
