- title_and_masthead 'Press'

= render partial: 'pages/nav'

- # Advice from http://www.inc.com/guides/201102/website-design-tips-for-your-press-page.html

%article
  %p Contact info including a Skype call in number, name and personal email of the person

  %h1 Previous articles
  %p List of previous articles (though leave out bad ones)

  %h1 Bios
  %p Short biographies of Dave and Chris. 3rd person, degrees, achievements etc. Don't leave degrees to the last sentence: form a good opinion quickly.

  %h1 Press releases
  %p written in traditional format, anti chronological

  %h1 Photos
  %p Logos and also photos of founders/product.
