- track_pageview

- title 'Pricing'
- masthead do
  %h1 Pricing
  %h2 Beta pricing is for a limited time only.

#features
  %p
    Minefold
    %span.pro Pro
    lets you

  %ul
    %li play for <del>10 hours</del> <strong>unlimited hours</strong> a month
    %li play in unlimited worlds
    %li show off georgous maps

#products
  .product.three-months
    %h1 3 months
    .tagline
      of Minefold
      %span.pro Pro

    .price
      %span.dollar $
      15.00

  .product.six-months
    %h1 6 months
    .tagline
      of Minefold
      %span.pro Pro

    .savings
      You save
      %strong $5

    .price
      %span.dollar $
      25.00

  .product.twelve-months
    %h1 12 months
    .tagline
      of Minefold
      %span.pro Pro

    .price
      %span.dollar $
      45.00

- if signed_in?
  = link_to 'Upgrade to Pro now!', pro_account_path, class: ['btn', 'buy']
- else
  = link_to 'Sign up and start playing now!', new_user_path, class: ['btn', 'sign-up']

%aside
  %h2 Common Questions

  %dl
    %dt Can I pay for my friends?
    %dd
      %p Not yet, sorry.

    %dt When is my time used?
    %dd
      %p Your time only gets deducted when you're actually <em>playing</em> on Minefold.

    %dt Does my time ever expire?
    %dd
      %p Nope!

  .note If you still have any questions, please <strong>don't hesitate to ask #{mail_to 'support@minefold.com'}</strong>.


%article
  %h1 Happy Campers

  #testimonials
    .testimonial
      %q{cite: 'https://twitter.com/technoweenie/status/139955603111018496'}
        Really impressed with how easy
        = link_to '@minefold', 'https://twitter.com/minefold'
        is to play Minecraft with my son.
      %cite
        %img.avatar{src: '//twitter.com/api/users/profile_image/technoweenie?size=normal', width: 20, height: 20}
        %a{href: 'https://twitter.com/technoweenie/status/139955603111018496'} @technoweenie

    .testimonial
      %q{cite: 'https://twitter.com/qrush/status/117244523083595776'}
        Wow, pay by the hour Minecraft with chat, live maps, and more.
      %cite
        %img.avatar{src: '//twitter.com/api/users/profile_image/qrush?size=normal', width: 20, height: 20}
        %a{href: 'https://twitter.com/qrush/status/117244523083595776'} @qrush

    .testimonial
      %q
        I have only been playing for about 30 minutes, but I am loving it so far.
      %cite Joshua Antonishen

    .testimonial
      %q
        Thank you so much guys, you are so boss.
      %cite Chris Elliott
