- title 'Pricing'
- layout :content
- track_pageview

.row
  %center.span6.offset3
    .page-header
      %h1 Pricing

    %p You can play for <i>free</i> on any Minefold server for 10 hours a month. If you want to play longer, you can book a server or upgrade to Minefold Pro.

.price-guide.row
  .pack.span3.offset1
    %h3 3 months
    .tagline
      of Minefold
      %span.pro Pro

    .price
      %span.dollar $
      15.00

  .pack.span4
    %h3 6 months
    .tagline
      of Minefold
      %span.pro Pro

    .savings
      You save
      %strong $5

    .price
      %span.dollar $
      25.00

  .pack.span3
    %h3 12 months
    .tagline
      of Minefold
      %span.pro Pro

    .price
      %span.dollar $
      45.00

%center
  - if signed_in?
    = link_to 'Upgrade to Minefold Pro', pro_account_path, class: %w(btn btn-primary btn-large)
  - else
    = link_to 'Upgrade to Pro', pro_account_path, class: %w(btn btn-primary btn-large)

.row.testimonials
  .span6.offset3
    %hr

    %h3 Happy Campers

    %ul.unstyled
      %li.testimonial
        %q{cite: 'https://twitter.com/technoweenie/status/139955603111018496'}
          Really impressed with how easy
          = link_to '@minefold', 'https://twitter.com/minefold'
          is to play Minecraft with my son.
        %cite
          %a{href: 'https://twitter.com/technoweenie/status/139955603111018496'} Rick Olsen

      %li.testimonial
        %q{cite: 'https://twitter.com/qrush/status/117244523083595776'}
          Wow, pay by the hour Minecraft with chat, live maps, and more.
        %cite
          %a{href: 'https://twitter.com/qrush/status/117244523083595776'} Nick Quaranto

      %li.testimonial
        %q
          I have only been playing for about 30 minutes, but I am loving it so far.
        %cite Joshua Antonishen

      %li.testimonial
        %q
          Thank you so much guys, you are so boss.
        %cite Chris Elliott
