- title 'Pro Shop'
- masthead do
  %h1 Pro Shop

#features
  %p
    Minefold
    %span.pro Pro
    lets you

  %ul
    %li play for <del>10 hours</del> <strong>unlimited hours</strong> a month
    %li play in unlimited worlds
    %li share georgous maps of your worlds

#products
  .product.three-months
    %h1 3 months
    .tagline
      of Minefold
      %span.pro Pro

    .price
      %span.dollar $
      15.00

  .product.six-months
    %h1 6 months
    .tagline
      of Minefold
      %span.pro Pro

    .savings
      You save
      %strong $5

    .price
      %span.dollar $
      25.00

  .product.twelve-months
    %h1 12 months
    .tagline
      of Minefold
      %span.pro Pro

    .price
      %span.dollar $
      50.00

