<iframe allowfullscreen frameborder="0" height="349" src='//www.youtube.com/embed/Kbu84OgITH8' width="620"></iframe>

<hr />

<p class='lead'>
  <strong>Feed The Beast</strong> is a modpack for Minecraft. It adds a huge number of items, recipes and world-generation to the game. The modpack centers on several famous mods such as IndustrialCraft and BuildCraft but the full list is extensive.
</p>

<h5>How to get started</h5>

<p>
  Create your Feed The Beast server on Minefold and then head over to <a href="http://feed-the-beast.com">http://feed-the-beast.com/</a> to download the Client.
</p>

<h5>More info</h5>

<p>
  There's a lot more info over at the <a href="http://feed-the-beast.wikia.com/wiki/Feed_The_Beast_Wiki">Feed The Beast Wiki</a>.
</p>
