<iframe width="620" height="349" src="//www.youtube.com/embed/SNgNBsCI4EA" frameborder="0" allowfullscreen="true"></iframe>

<hr />

<p class="lead">
  <strong>The most highly-rated free game of all time!</strong>
  One of the most popular online action games of all time, Team Fortress 2 delivers constant free updates—new game modes, maps, equipment and, most importantly, hats. Nine distinct classes provide a broad range of tactical abilities and personalities, and lend themselves to a variety of player skills.
</p>

<h5>New to TF? Don’t sweat it!</h5>

<p>
  No matter what your style and experience, we’ve got a character for you. Detailed training and offline practice modes will help you hone your skills before jumping into one of TF2’s many game modes, including Capture the Flag, Control Point, Payload, Arena, King of the Hill and more.
</p>

<h5>Make a character your own!</h5>

<p>
  There are hundreds of weapons, hats and more to collect, craft, buy and trade. Tweak your favorite class to suit your gameplay style and personal taste. You don’t need to pay to win—virtually all of the items in the Mann Co. Store can also be found in-game.
</p>
