<iframe allowfullscreen frameborder="0" height="349" src="//www.youtube.com/embed/isfWKgnL5eA" width="620"></iframe>

<hr/>

<p class='lead'>
  <strong>Tekkit Lite</strong> is a modpack for Minecraft. It includes most of the mods from <a href="/minecraft/tekkit">Tekkit Classic</a> and adds a load more.
</p>

<h5>How to get started</h5>

<p>
  Create your Tekkit Lite server on Minefold and then head over to <a href="http://www.technicpack.net/tekkit-lite/">http://www.technicpack.net/tekkit-lite/</a> to download the Client.
</p>

<h5>More info</h5>

<p>
  There's a lot more info over at the <a href="http://tekkitlite.wikia.com/wiki/Tekkit_Lite_Wiki">Tekkit Lite Wiki</a>
</p>
