@import 'shared';

#uploads-new {


  #page {
    .instructions {
      list-style-type: decimal;
      padding-left: 20px;
      .hint {
        font-size: 12px;
        color: #999;
      }
    }

    pre {
      margin: $line (2*$gutter);
      color: #666;
    }

    form {
      margin-bottom: 4*$line;
      #world_upload_path {
        background: $blue;
        border: none;
        color: white;
        text-align: center;
        @include border-radius($radius);
        width: cols(4);

        &:hover {
          background: darken($blue, 10%);
        }
      }

      .progress {
        margin-top: 2*$line;
        height: 6px;
        background: darken(white, 5%);
        width: 100%;
        @include border-radius($radius);

        .bar {
          background: $blue;
          height: 6px;
          @include border-radius($radius);
          width: 0;
        }
      }

      .status {
        font-size: 12px;
        color: #999;
        line-height: 24px;
        &.error {
          color: $red;
        }
      }

      .error {
        margin-top: 2*$line;

        strong {
          line-height: 24px;
          margin: 0;
          color: $red;
        }
        .message {
          display: block;
        }
      }

      .processing {
        background: url(image-path('spinner.gif')) left 1px no-repeat;
        padding-left: 16px + $gutter;
        font-size: 12px;
        line-height: 18px;
        color: #999;
        margin-top: $line;
        width: cols(4) - 16px;

        strong {
          display: block;
          color: #000;
        }
      }

    }

    .note {
      background: #FFC;
      padding: $line $gutter;
      margin: 0 (-$gutter) $line (-$gutter);
      font-size: 12px;
    }

    a {
      color: $blue;
      text-decoration: none;
      &:hover {
        color: darken($blue, 10%);
      }
    }
  }
}
