- title_and_masthead 'Forgotten password'

#page
  = form_for :user, as: :user, url: new_user_password_path, method: :post do |f|
    %fieldset
      %h3= f.label :email
      = f.email_field :email

    %fieldset.submit
      = f.submit 'Send password reset email'