- title "Reset Password"

%article
  = form_for :user, as: :user, url: new_user_password_path, method: :post do |f|
    %section
      = f.label :email
      = f.email_field :email

    %section.submit
      = f.submit 'Reset password'
