%strong Hi #{@user.username},

%p Over the weekend the vast majority of our users were unable to connect to their servers on Minefold. We are extremely sorry for this. The system has now been fixed but I wanted to offer a deeper explaination of what happened.

%p We've been working on Minefold almost everyday for the last 9 months and since day one, we've been striving to make it as resiliant. Last month we had less than 1 hour downtime and had grown to trust the system we'd built.

%p With this misplaced confidence we 
