<% title 'Page not found' %>

<div class="error-block not-found">
  <h2>Page not found!</h2>

  <p class="lead">
    Sorry, but the page you were looking for could not be found.
  </p>

  <p>
    You can return to our <a href="<%= root_url %>">home page</a>, or send us an email at <a href="mailto:support@minefold.com">support@minefold.com</a> if you can't find what you're looking for.
  </p>
</div>
