<% title 'Page not found' %>

<div class="error-block server-error">
  <h2>Server error!</h2>

  <p class="lead">
    Sorry, you caught us on a bad day.
  </p>

  <p>
    You can return to our <a href="<%= root_url %>">home page</a>, or send us an email at <a href="mailto:support@minefold.com">support@minefold.com</a> if you keep seeing this page.
  </p>
</div>
