@import 'vars';

.account-form-section {
  padding-top: lines(2);
  padding-bottom: lines(2);
  margin-left: 0;

  .section-label {
    margin-left: 0;

    h3 {
      font-size: 18px;
      line-height: lines(6);
      margin: 0;
    }
  }
}
