.accounts {
  margin-bottom: - l(2);

  > .account {
    margin-bottom: l(2);

    > .profile-image {
      width: $gw-gutter * 2; height: $gw-gutter * 2;
      background-color: rgba(black, 0.1);
      background-repeat: no-repeat;
      margin-right: $gw-gutter / 2;
    }

    > .details {
      font-size: 14px;
      line-height: l(2);

      > .name {
        color: lighten(black, 80%);
        margin-bottom: -0.5 * l();
      }

      > .meta > .unlink {
        color: $red;

        &:hover {
          color: darken($red, 10%);
        }
      }
    }

    &.facebook > .profile-image {
      background-image: url(image-path('accounts/facebook.png'));
    }

    &.minecraft > .profile-image {
      background-image: url(image-path('accounts/mojang.png'));
    }

    &.is-linked > .details > .name {
      color: black;
    }
  }
}
