@import 'vars';

.accounts {
  margin-top: - l(4);

  .account {
    margin-top: l(4);

    .profile-image {
      width: 40px; height: 40px;
      background-color: rgba(black, 0.1);
      background-repeat: no-repeat;
      margin-right: $gw-gutter / 2;
    }

    .account-details {

      h4 {
        color: lighten(black, 80%);
        font-size: 14px;
        margin-bottom: - l(1);
        font-weight: 500;
      }

      .unlink-account {
        color: $red;

        &:hover {
          color: darken($red, 10%);
        }
      }

    }

    &.account-facebook .profile-image {
      background-image: url(image-path('accounts/facebook.png'));
    }

    &.account-minecraft .profile-image {
      background-image: url(image-path('accounts/mojang.png'));
    }
  }
}

.accounts .account.is-linked {
  .account-details {
    h4 {
      color: black;
    }
  }
}
