.activity-stream {

  .activity {
    @include clearfix;

    padding-bottom: l(1);
    border-bottom: 1px solid rgba(black, 0.05);
    margin-bottom: l(1);

    .image {
      float: left;
      margin-right: $gw-gutter;
    }

    .main {
      float: left;
      width: grid-width(8) - 40px - $gw-gutter;

      .info {
        @include clearfix;

        .date {
          float: right;
          font-size: 11px;
          color: rgba(black, 0.4);
        }

        .actor {
          font-weight: 600;
        }

      }
    }
  }
}
