.activity-stream {
  > .activity {
    @include clearfix;
    padding: 10px 20px;
    background-color: white;
    padding-bottom: 10px - 1px;
    margin-bottom: 1px;

    &:last-child {
      padding-bottom: 10px;
      margin-bottom: 0;
    }

    > .image {
      float: left;
      margin-right: 10px;
    }

    > .main {
      > .info {
        @include clearfix;

        > .date {
          float: right;
          font-size: 12px;
          color: darken(white, 20%);
        }

        > .actor {
          font-weight: 600;
        }
      }
    }
  }
}
