@import 'vars';

.alert {
  border: none;
  text-shadow: none;
  border-radius: $radius;

  color: rgba(black, 0.4);
  background-color: lighten($yellow, 30%);

  &.alert-success, &.alert-notice {
    color: $green;
    background-color: lighten($green, 50%);
  }

  &.alert-error {
    color: $red;
    background-color: lighten($red, 50%);
  }

  &.alert-info {
    color: $blue;
    background-color: lighten($blue, 50%);
  }

}
