@import 'vars';

.alert {
  border: none;
  text-shadow: none;
  font-weight: 400;
  border-radius: $radius;

  color: darken($yellow, 30%);
  background-color: lighten($yellow, 30%);

  &.alert-success, &.alert-notice {
    color: $white;
    background-color: $green;
  }

  &.alert-error {
    color: $white;
    background-color: $red;
  }

  &.alert-info {
    color: $white;
    background-color: $blue;
  }

}
