.alert {
  border: none;
  text-shadow: none;
  border-radius: $radius;

  padding: l(1) $gw-gutter;
  margin-bottom: l(1);

  font-size: 14px;

  color: rgba(black, 0.6);
  background-color: lighten($yellow, 40%);

  > .close {
    opacity: 1;
    top: 0;
    right: 0;

    @include inline-block;

    font-size: 20px;
    line-height: l(2);
    font-family: $geometric;

    color: rgba(black, 0.4);
  }

  &.alert-success {
    background-color: lighten($green, 40%);
  }

  &.alert-error {
    color: white;
    background-color: lighten($red, 0%);
  }
}
