.btn {
  font-weight: 800;
  border-radius: $radius;
  @include box-shadow(none);
  text-shadow: none;
  border: none;
  outline: none;
  @include anti-aliasing();

  font-family: $geometric;

  // Sizes

  &.btn-mini {
    padding: 0 ($gw-gutter / 4);
    font-size: 12px;
    line-height: l(1.5);
  }

  &.btn-small {
    padding: (0.5 * l()) ($gw-gutter / 2);
    font-size: 14px;
    line-height: l();
  }

  & {
    padding: l() $gw-gutter;
    font-size: 18px;
    line-height: l();
  }

  &.btn-large {
    padding: l(1.5) ($gw-gutter * 2);
    font-size: 20px;
    line-height: l(1.5);
  }

  &.btn-super {
    padding: l(2) ($gw-gutter * 3);
    font-size: 24px;
    line-height: l(2);

  }

  // Colors

  &, &:hover, &.hover {
    color: rgba(white, 0.9);
    background: darken(white, 50%);
  }

  &:active, &.active {
    @include box-shadow(none);
  }

  &.btn-primary,
  &.btn-primary,
  &.btn-info,
  &.btn-success,
  &.btn-warning,
  &.btn-danger,
  &.btn-inverse {
    color: white;
    @include box-shadow(none);
  }

  &.btn-primary {
    background: $blue;
  }

  &.btn-info,
  &.btn-info:hover {
    background: $blue;
  }

  &.btn-success,
  &.btn-success:hover {
    background: $green;
  }

  &.btn-warning,
  &.btn-warning:hover {
    background: $yellow;
  }

  &.btn-danger,
  &.btn-danger:hover {
    background: $red;
  }

  &.btn-inverse,
  &.btn-inverse:hover {
    background: black;
  }

  &.btn-facebook {
    background-color: #3B5998;
  }

  &.btn-twitter {
    background-color: #129BE9;
  }

  &[data-icon]:before {
    margin-right: 10px;
    font-size: 150%;
    vertical-align: middle;
  }

}
