@import 'vars';

.form-actions {
  border: none;
}

.btn {
  font-weight: 800;
  border-radius: $radius;
  @include box-shadow(none);
  text-shadow: none;
  border: none;
  outline: none;
  @include anti-aliasing();

  // Colors

  color: white;
  background: darken(white, 60%);
  
  &:hover, .hover {
    color: white;
    background-color: darken(white, 80%);
    text-shadow: none;
  }
  
  &.btn-primary,
  &.btn-primary,
  &.btn-info,
  &.btn-success,
  &.btn-warning,
  &.btn-danger,
  &.btn-inverse {
    color: white;
    @include box-shadow(none);
  }

  &.btn-primary {
    background: $blue;
    &:hover { background: darken($blue, 20%); }
  }

  &.btn-info,
  &.btn-info:hover {
    background: $blue;
  }

  &.btn-success,
  &.btn-success:hover {
    background: $green;
  }

  &.btn-warning,
  &.btn-warning:hover {
    background: $yellow;
  }

  &.btn-danger,
  &.btn-danger:hover {
    background: $red;
  }

  &.btn-inverse,
  &.btn-inverse:hover {
    background: $black;
  }

}
