@import 'vars';

.comments {
  padding-top: l(4);
  padding-bottom: l(4);

  .new-comment-form {
    margin-bottom: l(8);

    textarea {
      width: 100%;
      height: l(12);
      resize: vertical;
    }
  }

  .comment {
    margin-bottom: l(4);

    .comment-body {
      font-size: 16px;
      line-height: l(4);
    }
  }

  .new-comment-form .comment-meta,
  .comment .comment-meta {
    margin-bottom: l(1);

    > .comment-author {
      font-weight: 600;
    }

    > .comment-date {
      font-size: 14px;
      color: darken(white, 40%);
      margin-top: - l(2);
      opacity: 0;
    }

    &:hover > .comment-date {
      opacity: 1;
    }
  }
}
