.comments {
  padding-bottom: l(0);

  .new-comment-form {
    margin-bottom: l(4);

    textarea {
      width: 100%;
      height: l(3);
      resize: none;
    }
  }

  .comment {
    margin-bottom: l(2);

    .comment-body {
      font-size: 16px;
      line-height: l(3);
    }
  }

  .new-comment-form .comment-meta,
  .comment .comment-meta {
    margin-bottom: l(0.5);

    > .comment-author {
      font-weight: 600;
    }

    > .comment-date {
      color: darken(white, 40%);
      opacity: 0;
    }

    &:hover > .comment-date {
      opacity: 1;
    }
  }
}
