@import 'vars';

.comments {
  padding-top: lines(4);
  padding-bottom: lines(4);
  
  .new-comment-form {
    textarea {
      width: 100%;
      height: lines(12);
      resize: vertical;
    }
  }
  
  .comment {
    margin-bottom: lines(4);
    
    .comment-body {
      font-size: 16px;
      line-height: lines(4);
    }
  }
  
  .new-comment-form .comment-meta,
  .comment .comment-meta {
    margin-bottom: lines(1);
    
    > .comment-author {
      font-weight: 600;
    }
    
    > .comment-date {
      font-size: 12px;
      color: darken(white, 20%);
      margin-top: - lines(2);
      opacity: 0;
    }
    
    &:hover > .comment-date {
      opacity: 1;
    }
  }
}
