@import 'vars';

.credit-pack-display {

  .credit-pack {
    text-align: center;
    padding: l(4) ($gw-gutter / 2);
    @include box-sizing(border-box);

    .note {
      text-transform: uppercase;
      color: lighten($green, 0%);
      font-weight: 600;
      letter-spacing: 0.2em;
      margin-top: - l(1);
      margin-bottom: - l(1);
    }

    .price {
      font-size: 36px;
      line-height: 60px;
    }

    .rate {
      font-size: 12px;
      color: rgba(black, 0.4);
    }

    .equiv {
      font-size: 14px;
      color: rgba(black, 0.6);
      line-height: l(2);

      & + .equiv {
        margin-top: - l(1);
      }
    }
  }

  .credit-pack.best-value {
    background-color: $blue;
    color: white;

    .note {
      color: $yellow;
    }

    .rate {
      color: rgba(white, 0.6);
    }

    .equiv {
      color: rgba(white, 0.8);
    }
  }

}
