@import 'vars';

.credit-pack-picker {
  @include clearfix;
  
  .credit-pack {
    width: 25%;
    float: left;
    padding-top: lines(2);
    padding-bottom: lines(2);
    text-align: center;
    
    .credits {
      font-size: 24px;
    }
    
    .price {
      color: rgba(black, 0.5);
      font-size: 18px;
      line-height: lines(6);
    }
    
    .rate {
      color: rgba(black, 0.5);
      font-size: 11px;
    }
    
    &:last-child {
      border-right: none;
    }
    
    &:hover {
      cursor: pointer;
      background-color: lighten($blue, 50%);
      color: darken($blue, 10%);
    }
    
    &:active, &.active {
      background-color: lighten($green, 50%);
      color: darken($green, 10%);
    }
    
    &.active {
      background-color: lighten($green, 00%);
      color: white;
      .price, .rate { color: rgba(white, 0.5); }
    }
    
    .is-choosing &:first-child {
      border-radius: 0 0 0 6px;
    }
    
    .is-choosing &:last-child {
      border-radius: 0 0 6px 0;
    }
  }
}
