@import 'vars';

.credit-pack-display {
    
  .credit-pack {
    text-align: center;
    padding: lines(8) ($gw-gutter / 2);
    @include box-sizing(border-box);
    border: 2px solid darken(white, 10%);
//    background-color: darken(white, 5%);
      
    .note {
      text-transform: uppercase;
      color: lighten($green, 0%);
      font-weight: 600;
      letter-spacing: 0.2em;
      margin-top: - lines(2);
      margin-bottom: - lines(2);
    }
      
    .price {
      font-size: 36px;
      line-height: 60px;
    }
      
    .rate {
      font-size: 10px;
      color: rgba(black, 0.4);
    }
      
    .equiv {
      font-size: 11px;
      color: rgba(black, 0.6);
        
      & + .equiv {
        margin-top: - lines(2);
      }
    }
  }
    
  .credit-pack.best-value {
    border-color: darken($blue, 10%);
    background-color: $blue;
    color: white;
      
    .note {
      color: $yellow;
    }
    
    .rate {
      color: rgba(white, 0.6);
      font-weight: 600;
    }
    
    .equiv {
      color: rgba(white, 0.8);
      font-weight: 600;
    }
  }
  
}
