@import 'vars';

// TODO Probably think about this name a little more
.credit-advice {

  .credits-bar {
    margin: lines(1) 0;
    width: 100%;
  }

  p {
    color: #333;
    font-size: 13px;
    line-height: lines(4);
    margin-bottom: 0;
  }

}