@import 'vars';

footer {
  background-color: $bg;
  padding-top: lines(8);
  padding-bottom: lines(32);
  font-weight: 800;
  
  ul {
    @include clearfix;
    li {
      float: left;
      margin-right: $gw-gutter;
    }
  }
  
  a {
    color: darken($blue, 10%);
  }

  a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
  }

  .copyright {
    color: rgba($blue, 0.4);
    font-weight: normal;
    font-size: 12px;
    
    a {
      color: rgba($blue, 0.6);
      
      &:hover {
        border-bottom-color: rgba($blue, 0.4);
      }
    }
  }

}
