@import 'vars';

form {

  textarea, #{$all-text-inputs} {
    border: none;
    @include box-shadow(0 0 0 2px rgba(black, 0.1) inset);
    @include border-radius(0);
    padding: 10px 10px;
    font-size: 16px;
    line-height: 30px;
    color: black;

    &:focus {
      @include box-shadow(0 0 0 2px rgba($blue, 0.4) inset);
    }
  }
  
  .control-label {
    font-weight: 600;
  }

  .form-actions {
    background-color: transparent;
    padding: 0;
  }
}
