@import 'vars';

form {

  textarea, #{$all-text-inputs} {
    border: none;
    @include box-shadow(0 0 0 2px rgba(black, 0.2) inset);
    border-radius: $radius;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 30px;
    color: black;
    @include box-sizing(border-box);
    min-height: 40px;

    &:focus, &.focus {
      @include box-shadow(0 0 0 2px rgba($blue, 1) inset);
    }
    
    &:disabled, &.disabled {
      color: rgba(black, 0.2);
    }
  }
  
  textarea {
    font-size: 14px;
    line-height: 20px;
  }
  
  .control-label {
    font-weight: 600;
  }

  .form-actions {
    background-color: transparent;
    padding: 0;
  }
  
}


form.credit-card-form {
  background: rgba(black, 0.05);
  padding-top: lines(4);
  margin-bottom: 0;
  
  > .container {
    width: grid-width(4);
  }
  
  .form-actions .pull-right {
    padding-right: 0;
  }
  
  #card_name, #card_number {
    width: 100%;
  }
  
  .number {
    background-image: url('https://button.stripe.com/assets/cards/placeholder.png');
    background-position: (grid-width(4) - 34px) center;
    background-repeat: no-repeat;
    
    &.identified {
      background-position: (grid-width(4) - 40px) center;
    }
    
    &.visa {
      background-image: url('https://button.stripe.com/assets/cards/visa.png');
    }
    
    &.amex {
      background-image: url('https://button.stripe.com/assets/cards/amex.png');
    }
    
    &.mastercard {
      background-image: url('https://button.stripe.com/assets/cards/mastercard.png');
    }
    
    &.discover {
      background-image: url('https://button.stripe.com/assets/cards/discover.png');
    }
  }
  
  .card_exp_slash {
    font-size: 24px;
    width: 10px;
    color: rgba(black, 0.2);
  }
  
  .cvc {
    width: grid-width(2);
  }
  
  .security {
    border-top: 1px solid rgba(black, 0.05);
    text-align: center;
    padding: lines(2) 0;
    font-size: 11px;
    line-height: 20px;
    
    i {
      opacity: 0.4;
    }
    
    a {
      color: rgba(black, 0.4);
    }
  }
}
