@import 'vars';

form {

  textarea, #{$all-text-inputs} {
    border: none;
    @include box-shadow(0 0 0 2px rgba(black, 0.1) inset);
    @include border-radius(0);

    &:focus {
      @include box-shadow(0 0 0 2px rgba($blue, 0.6) inset);
    }
  }

  .form-actions {
    background-color: transparent;
    padding: 0;
  }
}
