.funpack-picker {
  .item {
    @include clearfix;
    margin-bottom: 20px;

    > .image {
      height: 100%;
      width: 60px;
      float: left;

      img {
        display: block;
        width: 100%;
      }
    }

    > .main {
      margin-left: 80px;

      .name {
        font-weight: 600;
      }

      .description {
        font-size: 12px;
      }
    }
  }
}
