.funpack-picker {
  @include clearfix;
  overflow: scroll-x;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -20px;

  h2 {
    margin: 0;
    font-size: 14px;
    color: black;
    display: none;
    font-weight: normal;
    text-transform: uppercase;
  }

  .item {
    @include box-sizing(border-box);
    @include transition(border-color 300ms ease);

    position: relative;
    background-color: $gray;

    float: left;
    width: 60px + 10px + 60px;
    height: 60px + 60px;

    margin-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;

    border-radius: $radius;

    cursor: pointer;

    > .image {
      overflow: hidden;
      height: 100%;

      img {
        display: block;
        width: 100%;
      }
    }

    .name, .card {
      position: absolute;
      width: 100%;
      color: white;
      background-color: rgba(lighten($blue, 10%), 0.8);
    }

    .name {
      @include box-sizing(border-box);
      @include transition(bottom 300ms ease);
      bottom: 0;
      padding: 5px;
      font-size: 12px;
      text-align: center;
    }

    .card {
      @include transition(top 300ms ease);
      top: 100%;
      height: 100%;

      > .description {
        font-size: 12px;
        line-height: 15px;
        padding: 10px
      }

      > .tick {
        display: none;
        text-align: center;
        line-height: 120px;
      }
    }

    &:hover,
    &.active {
      .name {
        bottom: 100%;
      }

      .card {
        top: 0;
        border-radius: $radius;
      }
    }

    &.active {
      .card {
        > .description {
          display: none;
        }
        > .tick {
          display: block;
        }
      }
//      .name {
//        bottom: 100%;
//      }
//
//      .description {
//        opacity: 0;
////        color: rgba(white, 0.6);
//      }
//
//      &:hover {
//        .tick {
//          opacity: 1;
//        }
//        .name {
////          bottom: 100%;
//        }
//      }
    }
  }
}

