.funpack-library {
  @include clearfix;
  margin-left: -10px;

  > .item {
    float: left;
    position: relative;
    width: 60px + 20px + 60px;
    margin-left: 10px;
    margin-right: 10px;

    &.coming-soon {
      > img {
        opacity: 0.4;
      }

      > .name {
        color: darken(white, 20%);
      }
    }

    > .label {
      position: absolute;
      top: -2px;
      right: -2px;
    }

    > .name {
      padding-top: 5px;
      padding-bottom: 5px;
      text-align: center;
    }
  }
}
