@import 'vars';

.hero-unit {
  border: none;
  text-align: center;
  background-color: transparent;

  padding-left: 0; padding-right: 0;
  margin-bottom: 0;
  
  h1 {
    font-family: $futura;
    margin-bottom: lines(4);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: lines(0);
    font-weight: 400;
    color: lighten(black, 40%);
  }
  
  p {
    font-weight: normal;
    font-size: 14px;
  }
}

.hero-unit.hero-unit-support {
  h1 {
    color: $green;
  }

  h2 {
    color: lighten($green, 20%);
  }
}

.hero-unit.hero-unit-welcome-world {
  text-align: center;
  background-image: url(image-path('terrain.png'));
}
