@import 'vars';

.invitation-message {
  margin-bottom: l(4);

  > .message {
    position: relative;

    font-size: 18px;
    line-height: l(2);

    color: $blue;
    background-color: lighten($blue, 58%);
    padding: l(1) $gw-gutter;

    @include box-sizing(border-box);

    p:last-child {
      margin-bottom: 0;
    }

    &:before, &:after {
      color: $blue;
      font-size: 48px;
      line-height: l(3);
      position: absolute;
    }

    &:before {
      content: "“";
      top: l(1);
      left: -0.25em;
    }

    &:after {
      content: "“";
      top: l(1);
      right: -0.25em;
    }
  }
}
