.jumbotron {
  position: relative;
  background-color: $brand-bg;

  @include font-smoothing(antialiased);

  .jumbotron-cover {
    position: absolute;
    z-index: 0;
  }

  .jumbotron-inner {
    @include container;
    position: relative;
    z-index: 1;

    padding-top: l(6);
    padding-bottom: l(6);
  }

  h1 {
    color: $brand-blue;
    font: 600 36px/#{l(4)} #{$geometric};
  }

  h2 {
    font-size: 24px;
  }

  p {
    // RESET
    margin-top: 0; margin-bottom: 0;

    color: $brand-lighten;
    font: 400 20px/#{l(3)} $geometric;
  }
}

.jumbotron.jumbotron-narrow .jumbotron-inner {
  width: grid-width(10);
}
