.jumbotron {
  border: none;
  border-radius: 0;
  text-align: center;
  color: $darkBlue;
  background-color: $lightBlue;

  padding: l(6) 0;

  h1 {
    color: white;
    font-family: $heading;
    font-size: 64px;
    margin-top: 0;
    line-height: l(8);
  }

  h2 {
    font-size: 28px;
    line-height: l(6);
    margin-top: 0;
    margin-bottom: 0;
  }

  p {
    font-weight: 500;
  }
}
