.jumbotron {
  text-align: center;
  margin-bottom: l(4);

  @include font-smoothing(antialiased);

  h1 {
    // RESET
    margin: 0;

    padding-top: l(4);
    font: 600 64px/#{l(8)} #{$geometric};
    padding-bottom: l(4);
  }

  h2 {
    // RESET
    margin-top: 0; margin-bottom: 0;

    color: $brand-darken;
    font: 500 28px/#{l(3)} $geometric;
  }

  h1 + h2 {
    margin-top: l(-2);
    padding-bottom: l(4);
  }
}
