@import 'vars';

.letter {
  padding: l(2) $gw-gutter;

  color: rgba(black, 0.8);

  background-color: lighten($yellow, 40%);
  background-image: url(image-path('line.png'));

  box-shadow: 0 l(.5) l(1) 0 rgba(black, 0.1),
              0 0 1px rgba(black, 0.2);

  border-radius: 4px;

  .sig {
    margin-left: $gw-gutter / 2;
  }
}
