@import 'vars';

// TODO HACK For Bootstrap and Google Maps
img[src^="http://maps.gstatic.com"], img[src^="https://maps.gstatic.com"] {
  max-width: none;
}

.map, .world-map-view {
  height: 480px / (16/9);
}

@media (min-width: 480) and (max-width: 767px) {
  .map, .world-map-view {
    height: 480px / (16/9);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .map, .world-map-view {
    height: 768px / (16/9);
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .map, .world-map-view {
    height: 980px / (16/9);
  }
}

@media (min-width: 1200px) {
  .map, .world-map-view {
    height: 1200px / (16/9);
  }
}
