@import 'vars';

// All !important rules are overrides for Filepicker.

.modal, #filepicker_dialog_container {
  box-shadow: 0 2px 6px rgba(black, 0.4);
  border: none !important;

  &:focus {
    outline: none;
  }

  .modal-header {
    border-bottom: none;
    text-align: center;
    overflow: hidden;
    padding-top: 10px;
    height: 30px;

    h3 {
      font-size: 16px;
    }
  }

}

#filepicker_dialog_container {
  left: 50% !important;
  width: grid-width(10) !important;
  margin-left: - (grid-width(10)/2) !important;

  top: 50% !important;
  margin-top: - (520px / 2) !important;
}


.modal-backdrop, #filepicker_shade {
  opacity: 1;
  filter: alpha(opacity=100);

  background-color: transparent !important;

  @include radial-gradient(
    50% 50%, ellipse closest-corner,
    rgba(black, 0.4),
    rgba(black, 0.8)
  );
}
