@import 'vars';

.modal {
  display: none;
  
  box-shadow: 0 2px 6px rgba(black, 0.4);
  border: none;
  
  &:focus {
    outline: none;
  }
}

.modal-backdrop {
  opacity: 1;
  filter: alpha(opacity=100);
  
  background-color: transparent;
  @include radial-gradient(50% 50%, ellipse closest-corner, rgba(black, 0.375) 1%, rgba(black, 0.8) 100%);
}
