@import 'vars';

.nav {
}

.nav.nav-pills {
  margin-bottom: 0;
  font-size: 14px;

  li a {
    margin: 0;
    line-height: l(1);
    padding: l(0.5) 0;

    border-radius: $radius;

    color: $blue;
    background-color: transparent;
  }
}

.nav.nav-horizontal {
  @include clearfix;

  > li {
    float: left;

    > a {
      display: block;
    }
  }
}

.nav.nav-server {
  margin-bottom: 0;
  background-color: rgba(black, 0.05);

  > li > a {
    color: rgba(black, 0.6);
    padding: l(1) ($gw-gutter);

    font-size: 14px;
    line-height: l(1);
    font-weight: 600;

    &:hover {
      background-color: rgba(black, 0.05);
    }
  }

  .active > a, .active > a:hover {
    color: white;
    background: $blue;
  }
}
