@import 'vars';

.nav {
}

.nav.nav-horizontal {
  @include clearfix;

  > li {
    float: left;

    > a {
      display: block;
    }
  }
}

.nav.nav-server {
  margin-bottom: 0;
  background-color: rgba(black, 0.1);

  > li > a {
    color: rgba(black, 0.4);
    line-height: l(2);
    padding: l(1) $gw-gutter;

    font-weight: 600;

    &:hover {
      color: white;
      background-color: rgba(black, 0.4);
    }
  }

  .active > a, .active > a:hover {
    color: white;
      background-color: $blue;
  }
}
