.nav-horizontal {
  @include clearfix;

  > li {
    float: left;

    > a {
      display: block;
    }
  }
}

.nav-table {
  > li {
    display: table-cell;
    width: 1%;
    text-align: center;
  }
}
