@import 'vars';

.navbar {
  margin-top: lines(4);

  > .navbar-inner {
    background: transparent;
    @include box-shadow(none);
    padding-left: 0;
    padding-right: 0;
  }

  .brand {
    color: $black;
    font-weight: 800;
  }

  .brand:before {
    content: "";
    width: 40px;
    height: 40px;
    margin: -10px 0;
    margin-right: 10px;
    @include inline-block;
    float: left;
    background: $red asset-data-url('logo-small.png') no-repeat 50% 50%;
    @include border-radius($radius);
  }

  .nav li {
    a {
      font-weight: 800;
      font-size: 16px;
      text-shadow: none;
      color: $black;
    }

    a:hover {
      color: $green;
    }

    &.upgrade a {
      color: $red;
    }
  }

  .divider-vertical {
    background-color: darken(white, 10%);
    border: none;
    width: 2px;
  }

}