.navbar {
  // Bootstrap reset
  margin-bottom: 0;

  padding-top: 10px;
  padding-bottom: 10px;

  .navbar-inner {
    // Bootstrap reset
    background: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;

    margin-left: auto;
    padding-left: 10px;
    width: 960px - 10px - 10px;
    padding-right: 10px;
    margin-right: auto;
  }

  .brand {
    // Bootstrap reset
    margin: 0;
    padding: 0;
    text-shadow: none;

    // Name
    a {
      display: block;
      text-transform: uppercase;
      color: darken($blue, 20%);
      font: bold 18px/40px #{$heading};
      letter-spacing: 0.1em;
    }

    // Logo
    a:before {
      content: "";
      display: block;
      background-color: $blue;
      background-image: asset-data-url('logo.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      width: 40px;
      height: 40px;
      border-radius: 3px;

      float: left;
      margin-right: 10px;
    }
  }

  nav {
    float: right;
    font-weight: 500;

    // Bootstrap reset
    .nav {
      margin-right: 0;

      a {
        color: darken($blue, 20%);
        text-shadow: none;
      }

      .divider-vertical {
        border-color: rgba(black, 0.1);
      }
    }
  }
}
