.navbar {
  padding: l(1) 0;
  background-color: transparent;

  .btn {
    margin-top: 0;
  }

  > .navbar-inner {
    @include box-shadow(none);
    @include clearfix;
    background: transparent;
    filter: none; // For IE
    border: none;
    min-height: auto;
    padding-left: 0; padding-right: 0;
  }

  .brand {
    color: $red;

    font-size: 24px;
    font-family: $geometric;
    font-weight: 600;
    text-shadow: none;
    line-height: l(2);
    padding: 0;
    margin: 0;

    @include inline-block;
  }

  .nav {
    margin-right: 0;

    li {
      font-weight: 600;
      font-size: 18px;
      padding: 0;

      a, a:hover {
        text-shadow: none;
        color: black;
        outline: none;
        padding: 0 ($gw-gutter / 2);

        font-size: 14px;
        line-height: l(2);
      }

      &.divider-vertical {
        height: l(2);
        border-color: rgba(black, 0.1);
      }

      &.sign-up a {
        color: $green;
      }

      &.pricing a {
        color: $blue;
      }

      &.dropdown {

        > .dropdown-toggle > .caret {
          margin-top: (l(2) - 4px) / 2;
        }

        &.open > .dropdown-toggle {
          background-color: black;
          color: white;

          > .caret {
            border-top-color: white;
            border-bottom-color: white;
          }
        }

        .dropdown-menu {
          @include box-shadow(none);
          border-radius: $radius;
          background-color: lighten($blue, 20%);
          border: none;

          &:before {
            border-bottom-color: transparent;
          }

          &:after {
            border-bottom-color: lighten($blue, 20%);
          }

          a {
            color: white;
            font-weight: 600;

            &:hover {
              background: lighten($blue, 0%);
            }
          }
        }

        .dropdown-menu.sign-in-dropdown-menu {
          background-color: white;
          border: 2px solid black;
          padding: l(2) $gw-gutter;

          &:after {
            border-bottom-color: black;
          }

          form, form .form-actions {
            margin: 0;
          }
        }

      }

    }
  }
}
