@import 'vars';

.page-header {
  border-bottom: none;

  margin-top: l(6); margin-bottom: l(6);
  padding-top: 0; padding-bottom: 0;

  > h1 {
    color: black;
    font-size: 36px;
    font-family: $futura;
    line-height: l(4);
    margin-top: 0; margin-bottom: 0;
  }

  > h2 {
    color: rgba(black, 0.4);
    font-size: 24px;
    line-height: l(4);
    margin-top: 0; margin-bottom: 0;
  }

}


.page-header.page-header-progress {

  ol {
    list-style-type: none;

    li {
      width: 33%;
      float: left;
      text-align: center;
      padding: 0;

      text-transform: uppercase;
      font-size: 12px;

      color: rgba(black, 0.4);
    }

    li.active {
      color: black;
      font-weight: 600;
    }
  }

}

.page-header.page-header-server {
  text-align: center;

  .game-name, .funpack-name {
    font-size: 14px;
    font-weight: 600;
    color: rgba(black, 0.4);
    margin-top: - l(2);
    margin-bottom: - l(2);
  }
}
