.page-header {
  border-bottom: none;
  margin-top: l(2);
  margin-bottom: l(2);

  > h1 {
    font-size: 28px;
  }

  > h2 {
    font-size: 24px;
    color: rgba(black, 0.4);
  }

  &.center {
    text-align: center;
  }
}
