.player-list {
  @include clearfix;
  margin-left: -(2px + 2px + 1px);
  margin-bottom: l(1);

  .player {
    float: left;
    margin-left: (2px + 2px + 1px);
    margin-bottom: l(1);

    opacity: 0.6;

    &, img {
      border-radius: 2px;
    }

    &.is-online {
      opacity: 1;
      box-shadow: 0 0 1px 1px black;
    }
  }
}
