.progressmeter {
  list-style-type: none;
  @include clearfix;
  margin: l(4) 0;

  > li {
    float: left;
    text-align: center;

    // Default width
    width: 33%;
    position: relative;
    padding-top: l(4);

    color: darken(white, 20%);

    // Ball
    &:before {
      width: l(3);
      height: l(3);
      background-color: darken(white, 10%);
      display: block;
      content: "";
      margin: 0 auto;
      color: white;
      line-height: l(3);
      font-weight: 600;
      z-index: 1;
      position: absolute;
      left: 50%;
      margin-left: -20px;
      top: 0;

      border-radius: l(1.5);
    }

    &.previous a {
      color: $blue;
    }

    &.active a {
      color: $green;
    }

    &.previous:before {
      background-color: $blue;
    }

    &.active:before {
      background-color: $green;
    }

    &.previous:after {
      border-color: $blue;
    }

    &.active:after {
      border-color: $green;
    }

    // Inner text
    @for $i from 1 through 4 {
      &:nth-child(#{$i}):before {
        content: "#{$i}";
      }
    }

    // Line
    &:after {
      border-top: 2px solid darken(white, 10%);
      width: 100%;
      display: block;
      content: "";
      position: absolute;
      top: 20px - (4px / 2);
      left: -50%;
      z-index: 0;
    }

    &:nth-child(1):after {
      display: none;
    }
  }
}

@for $i from 1 through 4 {
  .progressmeter.progressmeter-#{$i} > ol > li {
    width: (100% / $i);
  }
}
