@import 'vars';

.q-and-a {
  font-size: 18px;
  line-height: lines(6);
  text-align: center;
  color: lighten(black, 40%);
  
  section {
    margin-bottom: lines(8);
  }
  
  h2 {
    font-size: 28px;
    color: $green;
  }
  
  h3 {
    color: black;
    font-size: 18px;
    line-height: lines(6);
    margin-top: lines(4);
  }
}
