@import 'vars';

.q-and-a {
  font-size: 18px;
  line-height: l(3);
  color: rgba(black, 0.4);

  section {
    margin-bottom: l(4);
  }

  h2 {
    margin: 0;
    color: $green;
    font-size: 24px;
    line-height: l(4);
    margin-bottom: l(2);
  }

  h3 {
    margin: 0;
    color: black;
    font-size: 20px;
    line-height: l(2);
    margin-bottom: l(1);
  }
}
