@import 'vars';

.server-controls {
  padding-top: lines(4);
  padding-bottom: 0;
  border-bottom: 1px solid darken(white, 5%);
  
  .status {
//    @include box-sizing(border-box);
//    border: 5px solid $bg;
    margin-bottom: lines(4);
//    border-right: 1px solid black;
    
    text-align: center;
    
    &.running {
    }
    
    p {
      font-size: 12px;
      color: #999;
    }
    
    .address {
      font-family: Inconsolata;
      font-size: 16px;
    }
    
    .img {
      margin-bottom: lines(2);
      border: 5px solid $green;
      @include border-radius(32px);
      padding: 10px;
      @include inline-block;
      img {
        @include border-radius(32px);
      }
    }
  }
  
  .controls {
    background: darken(white, 5%);
    @include clearfix;
    margin-bottom: 0;
    padding: 0 10px;
  }
  
}
