@import 'vars';

@keyframes pulse {
  from { background-color: $green; }
  10%  { background-color: $green; }
  50%  { background-color: lighten($green, 30%); }
  90%  { background-color: $green; }
  to   { background-color: $green; }
}

@-webkit-keyframes pulse {
  from { background-color: $green; }
  10%  { background-color: $green; }
  50%  { background-color: lighten($green, 30%); }
  90%  { background-color: $green; }
  to   { background-color: $green; }
}

@-moz-keyframes pulse {
  from { background-color: $green; }
  10%  { background-color: $green; }
  50%  { background-color: lighten($green, 30%); }
  90%  { background-color: $green; }
  to   { background-color: $green; }
}

@-ie-keyframes pulse {
  from { background-color: $green; }
  10%  { background-color: $green; }
  50%  { background-color: lighten($green, 30%); }
  90%  { background-color: $green; }
  to   { background-color: $green; }
}

@-o-keyframes pulse {
  from { background-color: $green; }
  10%  { background-color: $green; }
  50%  { background-color: lighten($green, 30%); }
  90%  { background-color: $green; }
  to   { background-color: $green; }
}

.server-status {
  @include inline-block;
  @include box-sizing(border-box);
  
  width: 12px;
  height: 12px;
  
  @include border-radius(18px);
  
  &.running {
    background-color: lighten($green, 10%);
    
    @include animation-name(pulse);
    @include animation-duration(4.5s);
    @include animation-timing-function(ease-in-out);
    @include animation-iteration-count(infinite);
  }
  
  &.server-status-large {
    width: 18px;
    height: 18px;
  }
}