.server-controls {
  @include clearfix;
  margin-bottom: 2px;

  &[data-state=playable] {
    background-color: $green;
  }

  &[data-state=idle] {
    background-color: white;
  }

  input {
    border: none;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
    font-family: $monospace;
    font-weight: 600;

    @include box-sizing(border-box);
    padding: 20px;

    color: white;

    background: transparent;
  }
}

.server-address-view {
  @include clearfix;

  .connect {
    display: none;
  }

  &.is-connectable .connect {
    display: inline-block;
  }
}
