@import 'vars';

.server-state-bulb {
  @include inline-block;
  @include box-sizing(border-box);
  
  width: 14px;
  height: 14px;
  
  border-radius: 18px;
  border: 2px solid white;
  
  background-color: darken(white, 10%);
  
  &.is-super {
    background-color: $blue;
  }
  
  &.is-up {
    background-color: $green;
  }
  
  &.server-state-bulb-large {
    width: 18px;
    height: 18px;
  }
}

.server-state, .server-controls {
  padding-top: lines(2);
  padding-bottom: lines(2);
}

.server-state {
  margin-bottom: lines(2);

  background-color: $blue;
  color: white;
  
  // TODO Hack
  .row .span2 {
    padding-left: $gw-gutter / 2;
    width: grid-width(2) - $gw-gutter;
    font-weight: 600;
  }
  
  &.is-up {
  }
  
  &.is-stopped {
    background-color: darken($blue, 5%);
  }
}

.server-controls {
  margin-top: - lines(2);

  h4 {
    line-height: lines(5);
    margin: 0;
    padding-left: $gw-gutter;
    font-size: 14px;
  }
  
  .extension-info .buy-credits {
    display: none;
  }
  
  &.is-too-expensive {
    .extension-info {
      color: $red;
    }
    
    .buy-credits {
      display: block;
    }
  }
}

