.server-list {
  > .item {
    padding: 20px;
    background-color: white;
    margin-bottom: 2px;

    > .primary-action {
      display: block;
      margin-bottom: 10px;

      > .name {
        font-size: 18px;
        line-height: 30px;
        margin: 0;
      }
    }

    > .secondary-action {
      @include horizontal-list;
      float: right;
    }

    .secondary-action > .player-counts {
      @include clearfix;
      @include inline-block;

      > .player-count {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        color: rgba(black, 0.6);
        background-color: $gray;
      }

      > .player-count.current {
        float: left;
      }

      > .player-count.max {
        float: right;
        margin-left: 2px;
      }
    }
  }
}
