//html {
//  background: #EFEFEF;
//}

.navbar {

  background: white;
}

.server-get-started {
  width: grid-width(6);
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-bottom: 2px solid #04e0b7;
  padding: 20px;
  border-radius: 2px;

  margin-top: 60px;

  color: rgba(black, 0.8);

  h1 {

    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 0;
    color: darken(#04e0b7, 10%);
    font-size: 36px;
  }

  .server-address {
    font-family: $monospace;
    font-size: 12px;
    color: #333;
  }

  .step {
    background-color: rgba(black, 0.1);
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;


  }

  .btn {
    background-color: rgba(black, 0.2);
    color: white;
    border-radius: 0;
    display: block;
  }

  .gameplay-summary {
    line-height: 20px;
    word-wrap: nowrap;
    overflow: hidden;
    height: 20px;
  }
}
