.server-list {
  > .item {
    margin-bottom: 20px;

    > .primary-action {
      @include clearfix;
      padding: 0 10px;
      display: block;

      > .name {
        float: left;
      }

      > .player-counts {
        float: right;
      }

      > .name {
        float: left;
        font-size: 18px;
        line-height: 30px;
        margin: 0;
      }

      > .player-counts {
        @include clearfix;
        @include inline-block;

        > .player-count {
          padding: 5px 10px;
          line-height: 20px;
        }

        > .player-count.current {
          float: left;
        }

        > .player-count.max {
          float: right;
          border-left: 2px solid $gray;
        }
      }
    }

    > .meta {
      clear: both;
      border-top: 2px solid $gray;

      > ul {
        @include clearfix;
        margin: 0;
        list-style-type: none;

        > li {
          float: left;
          font-size: 14px;
          line-height: 20px;

          &:first-child {
            border-left: none;
          }

          &.settings {
            float: right;
          }

          > a, &.server-address {
            color: #333;
            display: block;
            padding: 5px 10px;
          }

          &.server-address {
            font-size: 13px;
            font-family: $monospace;
          }
        }
      }
    }
  }
}
