input.server-address {
  font-family: $monospace;
  width: 280px;
  margin-left: -10px;
  font-size: 12px;
}

.server-address:hover {
  cursor: pointer;
}

.server-address-view {
  @include clearfix;

  .connect {
    display: none;
  }

  &.is-connectable .connect {
    display: inline-block;
  }
}
