.page > .server-header {
  padding: 0 20px;
  text-align: left;

  > h1 > a,
  > a {
    color: black;
  }

  .server-header-toolbar {
    float: right;
    line-height: 40px;

    > ul {
      @include horizontal-list;

      > li > a {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}
