@import 'vars';

.server-list {

  .empty {
    color: #CCC;
  }

  .divider {
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(black, 0.4);
    line-height: lines(6);
    border-bottom: 2px solid rgba(black, 0.2);
    padding: 0 ($gw-gutter / 2);
  }

  .new {
    padding: lines(8) 0;
  }

  .item {
    display: block;
    overflow: auto;

    border: 2px solid rgba(black, 0.05);
    border-top: none;

    .primary-action {
      display: block;
      float: left;
      width: grid-width(6);
      padding: lines(1) ($gw-gutter / 2);

      .name {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .nav {
      display: none;
      margin: lines(2) 0;
    }

    .nav-pills-images a {
      margin: 0;
      padding: lines(1) ($gw-gutter / 2);

      img {
        opacity: 0.2;
      }

      &:hover {
        background-color: transparent;
        img {
          opacity: 1;
        }
      }
    }

    &:hover, &:hover {
      .primary-action  {
        border-color: #CCC;
      }

      .nav {
        display: block;
      }
    }
  }
}
