@import 'vars';

.server-controls {
  padding: lines(4) 0;
  border-bottom: 1px solid darken(white, 5%);
  
  .status {
    @include box-sizing(border-box);
    height: grid-width(2);
    border: 5px solid $bg;
    
    text-align: center;
    padding-top: lines(20);
    
    &.running {
    }
  }
  
  .controls {
  }
  
}
