.server-header {
  margin: 40px 20px;

  h1 {
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 10px;
  }

  > h1 > a,
  > a {
    color: black;
  }

  .actions {
    float: right;
    line-height: 40px;

    > ul {
      @include horizontal-list;

      > li > a {
        font-size: 12px;
        line-height: 20px;

        [data-icon] {
          display: block;
          margin: 0 auto;
          width: 32px;

          color: $blue;
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
  }
}
