.support-contacts-list {
  display: table;
  width: 100%;

  > .item {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    > .icon {
      display: block;
      width: 60px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;

      border-radius: $radius;
      overflow: hidden;

      background-color: $gray;

      line-height: 60px;
    }

    &.intercom .icon {
      color: white;
      background-color: $red;
    }
  }
}
