.table.server-types-table {
  margin-top: l(6);
  margin-bottom: l(6);

  thead th {
   border-bottom: 2px solid rgba(black, 0.05);
   padding: l(2) 0;
   font-size: 20px;

   small {
     font-size: 14px;
     font-weight: 500;
   }
  }

  small {
    color: rgba(black, 0.4);
  }

  .normal, .shared {
    text-align: center;
    cursor: pointer;

    &:hover, &.hover {
      background: lighten($blue, 55%);
      color: darken($blue, 0%);
    }
  }

  .how-much-row td {
    line-height: l(4);

    .normal, .shared {
      font-size: 24px;
      line-height: l(4);
      color: rgba(black, 0.4);
    }

    .num {
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: - l(2);
    }
  }

  .normal.is-active, .shared.is-active {
    background-color: $green;
    color: white;
    small {
      color: rgba(white, 0.6);
    }
  }

  thead th.normal.is-active, thead th.shared.is-active {
    color: white;
  }

  tbody td.normal.is-active, tbody td.shared.is-active {
    border-top-color: darken($green, 5%);
  }

  &.is-shared-disabled {
    .shared {
      cursor: default;
      color: rgba(black, 0.4);
      &:hover {
        background-color: transparent;
      }
    }
  }

}
