.tag-list {
  @include horizontal-list;
  margin-left: -5px;

  > .tag {
    @include box-sizing(border-box);
    margin-left: 5px;
    font-size: 12px;
    padding: 0 5px;
    color: rgba(black, 0.6);
    border-radius: $radius;
    box-shadow: 0 0 0 2px rgba(black, 0.05);

    a {
      color: $blue;
    }

    [data-icon] {
      color: rgba(black, 0.2);
    }
  }
}
