.tag-list {
  @include horizontal-list;
  margin-left: -5px;


  li {
    margin-left: 5px;
    font-size: 12px;
    padding: 0 5px;
    background-color: desaturate(lighten($blue, 50%), 60%);
    color: desaturate(lighten($blue, 20%), 60%);
    border-radius: $radius;

    a {
      color: $blue;
    }
  }
}
