@import 'bourbon';
@import 'vars';

// TODO KSS
.tags {
  @include clearfix;
  font-family: $lucida-grande;

  > .tag {
    float: left;
    margin-right: $gutter/4;
    margin-bottom: $line;
    font-size: 12px;

    > a {
      float: left;
      padding: 0 ($gutter/2);

      border: 1px solid #CCC;
      font-weight: normal;
      color: #000;
      line-height: 20px - 2px;

      @include box-sizing(border-box);
      @include border-radius($radius);
      @include transition(border-color .2s ease-in-out);

      &:hover, &:focus {
        border-color: $blue;
      }

      &:active {
        border-color: black;
      }
    }
  }
}