@import 'vars';

.testimonials {
  margin: lines(4) 0 0 0;
  text-align: center;

  h3 {
    margin-bottom: lines(4);
  }

  .testimonial {
    margin-bottom: lines(2);

    > q {
      display: block;
      margin-bottom: lines();
      font-size: 16px;
    }

    > q, > cite {
      margin-left: 20px;
    }

    > cite, > cite a {
      color: #CCC;
    }
  }

}