@import 'vars';

.testimonials {
  text-align: center;

  h3 {
    font-size: 28px;
    line-height: l(12);
    margin-bottom: l(4);
    color: darken($blue, 20%);
  }

  .testimonial {
    margin-bottom: l(2);

    q {
      display: block;
      margin-bottom: l();
      font-size: 16px;
    }

    cite, cite a {
      display: block;
      color: #CCC;
    }
  }

}
