@import 'vars';

.testimonials {

  h2 {
    font-size: 24px;
    line-height: l(4);
    margin-top: 0;
    margin-bottom: l(2);
    color: $green;
  }

  .testimonial {
    margin-bottom: l(2);
    font-size: 18px;
    line-height: l(3);

    q {
      display: block;
    }

    cite, cite a {
      display: block;
      color: rgba(black, 0.4);
    }
  }
}
