@import 'vars';

.world-card {
  border: 2px solid darken(white, 10%);
  @include box-shadow(none);
  @include box-sizing(border-box);
  padding: 10px - 2px;
  padding-bottom: 0;
  display: block;
  margin-bottom: lines(4);

  border-radius: $radius;

  &:hover {
    border-color: $blue;
    @include box-shadow(none);
  }

  img {
    outline: none;
  }

  .caption {
    margin-top: lines(1);
    margin-bottom: lines(1);

    > .creator {
      font-size: 11px;
    }
  }

  .world-meta {
    margin-left: (-$gw-gutter / 2) + 2px;
    margin-right: (-$gw-gutter / 2) + 2px;

    border-radius: 0 0 $radius $radius;

    > .game {
      display: none;
    }
  }
}

.world-card-mini {
  border: 1px solid darken(white, 5%);
  margin-bottom: lines(4);
  padding: 10px;
  @include box-sizing(border-box);
  border-radius: $radius;

  .world-meta {
    margin: lines(2) (-10px);
    margin-bottom: - lines(2);
    padding-left: 0;
  }

  .world-fullname {
    color: $black;
  }

  &:hover {
    border-color: $blue;
    text-decoration: none;
  }

}
