@import 'bourbon';
@import 'vars';
@import 'scaffold';

.world-card {
  @include columns(3);
  @include clearfix;

  > a {
    display: block;
    > .thumb {
      display: block;
      position: relative;
      @include columns(3);
      height: $line * 28;

      img {
        position: absolute;
//        background: $bluealt;
      }

      > .overlay {
        position: relative;
        top: 0;
        left: 0;
        display: none;
        background-color: rgba(white, 0.8);
        color: black;
        height: 140px;
        text-align: center;
      }

      &:hover .stats {
        display: block;
      }
    }
  }

  > .meta {
    > .name {
      font-size: 14px;
      font-weight: 600;
      line-height: $line * 4;
    }

    > .creator {
      font-size: 12px;
      line-height: $line * 3;
      color: rgba(black, 0.4);
    }
  }
}