<p>Hi <%= @user.username %>,</p>

<p>We've noticed you only have 30 minutes remaining in your Minefold account. To continue playing just pop over to <a href="http://www.minefold.com/buy">http://www.minefold.com/buy</a> and top up!</p>

<p>Happy crafting!</p>

<p>PS. Follow us on Twitter (@minefold) or our blog (<a href="http://minefold.tumblr.com">http://minefold.tumblr.com</a>) for the latest updates.</p>