%p Hi #{@order.user.username},

%p Thank you for buying #{pluralize @order.hours, 'hour', 'hours'} on Minefold! You can now play for <strong>#{pluralize @order.user.hours, 'hour', 'hours'}</strong> and <strong>#{pluralize @order.user.minutes, 'minute', 'minutes'}</strong>.
