%li
  %p Open Explorer and navigate to <code>%APPDATA%\.minecraft\saves\</code>

%li
  You should see folders with all your Minecraft worlds here. Select the folder of the world you want to upload right mouse button click and select "Send To > Compressed Zip Folder". This will create a <code>.zip</code> file which you can upload to Minefold.
