%li
  Open up your terminal and navigate to your local world save folder:
  <code>cd ~/.minecraft/saves</code>

%li
  Zip up the world you want with something like <code>zip -r world.zip MyWorld</code>

