%li
  %p Open Finder and navigate to
  %pre
    %code ~/Library/Application Support/minecraft/saves
  %p
    You can get there quicker in Finder by either pressing <code>CMD⌘+SHIFT+g</code> or by selecting "Go" and "Go to folder" in the menu and typing in the path.

%li
  You should see folders with all your Minecraft worlds here. Select the folder of the world you want to upload right mouse button click and select "Compress". This will create a <code>.zip</code> file.

%li Click the button below and select the <code>.zip</code> file that was created.
