%li
  %p Open Finder and go to <code class="highlight">~/Library/Application Support/minecraft/saves</code>.
  %p You can get there by selecting <span class="highlight">"Go"</span> and <span class="highlight">"Go to folder"</span> in the menu (or typing <code>CMD⌘+SHIFT+g</code>) and typing in the path.

%li
  %p There should be folders with your existing Minecraft worlds. Select the folder of the world you want to upload and right mouse button click and select <span class="highlight">"Compress"</span>. This will create a file called <code class="highlight">{world name}.zip</code>.
