- title_and_masthead  'Upload a world'

#page
  %article
    %p
      If you have a single-player world that you'd like to share with your friends you need to create a zip file you can upload. It's easy!

    %h1 #{os.capitalize} Instructions

    %ol.instructions
      = render partial: "instructions_#{os}"
