- unless @pages == 1

  %p.paginator
    = "pages: "
    - for page_num in 1..@pages
      %a{href: "?page=#{page_num}", class: ("active" if @page == page_num)}= page_num
      = "･" unless page_num == @pages