- title 'Photos'
- masthead do
  %h1 Photos

.row
  %aside
    = image_tag 'client.png'

  %article
    %p
      We love seeing the stuff you build in Minecraft so we thought we'd make it easier for you to share your photos. Instead of having to find and upload the screenshots you take in Minecraft, we made a little app that automatically saves them all. You can then review them: chuck the ones you don't like or post the bodacious ones straight to <a href="http://reddit.com/r/minecraft">/r/minecraft</a>.

    %p.signature
      — Lots of love, Chris & Dave

    .download
      = link_to "Download Mac Client (1.5mb)", download_photos_path, class: 'btn'
      %small (Windows client coming soon)

.recent-photos
  %h2 Photos that people have published recently
  %ul
    - Photo.recent.limit(6).each do |photo|
      %li
        = link_to photo_path(photo) do
          = image_tag photo.file.small.url
