- title_and_masthead 'Photos'

%ul.photos
  - photos.order_by([:created_at, :desc]).each do |photo|
    %li.photo-card
      = link_to photo_path(photo) do
        .file= image_tag photo.file.small.url