- title 'Photos'
- masthead do
  %h1 Photos

%aside
  = image_tag 'client.png'

%p
  We love seeing photos of the stuff you build in Minecraft so we thought we'd make it easier for you to share them. Here's a little app that automatically saves screenshots you take in Minecraft. You can then review them and post the most bodacious ones straight to <a href="http://reddit.com/r/minecraft">/r/minecraft</a>.

%p.signature
  — Lots of love, Chris & Dave

.download
  = link_to "Download Mac Client (2.1mb)", download_photos_path, class: 'btn'
  %small (Windows client coming soon)

.recent-photos
  %h2 Photos that people have published recently
  %ul
    - Photo.recent.limit(6).each do |photo|
      %li
        = link_to photo_path(photo) do
          = image_tag photo.file.small.url
