<div class="trial-meter">
  <div>
    <strong><%= time_left current_user.trial_time_left %></strong>
    of server time left
  </div>
  <div>
    <%= link_to 'Upgrade', plans_page_path %>
    or
    <%= link_to 'get free time', bonuses_path %>
  </div>
</div>
