.verification-steps {
  @include row;
  margin-left: 0;

  > .step {
    @include gridColumn;
    margin-right: $gutter;
    font-size: 28px; line-height: $line * 8;


    &:before {
      display: block; float: left;
      margin-right: $gutter / 2;
      text-align: center; font-weight: 900;
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}):before {
        content: "#{$i}";
      }
    }

    &.is-done {
      color: darken(white, 20%);
      text-decoration: line-through;
    }

    &.is-pending {
      color: darken(white, 20%);
    }
  }
}

.verification-status {
  text-align: center;

  > .status {
    margin: ($line * 4) auto;
    padding: ($line * 2) ($gutter / 2);
    @include border-radius(40px);
    @include box-shadow(inset 0 1px 0 rgba(black, 0.1));
    background: darken(white, 5%) url(image-path('spinner-big.gif')) no-repeat center;
    width: 32px; height: 32px;
  }

  > .notice {
    margin-bottom: 0;
    color: darken(white, 20%); font-family: $lucida-grande; font-size: 12px;
  }

  &.is-verified {
    > .status {
      background-color: $green;
      background-image: url(image-path('icons/tick.png'));
    }
    > .notice {
      display: none;
    }
  }
}

.verification-instructions {
  pre {

    text-align: center;
  }
  code {
    color: black;
    font-size: 18px;
  }
}

