#before nav {
  overflow: auto;
  border-bottom: 1px solid darken(white, 5%);

  li {
    float: left;

    a {
      display: block;
      padding: $line $gutter;
      line-height: 24px;
      font-size: 12px;
      color: darken($blue, 10%);
      cursor: pointer;

      &:hover {
        color: black;
      }
    }
  }

}


#players-index {

  nav.sub {

    a {
      display: block;
      padding: 0 $gutter 0 ($gutter/2);
      cursor: pointer;

      @include border-radius($radius 0 0 $radius);

      &:hover {
        background: darken(white, 10%);
      }

      &.active {
        background: white;
        font-weight: 600;
      }

      .size {
        float: right;
        &.zero {
          color: #CCC;
        }
      }
    }
  }

  .users {
    overflow: auto;

    li {
      float: left;
      overflow: hidden;

      .avatar {
        float: left;
        margin-right: $gutter;
        img {
          display: block;
          @include border-radius($radius);
        }
      }

      .username {
        float: left;
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: $line;
      }

      a, .creator {
        color: darken($blue, 10%);
        &:hover {
          color: black;
        };

        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        @include border-radius($radius);
      }

      .creator {
        background-color: white;
        color: darken(white, 20%);
      }

      a {
      }

      a.approve, a.remove {
        @include linear-gradient(rgba(white, 0.1), rgba(black, 0.1));
        margin-bottom: $line;
      }

      a.approve {
        background-color: $green;
        color: white;
        &:hover {
          background-color: darken($green, 20%);
        }
      }

      a.remove {
        background-color: $red;
        color: white;
        &:hover {
          background-color: darken($red, 20%);
        }
      }

    }

  }

  .invite {
    textarea {
      width: 100%;
      resize: vertical;
    }
  }

}