#players-index {

  nav.sub {
    padding: $line 0 $line ($gutter/2);
    background: darken(white, 5%);
    @include border-radius($radius);

    a {
      display: block;
      padding: 0 $gutter 0 ($gutter/2);
      cursor: pointer;

      @include border-radius($radius 0 0 $radius);

      &:hover {
        background: darken(white, 10%);
      }

      &.active {
        background: white;
        font-weight: 600;
      }

      .size {
        float: right;
        &.zero {
          color: #CCC;
        }
      }
    }
  }

  .users {
    list-style: none;
    overflow: auto;
    margin: 0 (-$gutter);
    padding: 0;

    li {
      float: left;
      width: 60px;
      overflow: hidden;
      margin: 0 $gutter (2*$line) $gutter;

      .avatar {
        img {
          display: block;
          @include border-radius($radius);
        }
      }

      .username {
        font-size: 12px;
        text-align: center;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: $line;
      }

      a, .creator {
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        @include border-radius($radius);
      }

      .creator {
        background-color: white;
        color: darken(white, 20%);
      }

      a {
      }

      a.approve, a.remove {
        @include linear-gradient(rgba(white, 0.1), rgba(black, 0.1));
        margin-bottom: $line;
      }

      a.approve {
        background-color: $green;
        color: white;
        &:hover {
          background-color: darken($green, 20%);
        }
      }

      a.remove {
        background-color: $red;
        color: white;
        &:hover {
          background-color: darken($red, 20%);
        }
      }

    }

  }

  .share {
    textarea {
      width: 100%;
      resize: vertical;
    }
  }

}