@include font-face(minecraft, font-path('minecraft'));

body {
  background-color: transparent;
}

header {
  position: relative;
  z-index: 100;

  .navbar {
    margin-top: l(1);
    margin-bottom: l(1);

    > .navbar-inner {
      background: white;
      border: none;

      h1 {
        padding-top: 0; padding-bottom: 0;
        margin-top: 0; margin-bottom: 0;

        a {
          display: block;
          font-weight: 600;
          color: $red;
          font-size: 24px;
          line-height: l(4);
        }
      }
    }
  }
}

h1, h2, h3, h4 {
  color: black;
  font-family: $geometric;
}

code {
  color: black;
  border-color: rgba(black, 0.1);
  background-color: transparent;
}

.highlight {
  background-color: lighten($yellow, 30%);
}

#facebooklikebanner {
  background: darken(desaturate($blue, 40%), 10%);
  color: lighten($blue, 40%);
  font-size: 16px;
  font-weight: 400;
  padding: l(1) 0;
  line-height: l(2);

  iframe {
    @include inline-block;
    height: 24px;
    float: left;
    margin-left: 20px;
  }
  p {
    float: left;
    margin-bottom: 0;
  }
}

#Intercom {
  display: none;
}
