@include font-face(minecraft, font-path('minecraft'));

@mixin app-width($w: 12) {
  #app > .container {
    width: grid-width($w);
  }
}

body {
  background-color: transparent;
}

header {
  position: relative;
  z-index: 100;

  .navbar {
    margin-top: l(1);
    margin-bottom: l(1);

    > .navbar-inner {
      background: white;
      border: none;
      box-shadow: 0 1px 4px 0px rgba(black, 0.2);

      .brand {
        padding-top: 0; padding-bottom: 0;
        margin-top: 0; margin-bottom: 0;

        a {
          display: block;
          font-weight: 600;
          color: black;
          font-size: 20px;
          line-height: l(4);
        }
      }
    }
  }
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: $geometric;
}

code {
  color: black;
  border-color: rgba(black, 0.1);
  background-color: transparent;
}

.highlight {
  background-color: lighten($yellow, 30%);
}

#Intercom {
  display: none;
}

.btn {
  background-image: none;
  border: none;
  @include box-shadow(none);
  text-shadow: none;
  font-weight: 600;
  border-radius: 3px;
}
