@include font-face(minecraft, font-path('minecraft'));

@mixin app-width($w: 12) {
  #app > .container {
    width: grid-width($w);
  }
}

body {
  background-color: transparent;
}

header {
  background-color: white;

  .navbar {
    margin-top: 0;
    padding-top: l();

    padding-bottom: l();
    margin-bottom: 0;

    text-shadow: none;

    > .navbar-inner {
      background: transparent;
      border: none;
      box-shadow: none;
      border-radius: 0;
      text-shadow: none;

      padding-left: g(); padding-right: g();
    }
  }
}

.navbar .brand {
  @include clearfix;
  float: left;
  margin: 0;
  padding: 0;

  > .logo {
    background-color: $blue;
    background-image: asset-data-url('logo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 40px;
    height: 40px;

    border-radius: $radius;
  }

  > .name {
    display: block;
    line-height: l(4);
    font-size: 18px;
    margin: 0;
    color: $blue;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

}

.foo-bar {
  float: left;
  margin: 0 g();
}

a {
  color: $blue;

  &:hover {
    color: $dblue;
    text-decoration: none;
  }
}

h1, h2, h3, h4 {
  font-family: $geometric;
}

code {
  color: black;
  border-color: rgba(black, 0.1);
  background-color: transparent;
}

.highlight {
  background-color: lighten($yellow, 30%);
}

#Intercom {
  display: none;
}

.btn {
  background-image: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: 600;
  border-radius: 2px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  background-color: $blue;
}

.btn-success,
.btn-success:hover,
.btn-success:active {
  background-color: $green;
}

.label {
  text-shadow: none;
  border-radius: 2px;
  box-shadow: none;
}

.label-success {
  background-color: $green;
}

#{$all-text-inputs},
textarea {
  box-shadow: none;
  border-radius: 2px;
  border-color: rgba(black, 0.2);
  padding: l() g();
  font-size: 16px;
  line-height: l(2);
  color: black;
}

#{$all-text-inputs-focus},
textarea:focus {
  border-color: lighten($blue, 20%);
  box-shadow: 0 0 2px 0 lighten($blue, 40%);
}

.form-actions {
  border-top: none;
}

.well {
  border: none;
  border-radius: 2px;
  box-shadow: none;
}

.breadcrumb {
  border-radius: 2px;
  li {
    text-shadow: none;
  }
}

.dropdown {
  .more-servers a {
    color: #CCC;
    text-transform: uppercase;
    font-size: 12px;
  }

}

.alert {
  border: none;
  border-radius: 0;
  text-shadow: none;
  margin-bottom: 0;
  font-weight: bold;
}

