html {
  font-weight: 400;
  font-size: 14px;
  line-height: 4*$line;
  font-family: $helvetica;
  min-width: $width + (2*$radius);
  background: white;
}

.container {
  @include container;
}

.row {
  @include row;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

code {
  font-family: Inconsolata, monospace;
}
