@mixin container {
  width: $width;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

@mixin columns($n) {
  width: ($col * $n) + ($gutter * ($n - 1));
}

@mixin offset($n) {
  margin-left: ($col * $n) + ($gutter * ($n - 1)) + ($gutter * 2);
}

@mixin gridColumn {
  float: left;
  margin-left: $gutter;
}

@mixin makeColumn($span) {
  @include gridColumn;
  @include columns($span)
}

@mixin row {
  margin-left: -$gutter;
  @include clearfix;
}
