// Fonts

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$museo:     'museo-sans-rounded-1', 'museo-sans-rounded-2', Helvetica, Arial, sans-serif;

// Grid

$line: 6px;

$gutter: 10px;
$pad:    20px;
$col:    $pad + 20px + $pad;
$cols:   12;

$radius: 2px;
$border: 1px;

$width: 10 * ($gutter + $col + $gutter);


// Colors

$bg:     #EDEDED;
$gray:   #8BC;
$blue:   #08D;
$yellow: #fff399;
$red:    #F63;
$green:  #BADA55;


// Mixins

@mixin debug {
  background: rgba(red, 0.2);
}

@function gwidth($n) {
  @return $n * ($gutter + $col + $gutter) - 2 * $gutter;
}

@mixin span($n) {
  @include box-sizing(border-box);
  width: gwidth($n);
  margin-left: $gutter;
  margin-right: $gutter;
}
