// Fonts

$proxima: "proxima-nova-soft-1", "proxima-nova-soft-2", $helvetica;

@mixin antialiasing {
  -webkit-font-smoothing: antialiased;
}


// Colors

$yellow: #ffce3a;
$blue:   #3184d8;
$red:    #ff763a;
$green:  #cff037;


// Grid

$line: 5px;

$gutter: 10px;
$pad:    20px;
$col:    $pad + 20px + $pad;
$ncols:  10;

$radius: 3px;

@function cols($n) {
  @return $n * ($gutter + $col + $gutter);
}

$width: cols($ncols) + (2*$gutter);

@mixin wrapper($n) {
  width: cols($n) - (2*$gutter);
  margin-left: auto;
  margin-right: auto;
}


// Debugging

@mixin debug {
  background: rgba(red, 0.2);
}

@import 'shared/global';
@import 'shared/buttons';
@import 'shared/forms';
@import 'shared/system';
