$geometric: "futura-pt-1","futura-pt-2", "Century Gothic", "Tw Cen MT", "Futura LT", Futura, "URW Gothic L", $helvetica;
$monospace: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;
$pictos: "Pictos Custom";

// Colors

$blue: #06C;
$green: #5C2;
$red: #F34;
$yellow: #FD0;
$orange: #F80;
$pink: #C0A;
$purple: #60C;


// Grid

$ncols:  12;

$line: 10px;
$gw-column: 60px;
$gw-gutter: 20px;

$radius: 0px;

@function l($n: 1) {
  @return $n * $line;
}

// Font-sizes

// {12, 14, 18, 20, 24, 36, 48, 64, 72, 96}px


// Bootstrap mixins

@mixin pull-right {
  float: right;
}

@mixin pull-left {
  float: left;
}

@mixin anti-aliasing() {
  -webkit-font-smoothing: antialiased;
}
