$geometric: "futura-pt-1","futura-pt-2", "Century Gothic", "Tw Cen MT", "Futura LT", Futura, "URW Gothic L", $helvetica;
$futura: $geometric;
$monospace: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace;

// Colors

$brand-blue: #0477BF;
$brand-darkBlue: darken($brand-blue, 20%);
$brand-yellow: #F2E205;
$brand-green: #4B5;

$blue: #0477BF;
$yellow: #F2E205;
$darkYellow: #F2B705;
$orange: #F27405;
$darkOrange: #D93D04;

$brand-lightGray: darken(white, 20%);
$brand-darkGray: lighten(black, 20%);

$brand-darken: rgba(black, 0.6);
$brand-lighten: rgba(black, 0.6);

// --

$red: #F34;
$orange: #F80;
$pink: #C0A;
$purple: #60C;


// Grid

$ncols:  12;

$line: 10px;
$gutter: 10px;

$gw-column: 60px;
$gw-gutter: 20px;

$radius: 2px;

@function l($n: 1) {
  @return $n * $line;
}

@function g($n: 1) {
  @return $n * $gutter;
}

// Font-sizes

// {12, 14, 18, 20, 24, 36, 48, 64, 72, 96}px


// Bootstrap mixins

@mixin pull-right {
  float: right;
}

@mixin pull-left {
  float: left;
}

@mixin anti-aliasing() {
  -webkit-font-smoothing: antialiased;
}
