//= require reset
//= require_self

@import 'shared';

$width: 960px;

html {
  font: 400 12px/18px Helvetica;
  background: darken(white, 5%);
}

header {
  background: white -webkit-linear-gradient(top, white, darken(white, 10%));
  border-bottom: 1px solid darken(white, 20%);

  ol {
    width: $width;
    margin: 0 auto;

    border-left: 1px solid darken(white, 20%);
    border-right: 1px solid darken(white, 0%);

    overflow: auto;

    li {
      float: left;
      width: $width / 4;
      -webkit-box-sizing: border-box;
      padding: 6px 10px;

      border-left: 1px solid darken(white, 0%);
      border-right: 1px solid darken(white, 20%);



      p {
        font-size: 10px;
        line-height: 18px;
        text-transform: uppercase;
        color: #999;
      }

      h2 {
        font-size: 48px;
        font-weight: 800;
        line-height: 48px;
      }
    }
  }
}

#page {
  width: $width;
  margin: 24px auto;

  section {
    background: white;
    border-radius: 6px;
    border-top: 1px solid darken(white, 20%);
    padding: (12px - 1px) 10px;
  }

  table {
    th {
      font-size: 11px;
      color: #666;
      text-transform: uppercase;
      text-align: left;
    }
    tr {
      border-bottom: 1px solid darken(white, 10%);
    }
    td, th {
      padding: 0 5px;
      line-height: 24px;
    }
  }

  a {
    color: darken($blue, 10%);
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }
}



#users table {
  .id {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
  }
}
