@import 'vars';

@include font-face(minecraft, font-path('minecraft'));

html {
  background-color: white;
}

body {
  font-size: 16px;
  line-height: l(2);
  font-weight: 500;

  text-rendering: optimizeLegibility;
}

header {
  @include clearfix;
  margin: 0;
}

body {
  min-width: grid-width(12);
}

.container {
  width: grid-width(8);
}

#Intercom {
  display: none;
}

a, a:hover {
  color: $blue;
  text-decoration: none;
}

ol, ul {
  list-style-type: square;
}

ul li, ol li{
  line-height: l(2);
}

p, ul, ol {
  margin-bottom: l(2);
}

hr {
  border-top: 1px solid rgba(black, 0.05);
  border-bottom: 1px solid rgba(black, 0.05);
  margin: l(2) 0;
  height: 0;

  &.hidden {
    border-color: transparent;
  }

  &.small {
    margin: (l(1) - 1px) 0;
  }

  &.large {
    margin: (l(4) - 1px) 0;
  }

  &.x-large {
    margin: (l(8) - 1px) 0;
  }

  &.xx-large {
    margin: (l(16) - 1px) 0;
  }
}

h1, h2, h3, h4 {
  font-family: $geometric;
  margin-top: 0; margin-bottom: 0;
}

code {
  color: black;
  border-color: rgba(black, 0.1);
  background-color: transparent;
}

.highlight {
  background-color: lighten($yellow, 30%);
}

.align-right {
  text-align: right;
}

[data-icon]:before {
  font-family: $pictos;
  content: attr(data-icon);
  -webkit-font-smoothing: antialiased;
}

.muted {
  color: rgba(black, 0.4);
}

