@import 'vars';

@include font-face(minecraft, font-path('minecraft'));

html {
  background-color: $bg;
  padding: 0;
}

header {
  margin: 0;
  background-color: desaturate(darken($blue, 10%), 0%);
}

#page-background-block {
  background-color: $white;
  padding-bottom: lines(16);
}

.container {
  width: grid-width(8);
}

#Intercom {
  display: none;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: darken($blue, 20%);
  text-decoration: none;
}

hr {
  border: none;
  margin: lines(4) 0;
  height: 0;

  &.light {
    border-top: 1px solid white;
  }

  &.small {
    margin: lines(2) 0;
  }

  &.large {
    margin: lines(8) 0;
  }
  
  &.x-large {
    margin: lines(16) 0;
  }
  
  &.xx-large {
    margin: lines(32) 0;
  }
}

h3 {
  margin-top: lines(2);
  margin-bottom: lines(2);
}
