//= require 'reset'

$paytone: 'Paytone One', Helvetica, Arial, 'sans-serif';
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$w: 480px;

$bg: #bde4fe;


html {
  background: #FFF;
}

body {
  width: $w; margin: 72px auto;
  font: 14px/24px $helvetica;
}

header {
  margin: 12px 0;
  padding: 12px 0;

  h1 {
    font: 700 18px/48px $paytone;
    text-transform: uppercase;
    text-shadow: 0 2px 0 darken(#0FC, 20%);
    letter-spacing: 1px;
    text-align: center;
    a {
      color: #0FC;
      text-decoration: none;
    }
  }
  h2 {
    color: #CCC;
    font-size: 11px;
  }
}

h2#comingsoon {
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  text-shadow: 0 1px 0 lighten($bg, 10%);
  span {
    display: block;
    font-size: 28px;
  }
}

form {
  background: #FFF;
  width: $w - (48px * 2); padding: 48px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 6px rgba(#000, 0.1);

  h2 {
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #000;
  }

  .warning {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 12px;
  }

  label {
    display: block;
    margin-top: 6px;
  }

  input {
    padding: 3px 3px;
    font: 14px/18px $helvetica;
    margin: 0;
  }

  button {
    border: none;
    margin: 0;
    border-radius: 3px;
    font: bold 14px/20px $helvetica;
    padding: (2px + 3px) 12px 3px 12px;

    cursor: pointer;

    margin-top: 24px;

    width: 100%;

    background: #0FC;
    color: #FFF;
    text-shadow: 0 -2px 0 darken(#0FC, 10%);
    border-bottom: 2px solid darken(#0FC, 10%);

    &:hover {
      color: #FFF;
      text-shadow: 0 -2px 0 darken(#0FC, 20%);
      background: darken(#0FC, 10%);
      border-bottom: 2px solid darken(#0FC, 20%);
    }

    &:active {
      margin-top: 25px;
      border-bottom: 1px solid darken(#0FC, 20%);
      text-shadow: 0 -1px 0 darken(#0FC, 20%);
    }
  }
}



footer {
  margin: 48px 0;
  text-align: center;
  color: #CCC;
  font: 11px/12px $helvetica;
}