//= require bootstrap
//= require ./base
//= require ./modules/footer
//= require ./modules/hero-unit
//= require ./modules/nav
//= require ./modules/navbar
//= require ./modules/page-header
//= require ./modules/well
//= require_self

// Instructions:
//   1. Compile this file with `rake assets:precompile`.
//   2. Find public/assets/tumblr.css
//   3. Upload it to http://www.tumblr.com/themes/upload_static_file
//   4. Change the template's CSS location

@import 'vars';

.container {
  width: grid-width(8);
}
        
.posts {
  margin-top: 40px;
  
  .post {
    @include clearfix;
    margin-bottom: 80px;
    color: rgba(black, 0.8);
    
    h2 {
      font-size: 36px;
      line-height: 60px;
      margin-bottom: 20px;
      font-family: $futura;
      font-weight: 400;
      
      a {
        color: black;
      }
    }
    
    .post-caption,
    .post-body {
      font-size: 16px;
      line-height: 28px;
    }
    
    .post-body {
      text-align: justify;
      
      h1 {
        font-size: 22px;
      }
      
      h2 {
        font-size: 18px;
        text-align: left;
      }
    }
    
    .meta {
      @include clearfix;
    }
    
    .meta, .meta a {
      font-size: 14px;
      color: rgba(black, 0.2);
    }
  }
}

.pagination {
  a, span {
    border-color: darken(white, 10%);
    
    &:hover {
      background-color: white;
      border-color: black;
    }
  }
  
  .pagination-guide {
    font-size: 12px;
    color: #CCC;
  }
}

header {
  background: transparent;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  
  .brand {
    line-height: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    color: darken($blue, 10%);
    
    &:before  {
      display: none;
    }
  }
  
  .motto {
    font-family: $futura;
    font-size: 16px;
    color: $blue;
    line-height: 20px;
    font-weight: 400;
  }
}

.hero-unit-tumblr {
  img {
    background-color: rgba(black, 0.1);
    padding: 20px;
  }
}

html, footer {
  background-color: darken($blue, 10%);
}

footer {
  padding-bottom: 40px;
  
  a {
    color: white;
    
    &:hover {
      color: white;
      border-bottom-color: white;
    }
  }
  
  .copyright, .copyright a {
    color: rgba(white, 0.4);
    font-size: 14px;
  }
}

.is-permalink #page-background-block {
  background-color: darken($blue, 30%);
  
  header .brand {
    color: white;
  }
  
  .posts .post {
    color: rgba(white, 0.6);
    
    h2 a {
      color: white;
    }
    
    .meta, .meta a {
      color: rgba(white, 0.2);
    }
  }
}


