//= require bootstrap

// Instructions:
//   1. Compile this file with `rake assets:precompile`.
//   2. Find public/assets/tumblr.css
//   3. Upload it to http://www.tumblr.com/themes/upload_static_file
//   4. Change the template's CSS location

@import 'vars';

@import 'base';

@import 'modules/footer',
        'modules/hero-unit',
        'modules/nav',
        'modules/navbar',
        'modules/page-header',
        'modules/well';

body {
  color: rgba(black, 0.4);
  font-size: 18px;
  line-height: l(2.5);
}

body, header {
  min-width: 500px;
}

.container {
  width: 500px;
}

header {
  padding-top: l(4);
  background-color: rgba(black, 0.4);
  padding-bottom: l(4);
  margin-bottom: l(4);

  html.is-blue & { background-color: lighten($blue, 20%); }
  html.is-red & { background-color: $red; }
  html.is-green & { background-color: $green; }
  html.is-yellow & { background-color: $yellow; }

  .navbar .navbar-inner {
    padding-left: 0; padding-right: 0;
    text-align: center;

    .brand {
      width: 100%;
      padding: 0;
      color: rgba(black, 0.4);

      h1 {
        margin: 0;
        font-size: 48px;
        line-height: l(4);
        a {
          color: white;
        }
      }
      h2 {
        font-size: 24px;
        line-height: l(4);
        margin-bottom: l(2);

        a {
          color: rgba(black, 0.6);
        }

      }
    }

    p {
      color: rgba(black, 0.4);
      font-size: 18px;
      line-height: l(2);
    }
  }
}

.posts {
  .post {
    @include clearfix;
    margin-bottom: l(8);
    color: rgba(black, 0.6);

    h2 {
      font-size: 36px;
      line-height: l(4);
      font-weight: 600;
      margin-bottom: l(2);

      a {
        color: black;
      }
    }

    .quote-post {
      q {
        color: black;
        display: block;
        font-size: 36px;
        line-height: l(4);
        margin-bottom: l(2);
      }
      cite {
        display: block;
        margin-bottom: l(2);
      }
    }

    .post-body {
      margin-bottom: l(1);

      h1 {
        color: rgba(black, 0.8);
        font-size: 24px;
        line-height: l(4);
      }

      h2 {
        color: rgba(black, 0.6);
        font-size: 20px;
        line-height: l(3);
      }

      ul, ol {
        line-height: l(3);
      }
    }

    .meta {
      border-top: 2px solid rgba(black, 0.05);
      padding-top: l(1) - 2px;
      @include clearfix;
      font-size: 18px;
      line-height: l(2);

      .avatar {
        float: left;
        margin-right: $gw-gutter / 2;
        img { margin: 0; display: block; }
      }
      .details {
        float: left;
        width: 500px - 36px - ($gw-gutter / 2);
      }
    }
  }
}

.pagination {
  text-align: center;
  ul {
    @include inline-block;

    a, span {
      border: none;
      color: white;
      background-color: $blue;

      &:first-child, &:last-child {
        border-radius: $radius;
      }


      &:hover {
        background-color: $blue;
      }
    }
  }

  .pagination-guide {
    font-size: 14px;
    color: #CCC;
  }
}
