%iframe{width: 620, height: 349, src: 'https://www.youtube.com/embed/Kbu84OgITH8', frameborder: 0, allowfullscreen: true}

%hr

%p.lead
  %strong Feed The Beast
  is a modpack for Minecraft. It adds a huge number of items, recipes and world-generation to the game. The modpack centers on several famous mods such as IndustrialCraft and BuildCraft but the full list is extensive.

%h5 How to get started

%p Create your Feed The Beast server on Minefold and then head over to <a href="http://feed-the-beast.com">http://feed-the-beast.com/</a> to download the Client.

%h5 More info

%p There's a lot more info over at the <a href="http://feed-the-beast.wikia.com/wiki/Feed_The_Beast_Wiki">Feed The Beast Wiki</a>