%iframe{width: 620, height: 349, src: 'http://www.youtube.com/embed/isfWKgnL5eA', frameborder: 0, allowfullscreen: true}

%hr

%p.lead
  %strong Tekkit Lite
  is a modpack for Minecraft. It includes most of the mods from <a href="/minecraft/tekkit">Tekkit Classic</a> and adds a load more.

%h5 How to get started

%p Create your Tekkit Lite server on Minefold and then head over to <a href="http://www.technicpack.net/tekkit-lite/">http://www.technicpack.net/tekkit-lite/</a> to download the Client.

%h5 More info

%p There's a lot more info over at the <a href="http://tekkitlite.wikia.com/wiki/Tekkit_Lite_Wiki">Tekkit Lite Wiki</a>