<div class="activity" id="activity-<%= activity.id %>">
  <div class="image">
    <%= image_tag activity.actor.avatar.small.url, width: 20, height: 20 %>
  </div>
  <div class="main">
    <div class="info">
      <span class="actor"><%= activity.actor.username %></span>
      created this server.
      <div class="date"><%=l activity.created_at %></div>
    </div>
  </div>
</div>
