.activity[activity]
  .image
    = image_tag activity.actor.avatar.small.url, width: 20, height: 20
  .main
    .info
      .date= l activity.created_at
      %span.actor= activity.actor.username
      wrote

    .body= markdown(activity.subject.body)
