<div class="activity mini activity-created" id="activity-<%= activity.id %>">
  <div class="meta">
    <div class="avatar">
      <%= image_tag activity.actor.avatar.small.url, width: 20, height: 20 %>
    </div>
    <div class="actor">
      <%= link_to activity.actor.username, user_path(activity.actor) %>
    </div>
    <div class="caption">created this server</div>
    <div class="date"><%=l activity.created_at %></div>
  </div>
</div>
