.activity[activity]
  .image
    = image_tag activity.actor.avatar.medium.url, width: 40, height: 40
  .main
    .info
      .date= l activity.created_at
      %span.actor= activity.actor.username
      posted

    .body= markdown activity.subject.body
