.activity[activity]
  .image
    = image_tag activity.actor.avatar.small.url, width: 20, height: 20

  .main
    .info
      %span.actor= activity.actor.username
      created this server.
      .date= l activity.created_at
