@import 'shared/vars';

#users_dashboard #content {
  margin-top: 24px;

  ul#worlds {
    overflow: auto;

    li {
      float: left;

      a {
        display: block;
        width: 120px;
        height: 120px;
        background: #EEE url('/world-default-small.png') center no-repeat;
        margin-right: $col;
        border-radius: 3px;
        padding: 0;
        text-decoration: none;
        position: relative;

        span {
          background: rgba(black, 0.6);
          color: #FFF;
          padding: 0 5px;
          top: 6px;
          margin: 0 5px;
          position: absolute;
          font-size: 14px; line-height: 24px;
          border-radius: 3px;
          overflow: hidden;
          max-height: 120px - 6px - 6px;
        }
        &:hover {
          background-color: #CCC;
        }
      }

      &.new a {
        @include blue_button;
        font: 700 60px/100px $helvetica;
      }

    }

  }

  form#new_world {
    input {
      width: 382px;
    }
  }

}
