@import 'shared/vars';

#users-dashboard {
  ul#worlds {
    overflow: auto;
    margin: 0 (-$gutter) ((-2 * $baseline) + 24px) (-$gutter);

    li {
      float: left;
      margin: 0 0 (2 * $baseline) 0;
      background: white;
      border-radius: 3px;
      padding: $gutter;
      text-align: center;

      &.active a {
        border-color: darken(white, 40%);
      }

      a {
        display: block;
        width: 2 * ($col + $gutter) - (2 * $gutter);
        height: 2 * ($col + $gutter) - (2 * $gutter);
        background: #FFF url('/world-default-small.png') center no-repeat;
        border: $gutter solid darken(white, 10%);
        border-radius: $radius;
        &:hover {
          border-color: $blue;
        }
      }

      .info {
        margin-top: $baseline;
        width: 2 * ($col + $gutter);
      }

      &.new a {
        background: #FFF;
        color: #CCC;
        text-decoration: none;
        font: 700 60px/100px $helvetica;
        &:hover {
          color: $blue;
        };
      }

    }

  }
}
