@import 'shared';

#users-dashboard {

  #after-page {
    width: gwidth(4);
  }

  .welcome-notice {
    margin: (2*$line) 0 (4*$line) 0;
    padding: 0 (2*$gutter);
    background: #FFC;
    position: relative;
    overflow: hidden;
    @include border-radius(2*$radius);

    .heart {
      position: absolute;
      bottom: 48px;
      right: 0;
      font: 30px/24px $helvetica;
      color: white;
      font-size: 288px;
    }

    * { position: relative; z-index: 1;}
    .heart { z-index: 0;}


    h2 {
      font: 900 18px/24px $helvetica;
      font-weight: 1000;
      text-transform: uppercase;
      color: $red;
    }

    p {
      padding-bottom: $line;
    }

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: darken($blue, 20%);
      }
    }
  }

  .create-world {
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-bottom: 8*$line;

    .or {
      margin: $line 0;
      font-style: italic;
    }

    a {
      display: block;
      font: 600 18px/24px $helvetica;
      color: white;
      background: $blue;
      padding: $line $gutter;
      text-decoration: none;
      @include border-radius($radius);
      &:hover {
        background: darken($blue, 10%);
      }
    }
  }

  header aside {
    float: right;
  }

  .worlds {
    margin: 0 (-$gutter);

    ul {
      overflow: auto;
      margin: (2 * $line) 0;
    }

    li {
      float: left;
      margin: 0 $gutter (2 * $line) $gutter;
      background: white;
      @include border-radius($radius);
      text-align: center;

      a {
        display: block;
        width: $col + (2 * $gutter) + $col - (2 * $border);
        padding: 2 * ($line - $border) 0;
        line-height: 4 * $line;
        border-radius: $radius;
        color: $blue;
        font-weight: 600;

        border: 1px solid darken(white, 5%);
        text-decoration: none;

        .players {
          color: darken(white, 20%);
          font-size: 12px;
          font-weight: normal;
        }

        &:hover {
          color: darken($blue, 10%);
          border-color: $blue;

          .players {
            color: darken(white, 30%);
          }
        }
      }

      &.new a {
        padding: (4 * $line - (2 * $border)) 0;
      }

      &.active a {
        border-color: $green;
        &:hover {
          border-color: darken($green, 20%);
        }
      }

    }

  }
}
