@import 'shared';

#users-dashboard {

  #after-page {
    width: gwidth(4);
  }

  .welcome-notice {
    margin: 0 0 (4*$line) 0;
    padding: 0 (2*$gutter);
    background: #FFC;
    position: relative;
    overflow: hidden;
    @include border-radius(2*$radius);

    .heart {
      position: absolute;
      bottom: 48px;
      right: 0;
      font: 30px/24px $helvetica;
      color: white;
      font-size: 288px;
    }

    * { position: relative; z-index: 1;}
    .heart { z-index: 0;}


    h2 {
      font: 900 18px/24px $helvetica;
      font-weight: 1000;
      text-transform: uppercase;
      color: $red;
    }

    p {
      padding-bottom: $line;
    }

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: darken($blue, 20%);
      }
    }
  }

  .create-world {
    text-align: center;
    color: #999;
    font-size: 12px;
    margin-bottom: 8*$line;

    .or {
      margin: $line 0;
      font-style: italic;
    }

    a {
      display: block;
      font: 600 18px/24px $helvetica;
      color: white;
      background: $blue;
      padding: $line $gutter;
      text-decoration: none;
      @include border-radius($radius);
      &:hover {
        background: darken($blue, 10%);
      }
    }
  }

  a.current-world {
    display: block;
    padding: 0 (2*$gutter);
    background: $green url(image-path('world-watermark.png')) right center no-repeat;
    text-decoration: none;
    @include border-radius(2*$radius);
    color: white;
    overflow: auto;

    p {
      font-size: 12px;
      color: darken($green, 30%);
      margin: 0 (-2*$gutter);
      padding: $line (2*$gutter);
      border-bottom: 1px solid lighten($green, 10%);
      margin-bottom: -1px;

      .connection-info {
        @include inline-block;
        float: right;
      }

    }

    h2 {
      margin: 0;
      font-size: 24px;
      line-height: 48px;
            display: inline;
    }

    .players {
      display: inline;
      line-height: 48px;
      color: white;
      margin-left: $gutter;
    }

    &:hover {
      background-color: darken($green, 10%);
    }

    .arrow {
      float: right;
      @include border-radius(24px);
      border: $border solid white;
      font-weight: 900;
      font-size: 12px;
      line-height: 18px - (2*$border);
      width: 18px - (2*$border);
      text-align: center;
      margin-top: 3*$line;
    }
  }

  .explore-worlds {
    h2 {
      margin-bottom: 2*$line;
    }
    li {
      a {
        color: $blue;
        display: block;
        line-height: 4*$line;
        padding: $line 0;
        text-decoration: none;
        border-bottom: 1px solid darken(white, 5%);

        &:hover {
          color: darken($blue, 20%);
          border-bottom-color: darken(white, 20%);
        }
      }

      .players {
        display: inline;
        float: right;
        margin-left: $gutter;
        color: #CCC;
        font-size: 12px;
      }

    }
  }

}
