#users-edit {
  #page {
    @include span(4);
  }

  #after-page {
    @include span(4);
  }

  .billing {
    margin-bottom: 2*$line;
  }

  form {
    .spinner {
      float: right;
      margin-top: 6px;
    }
  }

}