#users-new, #users-create {
  #page, #after-page {
    @include span(4);

    form {
      input[type=email], input[type=text], input[type=password] {
        width: 100%;
      }

      .errors p.stripe {
        color: $red;
        padding-bottom: 2*$line;
      }

      .spinner {
        display: block;
        float: right;
        margin-top: $line;
      }

    }
  }

}
