.verification-steps {
  @include row;
  margin-left: 0;

  > .step {
    @include gridColumn;
    line-height: $line * 4; margin-top: $line * 2; margin-bottom: $line * 2;
    font-size: 18px;

    &:before {
      display: block; float: left;
      margin-right: $gutter / 2;
      text-align: center; font-weight: 900;
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}):before {
        content: "#{$i}";
      }
    }

    &.is-done {
      color: rgba(black, 0.2);
    }

    &.is-pending {
      color: rgba(black, 0.2);
    }
  }
}

.verification-status {

  > .host {
    margin: ($line * 6) 0;
    color: $blue; font-weight: 900; font-size: 28px;
  }

  > .spinner {
    padding-left: 16px + ($gutter / 2);
  }

  > .success {
    background: $green;
    padding: ($line * 2) $gutter;
    margin: 0 (-$gutter);
    color: white;
    font-weight: 600; font-size: 18px;
    text-shadow: 0 1px 0 rgba(black, 0.1);
  }

  &.is-waiting {
    > .spinner {
      background: url(image-path('spinner.gif')) no-repeat left 4px;
      opacity: 0.6;
    }
    > .success {
      display: none;
    }
  }

  &.is-verified {
    > .host { display: none; }
    > .spinner {
      display: none;
    }
    > .success {
      display: block;
    }
  }
}
