%h3 Your new #{server.funpack.name} server is ready to go!

%p First make sure you have a copy of Minecraft. You can dowload it here: <a href="http://minecraft.net/download" target="_blank">Download Minecraft</a>. Your server address is:


%p
  %center
    %code.big.highlight= server.address

%p You can connect to it in Minecraft by clicking “Multiplayer” then “Direct Connect” and enter the address into the box. It will look like this:

= render partial: 'funpacks/getting_started/minecraft_connect', locals: { address: server.address }
