a#brand {
  display: block; float: left;

  color: black; font-weight: 800; font-size: 24px; line-height: $line * 8;
  text-decoration: none;

  .logo {
    display: block; position: absolute; left: 0; top: 0; z-index: 100;
    width: $col - ($gutter / 2); height: ($line * 8) + $line;


    background-color: $red;
    background-repeat: no-repeat;
    background-image: asset-data-url('logo-small.png');
    background-position: center ((40px - 22px) / 2);
  }

  img {
    position: absolute; left: 0; background-color: $red;
    padding: 0 $gutter/2;
    border-bottom: 5px solid darken($red, 20%);
  }
  &:hover img { background-color: darken($red, 20%); }

  h1 {
    display: none; margin-left: $col + $gutter; line-height: $line * 12;
    font-weight: 400; font-size: 38px;
  }
}
