a#logo {
  display: block; float: left;

  color: black; font-weight: 800; font-size: 24px; line-height: $line * 8;
  text-decoration: none;

  img {
    position: absolute; left: 0; background-color: $red;
    padding: 0 $gutter/2;
    border-bottom: 5px solid darken($red, 20%);
  }
  &:hover img { background-color: darken($red, 20%); }

  h1 {
    display: none;
    margin-left: 80px + $gutter; font-weight: 800; font-size: 24px;
  }
}
