.header .logo {
  color: black; font-weight: 800; font-size: 24px;
  text-decoration: none;

  .img {
    width: $col; height: $col;
    position: absolute; left: 0; top: 0; z-index: 100;

    background-color: $red;
    background-repeat: no-repeat;
    background-image: asset-data-url('logo-small.png');
    background-position: center (($col - 22px) / 2);
  }

  .name {
    display: none;
    padding-left: $col + $gutter;
  }
}


// ---
// Home


.home .header .logo {
  .img {
    background-image: asset-data-url('logo-large.png');
    background-position: center (($col - 33px) / 2);
  }

  .name {
    display: block;

    font-size: 24px;
    text-shadow: 0 -1px 0 rgba(black, 0.1);
    font-weight: 800; text-transform: uppercase;

    line-height: $line * 12;
  }
}


// ---
// System


.system .header .logo {
  .img {
    position: relative;
  }
}
