.header .logo {
  float: left;
  color: black;
  font-weight: 600;
  font-size: 24px;
  line-height: $line * 12;
  text-decoration: none;

  > .img {
    float: left;
    width: $col;
    height: $col;

    background-color: $red;
    background-repeat: no-repeat;
    background-image: asset-data-url('logo-small.png');
    background-position: center (($col - 22px) / 2);
  }

  > .name {
    display: none;
    padding-left: $col + $gutter;
  }
}

.is-fullscreen .header .logo {
  position: absolute; z-index: 99;
}


// ---
// Home


.home .header .logo > .name {
  display: block;
}


// ---
// System


.system .header .logo > .img {
  position: relative;
}
