ol#nav {
  @include clearfix;
  float: right;

  li {
    float: left;
  }

  li a {
    display: inline-block;
    padding: ($line * 2) ($gutter / 2);
    color: lighten(black, 60%);
    font-weight: 600;
    font-size: 14px;
    font-weight: 400;
    line-height: $line * 8;
    text-decoration: none;
  }

  li a:hover {
    color: black;
  }
  
  #Intercom {
    padding-left: 26px;
    background: transparent url(https://www.intercom.io/assets/black_env.png) no-repeat left center;
  }
  
  #Intercom em {
    color: $blue;
    font-weight: bold;
    font-style: normal;
  }
}


// ---
// System


.system ol#nav {
  display: none;
}
