ol#nav {
  @include clearfix;
  float: right;

  li {
    float: left;
  }

  li a {
    display: block;
    padding: ($line * 2) ($gutter / 2);
    color: lighten(black, 60%);
    font-weight: 600;
    font-size: 14px;
    font-weight: 400;
    line-height: $line * 8;
    text-decoration: none;
  }

  li a:hover {
    color: black;
  }
}


// ---
// System


.system ol#nav {
  display: none;
}
