ol#nav {
  @include clearfix;
  float: right;

  li {
    float: left;
  }

  li a {
    display: inline-block;
    padding: ($line * 2) ($gutter / 2);
    font-weight: 800;
    font-size: 16px;
    line-height: $line * 8;
    text-decoration: none;
  }

  li a:hover {
    color: black;
  }
}


// ---
// System


.system ol#nav {
  display: none;
}
