@import 'shared/vars';

#invites-index #page {

  p {
    font-size: 14px;
    margin-bottom: 4 * $line;
  }

  form {
    div {
      margin-bottom: 2 * $line;
    }

    .errors, .count {
      display: inline;
      margin-left: $gutter;
    }

    .errors { color: $red; }

    input[type=submit] {
      display: inline;
    }

  }

}