- if account.linked?
  .account.is-linked[account]
    .profile-image
      = image_tag account.avatar_url(40), width: 40, height: 40, alt: account.username
    .details
      .name Minecraft (#{account.uid})
      .actions
        = link_to 'Unlink account', account_path(account), :method => :delete, class: 'account-list-unlink'

- else
  .account.is-unlinked[account]
    .profile-image
    .details
      .name Mojang
      .actions
        %a{href: link_mojang_accounts_path, data: {toggle: 'modal', target: '#link-minecraft-modal'}}
          Link your Mojang account
          - if Bonuses::LinkedMojangAccount.new(user: current_user).claimable?
            and get
            %strong= pluralize(Bonuses::LinkedMojangAccount.coins, "minute", "minutes")
            bonus time



#link-minecraft-modal.modal.hide.fade
  .modal-header
    %button.close{type: 'button', data: {dismiss: 'modal'}} &times;
    %h3 Link a Minecraft Account
  .modal-body
