- before do
  #plan
    .wrapper
      %section.description
        - if current_user.casual?
          %strong Casual
          pre-pay for time
        - else
          %strong= current_user.plan_id
          = number_to_currency 19.95
          each month

      - unless current_page?(action: :time)
        %section.buy
          = link_to 'Buy time', time_account_path
