.wrapper
  - Plan.all.each do |plan|
    %section{class: (plan.name || 'casual')}
      %h3= plan.name
      
      - if plan.stripe_id
        %p #{plan.hours} hours every month
        %p
          = number_to_currency(plan.price * 0.01)
          \/ mo
      - else
        %p 
          pre-paid only
          %br/
          %br/
        
      .action
        - if current_plan.id == plan.id
          %button{disabled: true} Current plan
        - elsif current_plan.price > plan.price
          %a.button{href: account_plan_path(plan.id || 'casual')} Downgrade
        - else
          %a.button{href: account_plan_path(plan.id)} Upgrade
