- if account.linked?
  .account.is-linked[account]
    .profile-image
    .details
      .name Steam

      .actions
        %a{href: account.profile_url} Profile
        &middot;
        = link_to 'Unlink account', account_path(account), :method => :delete, class: 'account-list-unlink'

- else
  .account.is-unlinked[account]
    .profile-image
    .details
      .name Steam
      .actions
        = link_to user_omniauth_authorize_path(:steam) do
          Link your Steam account
          - if Bonuses::LinkedFacebookAccount.new(user: current_user).claimable?
            and get
            %strong= pluralize(Bonuses::LinkedFacebookAccount.coins, "minute", "minutes")
            bonus time
