.wrapper
  %section
    %h3 Prepaid
    %p Buy packs of time as you need them.

  - TimePack.all.each do |pack|
    %section
      %h3 #{pack.hours} Hours
      %p #{"%.2f" % (pack.hours / pack.price.to_f)}
      %a.button{href: account_time_pack_path(pack.hours)} Buy for #{number_to_currency(pack.price * 0.01)}
