#buy-time
  %section
    %h3 Prepay
    %p Time as you need it.

  / - TimePack.all.each do |pack|
  /   %section
  /     %h3
  /       %strong= pack.hours
  /       hours
  /     %p.rate #{pack.rate}&nbsp;&cent;/h
  /     %a.button{href: account_time_pack_path(pack.hours)} Buy for #{number_to_currency(pack.price * 0.01)}
