= render partial: 'header'

- before do
  #plans
    = render partial: 'time'

= image_tag 'card.png'
- if current_user.card.nil?
  %p No card on file
- else
  %p
    %strong Card on file:
    = current_user.card.type
