- title_and_masthead 'Dashboard'

-# TODO: "Confirm email address" new_confirmation_path(resource_name)

.row
  %aside
    - if current_user.confirmed?
      %h3 Got a world already?
      %p
        = link_to 'Upload it', new_world_path
        and start playing instantly
        
    - else
      %h3 Confirm your account
      %p You should have recieved an email with instructions on how to confirm your account.

    - if not current_user.confirmed?
      %h3 Confirm your account
      %p You should have recieved an email with instructions on how to confirm your account.

  %article
    %ul.worlds
      - current_user.worlds.sort_by {|w| w.creator.username.downcase + w.name.downcase }.each do |world|
        %li{class: ('active' if current_user.current_world?(world))}
          .name
            = link_to world.creator.username, world.creator, class: 'creator'
            %span.slash /
            = link_to world.name, user_world_path(world.creator, world)
          .meta
            = pluralize world.members.count, 'member', 'members'
