- title 'Dashboard'
- masthead do
  %h1
    - if current_user.worlds.any?
      Dashboard
    - else
      G'Day!

.row
  %aside
    %p= link_to 'Create a new world', new_world_path, class: 'btn'

    - if not current_user.confirmed?
      %h3 Confirm your account
      %p You should have recieved an email with instructions on how to confirm your account.

  %article
    - if current_user.worlds.any?
      %ul.worlds
        - current_user.worlds.sort_by {|w| (w.creator.username + w.name).downcase }.each do |world|
          %li{class: ('active' if current_user.current_world?(world))}
            .name
              = link_to strong_world_fullname(world), user_world_path(world.creator, world)
            .meta
              = pluralize world.members.count, 'member', 'members'

    - else
      %p You need to join or create a new world to play on Minefold. To join a friend's world, go to its page and tap “Ask to play here”. However, if you want to start a new world you can use the “#{link_to 'Create a new world', new_world_path}” button. If you already have a single player world you can import it while creating a new world.
